[2015-03-01 09:18] arizzi opened #18 "Datasets for ttH"
Please update crab/datasets.txt adding samples needed for ttH analysis (and mention this issue in the commit)
@veelken @jpata @bianchini

[2015-03-02 11:43] jpata commented on #18
tt+H(-> bb) phys14 in PR #21. @bianchini do we need anything else urgently for this run?

[2015-03-02 11:52] #18 closed

[2015-03-02 15:23] jpata opened #25 "TT+jets lhe variables empty"
for the TT+jets sample, the lheHT, lheN*, lheV_pt variables are all 0 at least in one file (tree_1.root)

[2015-03-02 15:25] arizzi commented on #25
I guess that is not a MG sample

[2015-03-02 15:27] degrutto commented on #25
the variabales show be there for a Madgraph sample

cheers,

      Michele

On 3/2/15 4:23 PM, Joosep Pata wrote:

[2015-03-02 15:28] jpata commented on #25
Indeed, I had assumes without looking that
/TT_Tune4C_13TeV-pythia8-tauola
is madgraph. I tested lheN* on some
/TTJets_MSDecaysCKM_central_Tune4C_13TeV-madgraph-tauola
and it was fine.

[2015-03-02 15:28] #25 closed

[2015-03-04 21:19] arizzi opened #28 "Add JER/JES related stuff"
We should add the information to handle JER/JES uncertainty.

[2015-03-04 21:19] arizzi commented on #28
@jpata

[2015-03-04 21:20] arizzi opened #29 "Add b-tag uncertainties"

[2015-03-04 21:20] arizzi opened #30 "VBF stuff"
softActivity in rapidity gap

[2015-03-04 21:24] arizzi opened #31 "Add primary vertex"
add PV position

[2015-03-04 21:25] arizzi commented on #30
and add VBF samples in datasets.txt

[2015-03-06 09:07] arizzi opened #33 "Remove aJets and hJets by value"
switch to indices only

[2015-03-17 14:09] arizzi opened #35 "Using Phy14 JECs ?"
Apply latest JECs.
Need changes also in crab config to pass the JET payload (or just add the payload dumper in the CMSSW preprocessor)

@gkasieczka

[2015-03-17 14:17] arizzi opened #36 "Review TAU content"
@veelken can you please review the content and prepare PRs with changes that you would like to have in the Tauanalyzer configuration? (best if you can keep all changes on the VHbbAnalyzer/Heppy side without changes in the PhysicsTools/Heppy package)

[2015-03-17 14:26] arizzi opened #37 "Adapt to GenJets NoNu in 74X MiniAOD"
74X MiniAOD will most likely have GenJetsNoNu as default. For energy regression purposes the neutrino pt should be added back in VHbbHeppy ntuple production

[2015-03-17 19:12] scooperstein opened #38 "PU Jet ID variables"
I am unable to find some of the PU Jet ID variables in the current Step 2 ntuples, maybe I missed them. Beta and betastar, which appear to have the best discriminating power, are of particular interest. If these variables are not currently included, it would be very useful to implement them.

Cheers,
Stephane

[2015-03-24 10:32] degrutto commented on #33
Hi Andrea,

can you clarify now how we select the hJets (highestdijetpt or csv sorted?)

hJets_pt[hJCidx==0(1)] ?
hJets_pt[hJidx_sortcsv==0(1)] ?

thanks

[2015-03-24 10:40] arizzi commented on #33
hJets_pt[hJCidx==0] : first jet with Higgs made with best CSV pair
hJets_pt[hJidx_sortcsv==0]: first jet ordered by BTAG with Higgs made with best DiJet
hJets_pt[hJidx==0]: first jet ordered by Pt with Higgs made with best DiJet

[2015-03-24 10:41] arizzi commented on #33
(please note I just edit the answer... hJets->Jets)

[2015-03-24 11:12] degrutto commented on #33
Hi,

If I open a v10 files and do

root [17] tree->Scan("Jet_pt:Jet_pt[hJidx==0]")

I get that the Jet_pt are not swapped in pt

***********************************************
*    Row   * Instance *    Jet_pt * Jet_pt[hJ *
***********************************************
*        0 *        0 * 223.33830 * 145.90095 *
*        0 *        1 * 145.90095 * 223.33830 *
*        0 *        2 * 91.8905

[2015-03-24 11:14] arizzi commented on #33
remove ==0
Il 24/mar/2015 12:13 "michele de gruttola" <notifications@github.com> ha
scritto:

[2015-03-24 11:16] arizzi commented on #33
Jet_pt[hJidx[0]] and Jet_pt[hJidx[1]]

[2015-03-24 11:18] degrutto commented on #33
understood,
thanks

[2015-04-01 12:57] arizzi commented on #38
can you add them and make a PR in the next 24-48h ?

[2015-04-01 14:11] capalmer85 commented on #38
In the next 48-72, yes.  Today, neither Stephane nor I will be able to look
into this.

On Wed, Apr 1, 2015 at 8:57 AM, arizzi <notifications@github.com> wrote:

[2015-04-03 13:54] arizzi commented on #30
#48 adds the samples

[2015-04-03 13:54] #30 closed

[2015-04-07 16:13] arizzi commented on #38
hi guys, any update here? I did not see it coming in 72h ... then it was
easter... :-)

On Wed, Apr 1, 2015 at 4:11 PM, capalmer85 <notifications@github.com> wrote:

[2015-04-07 16:34] capalmer85 commented on #38
Hi Andrea,  Sorry.  I got really sick at the end of last week and I
completely forgot.  Please don't wait on us for the next production if you
want to start right away.  I'll try to get this in this week.  Thanks for
the followup.

On Tue, Apr 7, 2015 at 12:13 PM, arizzi <notifications@github.com> wrote:

[2015-04-08 07:15] arizzi commented on #36
#49  #50 closes this

[2015-04-08 07:15] #36 closed

[2015-04-17 13:42] arizzi opened #53 "Migrate to 74X"
Sync with Heppy 74X and migrate everything to 74X

[2015-04-20 13:31] arizzi opened #54 "Soft activity in VH"
Implement SA also for VH

[2015-04-20 13:31] arizzi commented on #29
thread started to get ttHbb-like reshaping in Heppy

[2015-04-20 15:22] arizzi opened #55 "add Pileup and nPV"

[2015-05-08 08:03] arizzi opened #56 "Update list of trigger bits"
we should update the list of trigger bits once we switch to 74X based on the menu that will go in 74X reco campaign.
@silviodonato

[2015-05-08 10:40] silviodonato commented on #56
I've update the google DOC: https://docs.google.com/spreadsheets/d/1m7rAF1BBnTuxdElk3x0s_DuC4zOOTWgYDgbRnLnUt_I/edit#gid=252529807.
I will send the trigger list soon.

[2015-05-08 17:24] silviodonato commented on #56
https://github.com/vhbb/cmssw/pull/57

[2015-05-13 07:43] arizzi commented on #53
first version in https://github.com/vhbb/cmssw/tree/vhbbHeppy741patch1
 * history lost due to impossible merge
 * missing stuff from cmssw packages (jetproducer etc..) needed for substructures

Bug in ROOT6 PyROOT creates troubles with operator+= in LorentzVector, a workaround is
def decorate_tlv(tlv_class):
    tlv_class.__add__ = lambda self, other : self.__class__(self.X()+other.X(),self.Y()+ot

[2015-05-14 08:07] arizzi commented on #55
+                NTupleVariable("nPU0", lambda ev : [bx.nPU() for bx in  ev.pileUpInfo if bx.getBunchCrossing()==0][0], help="nPU in BX=0"),
+                NTupleVariable("nPVs", lambda ev : len(ev.goodVertices), help="total number of good PVs"),

[2015-05-15 07:35] degrutto opened #58 "add softlepton id for electrons and check what is ther efor muons"
for v12

[2015-05-27 09:28] arizzi commented on #53
done in

[2015-05-27 09:28] #53 closed

[2015-05-27 12:54] arizzi commented on #53
New reference branch https://github.com/vhbb/cmssw/tree/vhbbHeppy743

[2015-05-27 13:03] arizzi commented on #56
closed with #62

[2015-05-27 13:03] #56 closed

[2015-05-27 13:04] arizzi commented on #38
hi guys any news? can you please add this stuff?
please start from vhbbHeppy743 (and a CMSSW 743 release area)

[2015-05-27 13:05] arizzi opened #63 "Switch to float instead of double"
use float for output ntuple as default instead of double

[2015-05-27 13:09] arizzi commented on #63
#64

[2015-05-27 13:09] #63 closed

[2015-05-27 13:09] arizzi commented on #55
#64

[2015-05-27 13:09] #55 closed

[2015-06-01 07:17] arizzi commented on #58
do you have some code for this?

[2015-06-01 07:52] degrutto commented on #58
Hi Andrea,

sorry I forgot to update you on the status
looseIdSusy is fine for now, until new loose id will be provided (for electrons as well).
I suspect they will update the looseIdSusy anyway....

I'll close the milestone, as actually not needed

   Michele

[2015-06-01 07:52] #58 closed

[2015-06-01 07:53] arizzi commented on #58
wasn't some flag missing in the lepton_in_jet ?

[2015-06-01 08:10] degrutto commented on #58
Hi,

so I'd say we want to use "soft" leptons for two cases:

A) for the b-jet regression, we want to have electrons in jet down to 5ish GeV or so, witha  minimum id, and I believe wjat is done now is fine
https://github.com/vhbb/cmssw/blob/vhbbHeppy741patch1/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L172

where the inclusive leptons is defined in
https://github.com/vhbb/cmssw/blo

[2015-06-04 10:22] arizzi opened #65 "bjet regression"

[2015-06-05 13:45] jpata opened #66 "TLorentzVector sum"
I seem to be affected by this issue [1] on the vhbbHeppy741patch1 branch.

[code]

I'm using the following versions:
[code]

[1] https://sft.its.cern.ch/jira/browse/ROOT-6634

[2015-06-08 07:31] arizzi commented on #66
is fixed in CMSSW 743

[2015-06-08 07:31] #66 closed

[2015-06-17 07:50] jpata opened #71 "higgs gen decay mode"
Do we have a way to categorize by the higgs decay mode at gen level, e.g. ttH(->bb), ttH(->WW)? If not I'll add to my PR #67 .
@bianchini @arizzi

[2015-06-17 14:29] jpata opened #72 "pos/neg weight counter"
for the aMC@NLO samples we have to keep track of the effective number of events

Neff = N(genWeight>0) - N(genWeight<0)

inclusively. Shall I make a PR for the Count histogram, adding 2 more bins with the pos/neg count?

@arizzi

[2015-06-17 15:02] arizzi commented on #72
we usually had different histos for different counting
Il 17/giu/2015 16:30, "Joosep Pata" <notifications@github.com> ha scritto:

[2015-06-19 15:11] jpata commented on #72
Added 2 additional separate histos with neg/pos weight count in PR #67, commit 42ceb7.

[2015-06-19 15:13] jpata commented on #71
I noticed that it already exists in `VHGeneratorAnalyzer.py` but it crashes (sometimes), so I fixed it in PR #67 and added also to the ntuple.

[2015-06-19 15:16] jpata commented on #28
Took a while but we have now JES uncertainties (Summer13) attached to the jets in PR #67, also needed #68.

[2015-06-22 11:57] arizzi opened #73 "Migrate to 744patch4"
sync heppy

[2015-06-22 13:23] arizzi commented on #29
@jpata is going to store the per jet weights

[2015-06-23 13:16] arizzi commented on #73
done to 745

[2015-06-23 13:16] #73 closed

[2015-06-23 13:19] #71 closed

[2015-06-23 13:19] #72 closed

[2015-06-23 13:20] jpata commented on #29
This is done, @arizzi you can close, I can't.

[2015-06-23 13:21] #29 closed

[2015-06-23 13:21] jpata commented on #72
was closed by #67

[2015-06-23 13:21] jpata commented on #71
was closed by #67

[2015-06-23 13:22] arizzi commented on #28
@jpata  I close this too, right? We checked that JER is already implemented by Heppy

[2015-06-23 13:22] #28 closed

[2015-06-23 13:23] jpata commented on #28
right.

[2015-06-23 14:47] arizzi commented on #54
done #81

[2015-06-23 15:10] #54 closed

[2015-06-24 07:19] arizzi opened #83 "Different type of MET"
Should we add different METs including
- MHT
- tkMET
- type1+2... etc..
- PuppiMET

?

[2015-06-24 08:13] silviodonato opened #84 "Information about PU collisions"
It would be interesting to add some information about the hardness of PU collisions in the events.
The only information available in MINIAOD is the pT hats of the QCD.
I think we could add two variables:
 - the sum of pT hat of all in-time PU collisions
 - the maximum of pT hat of all in-time PU collisions

It would be nice to have the same information for the previous and following bunch crossing

[2015-06-24 08:14] silviodonato commented on #84
wrong milestone

[2015-06-24 08:14] #84 closed

[2015-06-24 08:15] silviodonato opened #85 "Information about PU collisions"
It would be interesting to add some information about the hardness of PU collisions in the events.
The only information available in MINIAOD is the pT hats of the QCD.
I think we could add two variables:
 - the sum of pT hat of all in-time PU collisions
 - the maximum of pT hat of all in-time PU collisions

It would be nice to have the same information for the previous and following bunch crossing

[2015-06-24 08:16] silviodonato commented on #85
(for V13 milestone)

[2015-06-24 08:23] silviodonato opened #86 "True primary vertex information"
At the moment in the ntuple we can't identify the events with the wrong reconstructed primary vertex.
This information it can be added with one of the following variables:
- z-coordinate of true PV and reco PV;
- delta z between true and reco PV;
- a flag that says if delta z between true and reco PV is below a threshold (eg. 1 mm).

[2015-06-24 08:23] silviodonato commented on #86
(for V13 milestone)

[2015-06-24 08:37] degrutto commented on #83
yes I would say yes

On 6/24/15 9:19 AM, arizzi wrote:

[2015-06-24 08:42] arizzi commented on #83
code please :-)

On Wed, Jun 24, 2015 at 10:37 AM, michele de gruttola <
notifications@github.com> wrote:

[2015-06-25 14:53] scooperstein opened #94 "Duplicates in TTbar 'GenLep' collection"
Hi,

I have been using the 'GenLep' collection in the V11 step2 ntuples. I notice that in the V11 sample 'TT_Tune4C_13TeV-pythia8-tauola', there is a problem with duplicated lepton entries. When there are two items in the collection for an event, i.e. 'nGenLep==2', the particle entries GenLep[0] and GenLep[1] are identical. When there are four items, the first and the third leptons, and the second

[2015-06-26 12:55] degrutto commented on #83
Hi Andrea,

I have the snippet ready and tested to add

metNoPu
tkMET
mht (pt>30)
and raw met (which was missing before)

but to add Puppimet a modification to METAnalyzer is needed (I already informed MRosaria about that)
how should I proceed with the commit?
Make two pulls requests (once for vhbb and one for heppy)? and if so what suffix/prefix for the branch to commit for the heppy one ?

btw,

[2015-06-26 14:19] scooperstein commented on #94
I notice that there are almost no events with 'nGenLep==1' or 'nGenLep==3'. I wonder if in this sample, the cases where 'nGenLep==2' correspond to only one actual gen. lepton which has been duplicated? Similarly, 'nGenLep==4' events are probably events that actually have only two gen. leptons.

Stephane

[2015-06-29 17:15] degrutto commented on #83
Hi Andrea,
see the next label.

Regarding the PuPPiMET it is fine if one instantiate the METAnalyzer with copyMETsByValue, which maybe is intended to be flagged when using different MET?
The problem is the current miniAOD we do not have all the met uncertainties filled for puppyMET hence it crashes when trying to fill those info in the miniAnalyzer,
and by raising copyMETsByValue, you do not do th

[2015-07-01 11:31] degrutto commented on #83
see https://github.com/vhbb/cmssw/pull/96

[2015-07-07 18:57] cvernier opened #100 "Idx btag order"
It would help having saved for the jet collection (Jet_*) the b-tag order index.

thanks
Caterina

[2015-07-13 10:22] #83 closed

[2015-07-16 09:22] arizzi opened #103 "fix unrolling of trigger bits"
set.update([TP]) instead of set.update(TP)

the PR should be first made against colin repo then imported in vhbb

[2015-07-17 12:49] #103 closed

[2015-07-17 12:50] arizzi commented on #38
hi guys, we are closing V12 in few days... any luck with this?

[2015-07-17 12:53] arizzi commented on #37
added wNuPt,wNuEta,wNuPhi variables

[2015-07-17 12:54] #37 closed

[2015-07-17 12:59] arizzi commented on #94
do they have the same status?

[2015-07-17 13:00] arizzi commented on #86
@silviodonato any chance to make a PR for this in the next 24h so that we have it in V12?

[2015-07-17 13:02] arizzi opened #107 "Indices messed up for hJCidx?"
oot [2] tree->Scan("lumi:nJet:Jet_pt:Jet_eta:Jet_phi:GenBQuarkFromH_pt:GenBQuarkFromH_eta:GenBQuarkFromH_phi:Jet_btagCSV:Jet_id:Jet_puId:hJCidx","evt==28877527 || evt==29060197 || evt==29060705 || evt==28889***********************************************************************************************************************************************************************
*    Row   * Instance *

[2015-07-17 13:10] scooperstein commented on #38
Hi Andrea,

Sorry that this is not yet taken care of. I did some digging with Michele, and unfortunately these variables are not currently stored in the miniAOD, so we don't directly have access to the these inputs for the Pileup Jet Id discriminator, just the output. We can re-calculate beta and betastar ourselves, but I have not yet had the chance to implement it.  I will try to do so before the

[2015-07-17 13:10] arizzi commented on #107
@azzurrip next time you can open the issue yourself :-P

[2015-07-17 13:18] azzurrip opened #108 "add leaf with "GenJet_wNuMass""
to complete GenJet_wNu 4-vector (and be able to target energy)

[2015-07-17 13:23] azzurrip opened #109 "Add tau leptons (pdg = +-15) to the GenLep collection"

[2015-07-17 13:26] arizzi commented on #109
it is in gentauleps from Heppy GeneratorAnalyzer, so it will go in another collection

[2015-07-17 13:29] azzurrip opened #110 "Add collection "GenHiggsSister""
all other genparticles daughters of the Higgs mother
(where the Higgs mother has pdgId!=25., ie is not a Higgs copy).

Will add ISR partons and, most importantly, quarks from the VBF
production, so we can measure matching efficiencies with jets.

[2015-07-17 13:36] arizzi commented on #110
pdgId 15? or status 15?
I think you need to provide some code here...
please also consider having a look at existing Heppy collections produced by GeneratorAnalyzer to see if something fits what you want

[2015-07-17 13:44] azzurrip commented on #110
sorry was a typo, I meant pdgid not 25 , ie
the higgs mother must not be a higgs boson,
is so we need to up to find a mother that  is not a higgs boson

[2015-07-17 14:18] azzurrip opened #111 "flag the presence of eventual ISR jets filling their index in a new leaf "isrJidx""
set isrJidx = -1 by default
make 4 vector sum of V and Higgs  (VH = V + H)
(H_pt, H_eta, H_phi, H_mass) + (V_pt, V_eta, V_phi, V_mass)
making H candidate with most b-tagged jet pair
If reco pT(VH)>30
search for highest pT jet in the recoil region
DeltaPhi(jet,VH)>  3.14159 - 0.4
if the jet is there flag save the index in isrJidx

[2015-07-17 14:33] azzurrip opened #113 "modifications to soft activity VH"
- remove bb ellipse veto area
- veto isr jet, if present in the event, according to
https://github.com/vhbb/cmssw/issues/111

[2015-07-17 14:33] #100 closed

[2015-07-17 14:33] #108 closed

[2015-07-17 14:33] #107 closed

[2015-07-17 14:33] #109 closed

[2015-07-17 14:34] arizzi commented on #110
added more stuff, perhaps we can optimize later and add just the sisters, we should review checking the overal size with current approach

[2015-07-17 14:45] silviodonato commented on #86
I don't think so...:(

[2015-07-17 15:08] #111 closed

[2015-07-17 15:09] arizzi commented on #113
not yet vetoing ISR jet... in #114

[2015-07-17 15:21] #113 closed

[2015-07-17 15:43] capalmer85 commented on #94
They do have the same status.  Below is a an example.  They are always
the same when there are two.

root [3]  tree->Scan("nGenLep:GenLep_pdgId:GenLep_pt:GenLep_status:GenLep_pt[0]==GenLep_pt[1]","nGenLep>1")
***********************************************************************************
*    Row   * Instance *   nGenLep * GenLep_pd * GenLep_pt * GenLep_st
* GenLep_pt *
***********************

[2015-07-17 15:51] arizzi commented on #94
did you check on V12 (T12) testing samples?

On Fri, Jul 17, 2015 at 5:43 PM, capalmer85 <notifications@github.com>
wrote:

[2015-07-17 15:53] capalmer85 commented on #94
No.  I will do that now.

On Fri, Jul 17, 2015 at 11:51 AM, arizzi <notifications@github.com> wrote:

[2015-07-17 16:16] capalmer85 commented on #94
In the files in

arizzi/VHBBHeppyT12/TT_TuneCUETP8M1_13TeV-powheg-scaledown-pythia8

I do NOT see this feature.  No duplicates.  Are these the files I should
check or a different set?

On Fri, Jul 17, 2015 at 11:53 AM, Christopher Palmer <capalmer@cern.ch>
wrote:

[2015-07-17 16:23] arizzi commented on #94
those are ok, the new generator has no such feature
Il 17/lug/2015 18:17, "capalmer85" <notifications@github.com> ha scritto:

[2015-07-18 06:23] #94 closed

[2015-07-18 09:23] azzurrip opened #119 "Make QGL less lazy"
Needed for fully hadronic ttH (on 8 pt-leading central jets),
and useful for VH b-jet likelihood.

Is it possible to run it on all jets with pT>20 ?

[2015-07-18 09:36] arizzi commented on #119
need faster code

[2015-07-18 09:45] arizzi commented on #119
btw for VH b-jet likelihood we better use b-tagging, I'd not be very happy to throw stuff into an MVA just because "everything adds something"... why QGL should help the VH b-jet likelihood?

[2015-07-20 06:31] azzurrip commented on #119
Should add discrimination against the ISR jets (gluons).
It was suggested/requested to check during the last Hbb meeting.
If it does not improve much we indeed can stick to using
only jet b-tagging and pT, that works fine.

[2015-07-21 05:26] azzurrip commented on #110
Made a test tree on VBF Hbb signal.
Unfortunately the GenSummary collection never includes the VBF quark legs
that was the main need here ...

[2015-07-21 14:08] degrutto opened #122 "fix btag weight"
possible bug in BTagWeightCalculator.py resulting in weight too low for for jet with pt>160

[2015-07-21 14:14] azzurrip opened #123 "Raise TrackJet pT threshold for softActivityVH_HT"
From pT>1GeV to pT>2GeV.
(Leave pT>1 GeV for VBF  softActivity_HT)

[2015-07-21 14:16] arizzi commented on #110
can you show a printouT?

[2015-07-21 14:30] azzurrip commented on #110
See below on a VBF Hbb powheg-pythia tree

The collection often only has the H->bb particles (3), plus sometimes you may get some other radiation particles, but never the VBF qq legs

tree>Scan("nGenSummary:GenSummary_pdgId:GenSummary_motherIndex:GenSummary_pt:GenSummary_eta:GenSummary_phi")
***********************************************************************************************
*    Row

[2015-07-21 14:37] arizzi commented on #110
so let's remove the gensummary and write some code for that... volunteers?

[2015-07-21 16:30] arizzi commented on #65
#124

[2015-07-21 16:30] #65 closed

[2015-07-22 13:05] #123 closed

[2015-07-22 13:30] #110 closed

[2015-07-22 16:13] degrutto commented on #122
see https://github.com/cbernet/cmssw/pull/47

[2015-07-23 07:23] #122 closed

[2015-07-23 07:58] #119 closed

[2015-07-25 09:50] arizzi opened #132 "Handle real data"
implement switches to run on real data

[2015-07-25 09:51] arizzi opened #133 "Use correct JEC"
check which JEC we should better use

[2015-07-26 08:11] degrutto opened #134 "check MET (type1 expecially) recommendation"

[2015-07-27 12:28] degrutto opened #135 "make list of triggers for data"

[2015-08-24 15:47] degrutto opened #138 "fix isr jet tagging"

[2015-08-26 09:42] degrutto opened #139 "update muon and ele id in vhbb"
see for muon

 https://github.com/CERN-PH-CMG/cmg-cmssw/pull/477

and for ele

https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1638.html

[2015-08-26 09:49] bortigno opened #140 "Add color flow (pull angle) variables"
I will try to implement the color flow (pull angle) in the ntuples.

[2015-08-26 09:51] arizzi commented on #140
should we implement it our old way or use recent substructures fastjet  machinery for that?

[2015-08-26 10:00] bortigno commented on #140
I would start our old way. I am not 100% sure I understand what you mean by substructure machinery, but if it is what theorist call "dipolarity" we could use that name to refer to it and implement it after the "pull angle"?

[2015-08-26 10:23] jpata opened #141 "non-CSV bdiscriminators 0"
All other b-discriminators except the standard one are 0: would be useful to fill to benefit from the new cMVAv2 with offline computation: https://github.com/cms-sw/cmssw/pull/10197/

[2015-08-26 12:01] capalmer85 commented on #139
For electron ids the 50 ns tight (for barrel) is not appropriate for us.  It is not tighter than the HLT.  Conveners are aware and should fix it.  In the meantime, I don't want us to use it.

https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1638/1.html

I worked on alternative IDs that would be suitable for single electron triggers can be found in this talk:
https://indico.cern.ch/event/370506/co

[2015-08-26 12:14] degrutto commented on #139
Hi Chris,

very good you are involved into it.
Have your proposals be put as a new label in miniaod or so so that we can use it? or do you want to apply as sequential cuts in our vhbb istance? If so, would you write the code?

[2015-08-26 14:27] capalmer85 commented on #139
E/gamma does not want more cut-based IDs than they absolutely have to have, but so far they haven't acceptably fixed the posted ID.  I would be happy to implement my ID as a temporary solution.  If you point me to where I should put that code, I'll do it by the end of the week.

[2015-08-26 15:11] degrutto commented on #139
ok, I understand the selection is done here

https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/test/vhbb.py#L214

[2015-08-27 07:18] arizzi commented on #141
can you make a PR running that on the preprocessor?  you can see example in the 722 version of heppy e.g.
https://github.com/vhbb/cmssw/blob/vhbbHeppy722patch2/VHbbAnalysis/Heppy/test/combined_cmssw.py

[2015-08-27 09:05] arizzi commented on #38
should we try to have this in V13?

[2015-08-27 09:06] arizzi commented on #85
please note that PU information will be slimmed in next version of miniAOD, can you please implement this in a "forward compatible" way?

[2015-08-27 09:06] arizzi commented on #86
any chance for a PR in the next days?

[2015-08-27 09:07] arizzi commented on #135
@silviodonato are the trigger we currently have in the config ok for data?

[2015-08-27 09:12] silviodonato commented on #135
No, but I prepared a PR https://github.com/vhbb/cmssw/pull/136 with the trigger table for data

[2015-08-27 09:18] arizzi commented on #135
is there an chance to have the same table for data and mc? or the menu in
MC is completely wrong?
how about the 25ns campaign, was the trigger table fixed to the most recent
one?
should we have a different table for 25ns MC ?

On Thu, Aug 27, 2015 at 11:12 AM, silviodonato <notifications@github.com>
wrote:

[2015-08-27 09:27] silviodonato commented on #135
The comparison of data vs mc trigger table is here:
https://docs.google.com/spreadsheets/d/1m7rAF1BBnTuxdElk3x0s_DuC4zOOTWgYDgbRnLnUt_I/edit#gid=252529807
As you can see the name of all trigger with MHT have been changed from "IDLoose" to "IDTight",
the trigger with electron have been changed WP75/WP85 -> WPTight/WPLoose
the trigger with b-tagging have different working point.

About 25ns MC, I th

[2015-08-27 09:30] silviodonato commented on #135
The triggerTable was already synchronized with the 25ns Spring15 MC.

[2015-08-27 09:47] arizzi commented on #132
@degrutto I'm checking the vhbb_data.py, it seems to me that many ISMC switches should not be there but rather in the analyzers that should not attempt MC prodcedures (such as smearing) on non MC samples. Did you check that it was actually needed?

the _data file also seem quite out of sync

[2015-08-27 09:53] degrutto commented on #132
Hi Andrea,
the one in github is different from another test I did and used for trigger studies
/afs/cern.ch/user/d/degrutto/public/forGK/vhbb_data.py
(you said not to commit it ;-) )

I would start looking at this, it shoud have less isMC or none actually

[2015-08-27 10:10] capalmer85 commented on #38
When do you want to start the full campaign?  If it is some time next week,
I'll give it shot.

Just so you know, Stephane looked into this some time ago with Michele and
they found that the variables can't be easily extracted but that they must
be recomputed.  I can do this if the track collection with jet association
variables are available in miniaod.  Do you happen to know if that is the
case?

[2015-08-27 10:25] arizzi commented on #38
can you list the variables you need? you definitely at least 1 week time

[2015-08-27 13:30] degrutto commented on #138
ok perfect,
this is equivalent of the way I would have done
(not adding the pi and doing abs(deltaPhi(....))>pi - 0.5 )

thanks

[2015-08-27 17:08] silviodonato commented on #86
I think so

[2015-08-27 19:09] silviodonato commented on #86
Ready: https://github.com/vhbb/cmssw/pull/144.

Tested plotting:
tree->Draw("primaryVertices_z[0]-simPrimaryVertex_z","abs(primaryVertices_z[0]-simPrimaryVertex_z)<1")
It gives a peak in zero with a width below 20 um.

[2015-08-27 19:10] silviodonato commented on #85
Ok, do you have a file with the new miniAOD version to test it?
Thanks, Silvio.

[2015-08-28 08:17] #86 closed

[2015-08-28 08:17] #138 closed

[2015-08-28 08:20] arizzi commented on #135
done in #136

[2015-08-28 08:20] #135 closed

[2015-08-28 08:21] arizzi commented on #85
no, but have a look at https://github.com/cms-sw/cmssw/pull/10592

[2015-08-28 08:42] arizzi commented on #132
I still see things such as

#                 NTupleVariable("nPU0", lambda ev : [bx.nPU() for bx in
 ev.pileUpInfo if bx.getBunchCrossing()==0][0], help="nPU in BX=0"),  <--
not for data?

that are NOT supposed to be handled commenting it out but rather adding the
option mcOnly=True in the NtupleVariable definition

On Thu, Aug 27, 2015 at 11:53 AM, michele de gruttola <
notifications@github.com>

[2015-08-28 08:51] arizzi commented on #132
this is wrong!
FlagsAna.processName = 'HLT' # for data

should be 'RECO'

On Fri, Aug 28, 2015 at 10:42 AM, Andrea Rizzi <andrea.rizzi@cern.ch> wrote:

[2015-08-28 09:33] jpata opened #145 "re-check GenJet clustering for GenHFHadronMatcher"
making an issue so I know to solve GenJet stuff from #67 which is closed.

from Andrea:
those are the open points in my view:

we should not remake the gen jets as they should be the same but I understand that for the hadron matching this could be actually needed? can you confirm?
in output we should have a single gen jet having all needed features, namely:
the standard flavour coming from PAT
the

[2015-08-28 09:37] arizzi commented on #145
that's the error you get if you do not recluster or what? do you have an example producing such error to look at?

[2015-08-28 09:47] jpata commented on #145
Exactly, this is without reclustering:

to reproduce, change this to "slimmedGenJets"
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/test/combined_cmssw.py#L393

also needs to be changed here. i'll make it configurable in a PR which fixes GenJet stuff: https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/python/GenHFHadronMatcher.py#L67

[2015-08-28 10:05] jpata opened #147 "BTAG stuff (was BTagWeight 0.7869504?)"
There was an issue described by @degrutto in an e-mail about the b-tag weight being very low for jets with pt>160.

I'm taking a look if there is no bug in the handling of the binning in the BTagWeightCalculator.
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsutils/BTagWeightCalculator.py

[code]

[2015-08-28 10:07] arizzi commented on #147
any reason to believe 0.7869... is too low? (what surprise me is that it is flavour independent...)

[2015-08-28 10:21] arizzi commented on #132
started implementing in #148 , still have to fix trigger and substructures stuff

[2015-08-28 11:51] arizzi commented on #133
#146

[2015-08-28 11:51] #133 closed

[2015-08-28 11:58] arizzi commented on #147
we should also have a look at
https://twiki.cern.ch/twiki/bin/view/CMS/BtagRecommendation74X50ns

[2015-08-28 14:31] dcurry09 opened #149 "new genJet collections with missing energy"
Hi,  Starting in v12 I've seen a reduction in the genJet energy compared to v11.  Both the withNu and withoutNu genJet collections seem to have the same energy.  The effect is that jet_mcPt is now lower than jet_pt.

Thanks!

[2015-08-28 14:32] jpata commented on #149
this is probably related to #145. We accidentally replced genjets with the reclustered version.

[2015-08-28 14:40] capalmer85 commented on #38
Minimally we need:

beta star (classic)
track pt weighted dR

The algorithms are in computeIdVariables in
http://cmslxr.fnal.gov/source/RecoJets/JetProducers/src/PileupJetIdAlgo.cc?v=CMSSW_7_4_0_pre2

Can we use this code exactly with miniAOD?  This function only needs
const reco::Jet * jet
const reco::Vertex * vtx,
(the other args are just numbers)
Do we have the constituent particles to the jets

[2015-08-28 16:26] bartonaz commented on #145
@jpata , sorry for a rather long silence from our side; we were very busy lately with many other things.
As you've probably seen yourself, the code still crashes with SPRING15 samples. Apparently, the issue with missing jet constituents was not fixed yet. We have brought this question again to the experts and hopefully will have some update on this soon.

The three points that you've raised as sup

[2015-08-28 16:38] silviodonato commented on #85
the PR is ready: https://github.com/vhbb/cmssw/pull/150

[2015-08-28 16:44] jpata commented on #145
@bartonas, thanks for following up nevertheless and bringing it again to the experts. Could you point me again to the discussion about matching _to_ `slimmedGenJets` and what you meant by "hadron-matched flavour is implemented in the JetFlavour tool"? I honestly no longer remember any such discussion...

[2015-08-28 17:57] bortigno commented on #140
I added two jet based color flow variable :  the phi and the magnitude of the pull vector in the eta,phi plane for the higgs jets so anyone can compute the pull angle against any other jets. could be useful for the FSR or semileptonic TTbar and single top. pull request #151

[2015-08-30 20:45] capalmer85 commented on #38
I've been digging through the code a little bit and I think we want
the inputs to this puMva:
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsobjects/Jet.py#L81

I couldn't get any deeper than this.  Do you know what
"userFloat(label)" does under the hood?  I can see it returns the mva
value and then checks the id level below, but is that mva value saved
in the jet

[2015-08-31 12:10] bartonaz commented on #145
@jpata, I was refering to your first post in this issue discussion. The hadron-matched jet flavour is the standard definition implemented in the [JetFlavour](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideBTagMCTools#Hadron_based_jet_flavour_definit) tool, which is then used internally by the [GenHFHadronMatcher](https://twiki.cern.ch/twiki/bin/view/CMSPublic/GenHFHadronMatcher). This is ex

[2015-08-31 12:18] jpata commented on #145
@bartonaz ah OK, thanks for the clarification. If the re-clustered jets are identical, then this matching is only for our convenience not to store gen-jets twice and still keep the original miniAOD definition of genjets. In short I'd simply like to fix what will be the GenHFHadronMatcher recipe: re-clustered jets or not, but I suppose we are still waiting for feedback from the experts.

[2015-09-01 10:22] degrutto commented on #134
see https://github.com/vhbb/cmssw/pull/153

[2015-09-01 10:35] degrutto commented on #149
For the b-jet energy regression, I guess what we need is to make sure is that Jet_genJet leave is pointing to the matched genJet_pt with neutrinos. This would avoid the analysts to make the matching between two collections before evaluating the regression

[2015-09-01 14:14] azzurrip opened #154 "Limit the HCSV jet pair among the collection of saved pt-leading jets"
to avoid the occurrence of best CSV jets outside the list of saved jets, i.e.
situations with hJCidx out of the  bounds of the Jet_xx arrays,
that creates problems to check the chosen b-jet properties.

[2015-09-01 14:21] azzurrip opened #155 "Exclude FSR jets from the ISR jet search"
Exclude jets within DR<0.8 of either of the two Higgs (max CSV) b-jets
from the collection of  ISR jets candidates.

[2015-09-03 13:13] jpata commented on #145
OK, so from what I understand we will need to re-cluster and we are safe in matching original slimmedGenJets to reclustered until https://github.com/cms-sw/cmssw/pull/11081 is merged.

@arizzi: do you prefer to pull this into vhbb/cmssw or go with re-clustering?

Below a mail from @bartonaz describing the situation.

Thanks all.

[code]

[2015-09-04 07:58] arizzi commented on #145
I'd say to fix the hadron flavour importing the 11081 so that we run faster (one clustering step less).
In any case, next miniAOD central reprocessing should have the hadronFlavour precomputed (so let's import from 11081 only the c++ fix of checking if the reference isAvailable)

[2015-09-04 08:00] jpata commented on #145
OK, I'll make a single PR containing the isAvailable fix and updated vhbb-side hadron matching/gen-jet code against vhbb today.

[2015-09-07 11:45] jpata commented on #147
Also to note:

because sometimes the input scale factors are negative, the per-jet weight turns out to be negative. Checking if this also happens with the updated weights (27.07)

![screen shot 2015-09-07 at 12 57 36](https://cloud.githubusercontent.com/assets/69717/9716072/a9ede0e4-5566-11e5-857a-651425a5a7de.png)

[2015-09-07 11:47] arizzi commented on #147
mhh negative? does it makes sense?

On Mon, Sep 7, 2015 at 1:45 PM, Joosep Pata <notifications@github.com>
wrote:

[2015-09-08 07:36] jpata commented on #147
It was a bug in the scale factor files. Fix in #157. I ran over tt+jets and tt+H with crab and didn't see these issues any more.

[2015-09-09 12:22] jpata opened #159 "jet corrections and smearing for V13"
In the ttH reference analysis we found that we seem to be using old JEC/JER.

JEC
-------
We seem to be still using the Phys14 JECs: https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/test/vhbb.py#L210
According to https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideFrontierConditions the latest JEC for 25ns is in `MCRUN2_74_V9`. OK to get the txt files, put to `test/jec` folder

[2015-09-09 12:27] arizzi commented on #159
new jec have been copied already, I may not have switched the default yet... I'll do

[2015-09-09 12:27] jpata commented on #159
These are only for 50ns though? At least by filename.

[2015-09-09 13:46] arizzi commented on #159
there is another tar file somewhere with 25ns payloads, but now they also created (finally) the GTs, so we could dump ourself.
Please note that I moved the jec folder.

[2015-09-09 13:48] jpata commented on #159
Thanks for the reply. I just extracted the MCRUN2 25ns jecs using a cmssw config.

[2015-09-09 15:29] jpata commented on #159
I updated the JER: https://github.com/cbernet/cmssw/pull/52
25ns JEC-s in a separate PR.

[2015-09-09 15:50] jpata commented on #159
Ciao, I updated both JECs and JERs now. Running a larger scale test to check for anomalies.

[2015-09-09 16:24] jpata commented on #141
@arizzi do you think it's reasonable/needed to re-calculate the input taggers using `switchJetCollection` in the preprocessor?

Namely the soft-lepton ones I can't find in MiniAOD: (how to which taggers are there by default?)
The others(proba, BProba, old CSV with AVR) are there with the `pf*` prefix.
Thanks

[2015-09-09 17:54] arizzi commented on #141
I would not rerun the switchJetCollection producing the jets but just run the needed btag stuff. @ferencek do you have an example including Soft Lepton stuff? (perhaps it is already in the MiniAOD WorkBook twiki!)

[2015-09-09 23:16] ferencek commented on #141
@jpata, taggers stored in MiniAOD are those defined in the default PAT jet configuration, namely `PhysicsTools/PatAlgos/python/producersLayer1/jetProducer_cfi.py`.

@arizzi, `switchJetCollection()` does not recluster jets so it could definitely be used to re-run a few missing taggers. However, by default it will also modify `patJets.discriminatorSources` so to get around that one could call `switc

[2015-09-09 23:30] ferencek commented on #141
@arizzi, concerning soft leptons, in recent 74X releases they were simply added to `PhysicsTools/PatAlgos/python/producersLayer1/jetProducer_cfi.py` but now that I think about it, they would also have to be re-run because otherwise old buggy discriminators could be picked up. So there needs to be something that will call `switchJetCollection()` for at least one jet collection with at least one tag

[2015-09-10 00:07] ferencek commented on #141
I just tested MiniAOD production in CMSSW_7_4_11_patch1 and since `switchJetCollection()` is called for ak8 and Puppi jets, all the default taggers are loaded and those needed for ak4 jets are also re-run. However, this is not very robust because if someone disabled `switchJetCollection()` calls, slimmed ak4 would not pick up the latest discriminators.

[2015-09-10 08:18] arizzi commented on #141
@ferencek we are not talking about miniaod production here but of running on top of miniaod, that's why I'd avoid switchJetCollection that would recreate the patJets and I do not want this...

I'd rather spell the sequence of what we want to run

[2015-09-10 08:19] jpata commented on #141
I will try to do it explicitly as Gregor did for the subjets, the code for this is already in the pre-processor.

[2015-09-10 08:26] jpata commented on #159
Might be relevant: https://hypernews.cern.ch/HyperNews/CMS/get/JetMET/1630.html
@bianchini @arizzi

[2015-09-10 15:31] ferencek commented on #141
@arizzi, sorry, I misunderstood then. Defining a sequence by hand is definitely a possibility since any type of jets can be used as input including PAT jets. I don't have an example of this for soft lepton taggers but the same thing for TC and SSV taggers was covered in https://twiki.cern.ch/twiki/bin/viewauth/CMS/SWGuideCMSDataAnalysisSchool2015BTaggingExercise#Configuring_your_own_b_tagging_s

H

[2015-09-10 15:33] jpata commented on #141
@arizzi @ferencek Thanks for the ideas. I actually managed to run the SoftMuon/Electron taggers again in the unscheduled mode, just switching the input jet/lepton/pv collections. Seems to work, testing on a larger scale now...
@arizzi I also re-purposed the `AdditionalBTag.py` analyzer for the new cMVAv2.

[2015-09-10 15:52] arizzi commented on #141
please cross check which modules are actually run in the end of cmsrun
summary

On Thu, Sep 10, 2015 at 5:33 PM, Joosep Pata <notifications@github.com>
wrote:

[2015-09-10 15:57] jpata commented on #141
[code]

[2015-09-14 14:18] arizzi opened #163 "fix again the nJets HCSV index bug"
this was already fixed but then reverted by #116

[2015-09-15 12:09] arizzi commented on #85
@silviodonato  can you make a PR also against @cbernet repository containing only the Heppy non-VHbb feature? Colin what's the branch he should PR against?

[2015-09-15 12:09] arizzi commented on #132
#160 also fix the preprocessor

[2015-09-15 12:09] #132 closed

[2015-09-15 12:14] arizzi opened #164 "pu weight"
implement pu weight based on data lumi profile

[2015-09-15 12:55] #134 closed

[2015-09-15 13:34] arizzi commented on #149
@degrutto, the withNu was meant to do that but as @jpata said we accidentally replaced the genJets with some not having the "withNu" info

[2015-09-15 13:34] arizzi commented on #154
this was fixed already, and reverted by mistake will be fixed again

[2015-09-15 14:19] azzurrip commented on #149
to summarise, my understanding is this (please correct me in case)
in V12 we have
Jet_mcPt from the matched GenJet of the standard miniAOD GenJet collection (without Nu)
GenJet_pt  from the "accidentally" fully reclustered and replaced GenJets (with Nu)
GenJet_wNuPt just a copy of GenJet_pt (with Nu)

in V13 we should not recluster GenJets, but use the standard collection (without Nu) and add the

[2015-09-16 10:01] #145 closed

[2015-09-16 10:02] arizzi opened #167 "update to latest central Heppy"

[2015-09-16 10:28] #85 closed

[2015-09-16 15:52] jpata commented on #141
Solved by https://github.com/vhbb/cmssw/pull/170

[2015-09-16 15:56] jpata commented on #159
* JER has been merged by Colin
   * JECs have been merged, but I forgot to commit some files: https://github.com/vhbb/cmssw/pull/169
Otherwise I consider this to be solved.

[2015-09-16 15:58] jpata commented on #147
I would say it's OK to close.

[2015-09-18 13:02] arizzi commented on #139
so we wait for new MiniAOD on V14 ?

[2015-09-18 13:02] #141 closed

[2015-09-18 13:02] #147 closed

[2015-09-18 13:04] degrutto commented on #139
yes we wait for the new MiniAOD version

[2015-09-18 13:10] arizzi commented on #155
@degrutto should I exclude stuff in event.hJetsaddJetsdR08 ?

[2015-09-18 13:15] #155 closed

[2015-09-18 13:15] #163 closed

[2015-09-18 13:16] arizzi commented on #164
need some progress from https://hypernews.cern.ch/HyperNews/CMS/get/luminosity/488/2/1/2/1/2/1.html

[2015-09-18 13:17] arizzi opened #172 "Fix passAll=true"
@degrutto

[2015-09-18 13:19] arizzi commented on #149
should be fixed by #156 please validate

[2015-09-18 13:20] #149 closed

[2015-09-18 13:34] arizzi commented on #154
@azzurrip is it ok if I just store up to 25 jets?

[2015-09-18 15:50] azzurrip commented on #154
sure more than enough

On 18 Sep 2015, at 15:34, arizzi <notifications@github.com<mailto:notifications@github.com>> wrote:

@azzurrip<https://github.com/azzurrip> is it ok if I just store up to 25 jets?

—
Reply to this email directly or view it on GitHub<https://github.com/vhbb/cmssw/issues/154#issuecomment-141452763>.

[2015-09-20 15:33] jpata opened #175 "Spring15 lepton isolation: effective area"
We seem to be using Phys14 effective areas in heppy
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/LeptonAnalyzer.py#L296

whereas spring15 EA values are now available.
https://twiki.cern.ch/twiki/bin/viewauth/CMS/CutBasedElectronIdentificationRun2#Spring15_selection_25ns -> EGM presentation ([1], slide 4) -> another presentation with EA values ([2], sl

[2015-09-21 10:17] mariadalfonso commented on #175
Hi Joseep.
In CMG we already added the Spring15 wp
https://github.com/CERN-PH-CMG/cmg-cmssw/pull/501/files

We can PR to colin all the files in our heppy branch.

@gpetruc

Maria

On Sun, Sep 20, 2015 at 5:33 PM, Joosep Pata <notifications@github.com>
wrote:

[2015-09-21 10:51] jpata commented on #175
@mariadalfonso thanks, that would be perfect. Then I won't duplicate on my side.

[2015-09-21 13:42] degrutto opened #176 "fix met stuff for new miniaod format"
rawMET
met.uncorrectedPt() has been replaced by met.uncorPt()
workbook
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD2015#ETmiss

[2015-09-21 14:29] #167 closed

[2015-09-21 14:29] #154 closed

[2015-09-21 14:32] arizzi commented on #140
I moved the target to V14, but if you are ready earlier we can pick it

[2015-09-21 14:33] arizzi commented on #159
@jpata I should have merged latest colin stuff, can you cross check and we close this in case?

[2015-09-23 12:02] degrutto commented on #159
Hi guys,
on a different front, are we correcting the AK8 jets? To me it does not seems the case

[2015-09-23 14:36] arizzi commented on #175
@jpata should meanwhile take this?

[2015-09-23 15:27] jpata commented on #175
@arizzi: it would be good if we can merge from CMG. Should I backport(cherrypick) that commit to 747p1?

[2015-09-23 15:28] arizzi commented on #175
yes please

[2015-09-23 16:51] perrozzi opened #182 "add counting of status 2 b hadrons"
much more reliable than just counting the number of b quarks in the lhe event

PR here
https://github.com/vhbb/cmssw/pull/181

[2015-09-23 19:24] silviodonato opened #183 "MET PUPPI phi"
The variable metPuppi_phi is missing, we should add it.

[2015-09-24 06:50] arizzi commented on #183
cab you check if it was already in V13 PRs ?

[2015-09-24 07:11] silviodonato commented on #183
It seems that it is not in V13: https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/test/vhbb.py#L54.
I've prepared a simple PR: https://github.com/vhbb/cmssw/compare/vhbbHeppy74X...silviodonato:patch-4

[2015-09-24 07:52] #182 closed

[2015-09-24 07:52] #183 closed

[2015-09-25 17:27] perrozzi commented on #164
for the record, the new json is out
https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2496.html
---- Golden JSON
/afs/cern.ch/cms/CAF/CMSCOMM/COMM_DQM/certification/Collisions15/13TeV/Cert_246908-256869_13TeV_PromptReco_Collisions15_25ns_JSON.txt
with recorded luminosity, based on brilcalc: 166.37/pb

[2015-09-28 12:39] d-salerno commented on #176
I have a problem running this code on /JetHT/Run2015D-PromptReco-v3/MINIAOD - it gives the error “MET uncertainties not available for the specified correction type”.

I suppose this is due the change above as the code worked on /JetHT/Run2015C-PromptReco-v1/MINIAOD.

[2015-09-28 12:46] degrutto commented on #176
HI,

I read in the ETmiss twiki linked above twiki

NEWChanged toNEW met.uncorPt(), met.uncorPhi() in the RunIISpring15MiniAODv2.

so yes,

there should/maybe other things to change for RunD,
indeed this milestone (V13) is for old miniAOD format.
@arizzi  may want to comment,

cheers

 Michele

[2015-09-28 12:52] degrutto opened #185 "Add AK08 corrections, and cut on corrected groomed jets for boosted VH/ttH"

[2015-09-28 12:55] d-salerno opened #186 "Add HLT_PFHT350 to list of trigger bits & fix individual trigger bit counts"
Hi,
Could we add HLT_PFHT350_v* to the trigger table? This is a reference trigger for the all hadronic ttH triggers.

Also, I had a problem that some of the individual trigger bits were showing up with zero hits, even though the group OR seemed to be working - for examples the paths in ttHhardonicHighLumi.

It was actually quite random as other individual paths showed hits. I though it may be beca

[2015-09-28 13:41] arizzi commented on #185
What does it mean?

[2015-09-28 14:40] degrutto commented on #185
Hi Andrea, we are currently not correcting the fatjet, so when we decide to run the AK08 and CA15 sequences we are doing it when the uncorrected pt is greater than X (not X = 200 GeV). As there are AK08 correction available by JetMET group. I would use them and cut on the corrected pt. This is not critical now but will become if we want to use indeed the boosted topology for VH and ttH. Hope it is

[2015-09-28 22:10] degrutto commented on #172
see https://github.com/vhbb/cmssw/pull/187

[2015-09-29 06:06] #172 closed

[2015-09-29 09:13] jpata commented on #159
just tested locally on HEAD, seems good to me: JECs are there, JER is updated, discarded jets are kept. feel free to close.

[2015-09-29 14:54] arizzi commented on #175
@azzurip @degrutto @jpata this is a showstopper right for V13 right?

[2015-09-29 14:55] #159 closed

[2015-09-29 16:43] jpata commented on #175
Sorry i was overtaken by an upcoming presentation. Can i still do today?
29.09.2015 4:54 PM kirjutas kuupäeval "arizzi" <notifications@github.com>:

[2015-09-29 16:55] arizzi commented on #175
sure, let's try to close V13 by tomorrow

[2015-09-29 21:25] jpata commented on #175
Done: https://github.com/vhbb/cmssw/pull/188
Checking.

[2015-09-30 06:59] #175 closed

[2015-09-30 08:23] arizzi commented on #164
done in #190

[2015-09-30 08:23] #164 closed

[2015-09-30 11:47] degrutto commented on #164
Hi Andrea,

for reference, can you share the instructions you used to get the puStartup2015.root? or the central location you took it from (if any)? thanks

[2015-09-30 12:16] arizzi commented on #164
I made it myself from the sample config

[2015-10-05 12:25] arizzi opened #198 "fix genWeight in CountWeighted"
fix the Fill function of countWeighted so that:
a) it fills 1,weight
b) it uses only the sign of the gen weight

[2015-10-05 12:26] arizzi opened #199 "migrate to 7_4_12 or fix the zero event bug"

[2015-10-05 12:26] arizzi opened #200 "Commit "crab_copy" stuff"

[2015-10-06 07:34] degrutto commented on #176
For METnoHF see https://hypernews.cern.ch/HyperNews/CMS/get/met/415.html

[2015-10-08 08:09] degrutto opened #201 "Check we are using latest JEC"
Currently it is

JetAna.mcGT="MCRUN2_74_V9D"
JetAna.dataGT = "Summer15_50nsV4_DATA"

there should exist V5 for 25 ns and correspondent for MC!

[2015-10-10 17:09] perrozzi opened #203 "fix description of variable Jet_mcIdx"
currently is the same as Jet_btagIdx:
Jet_btagIdx     ranking in btag  for Cental+fwd jets after full selection and cleaning, sorted by b-tag
Jet_mcIdx       ranking in btag  for Cental+fwd jets after full selection and cleaning, sorted by b-tag

[2015-10-12 10:55] degrutto opened #204 "add JER uncertainties, and fix JEC uncertainties"
we would need to change shiftJER to +- 1

https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L428

[2015-10-12 10:57] degrutto commented on #204
@arizzi @jpata do we want to have these in v14?

[2015-10-12 10:57] perrozzi commented on #204
also JEC?
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L425

[2015-10-12 10:58] degrutto commented on #204
don't we have JEC uncertainties already? do we want more uncertainties than just one, to cover for example high and low pt separately?

[2015-10-12 11:05] jpata commented on #204
@perrozzi JEC we variate already with this: https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsutils/JetReCalibrator.py#L107

maybe smarter to do smth similar for JER variations as well - store in place instead of making new collection.

[2015-10-12 11:52] azzurrip commented on #204
Hi, concerning total JEC uncertainties.
In V12 they were filled in Jet_corr_JECDown and Jet_corr_JECUp
root [8] tree->Scan("nJet:Jet_pt:Jet_eta:Jet_id:Jet_puId:Jet_mcFlavour:Jet_hadronFlavour:Jet_corr_JECDown:Jet_corr:Jet_corr_JECUp")
***********************************************************************************************************************************************
*    Row   * Instance

[2015-10-12 12:24] arizzi commented on #204
too bad it wasn't catched in the validation!!

On Mon, Oct 12, 2015 at 1:52 PM, azzurrip <notifications@github.com> wrote:

[2015-10-12 13:09] degrutto commented on #204
Hi,
talking with @jpata we where debating if the approach we are using to propagate the uncertainties is really correct.
As we have some of the "interpretation" dependending on btag/pt scale (Higgs choise for both VH and ttH) wheter it really correct to save Jec(Jer)Up(Down) per jet, or instead rather ri-running the whole vhbb.py  with jetScale(JER) Up/Down.... and the same for btag (or maybe just

[2015-10-12 13:11] jpata commented on #204
@azzurrip @arizzi indeed JEC variations are missing in V13. must be an artifact of the CMG merge that was not caught. Now I cannot investigate as I'm at a conference with poor connection until the end of the week.

[2015-10-12 15:34] arizzi opened #205 "Fix QGL"

[2015-10-12 15:34] arizzi opened #206 "Fix JEC -99"

[2015-10-14 10:19] arizzi commented on #139
please check #207 and let me know if there is something more you want

[2015-10-14 10:19] arizzi commented on #176
#207 implements part of that, METnoHF should be checked

[2015-10-14 10:20] arizzi commented on #199
#207

[2015-10-14 10:20] arizzi commented on #200
#202

[2015-10-14 10:20] arizzi commented on #201
some one should dump the JECs into the /data folder and make a PR !

[2015-10-14 10:21] arizzi commented on #203
please make a PR

[2015-10-14 10:27] arizzi commented on #205
#207

[2015-10-14 10:29] arizzi commented on #204
there is a new flag to set to True, done in #207

[2015-10-14 14:17] perrozzi commented on #203
https://github.com/vhbb/cmssw/pull/209

[2015-10-14 15:44] #203 closed

[2015-10-14 16:31] chernyavskaya opened #210 "jetsForVBF"
jetsForVBF without id conditions.
Change this line
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/python/VHbbAnalyzer.py#L69
to this
event.jetsForVBF = [x for x in event.cleanJetsAll if x.pt()>20]

[2015-10-15 06:53] arizzi commented on #206
#207

[2015-10-15 06:53] #206 closed

[2015-10-15 06:54] arizzi commented on #205
@chernyavskaya @azzurip please confirm #207 is ok

[2015-10-15 07:57] chernyavskaya commented on #205
yes, thank you.

[2015-10-15 09:01] #205 closed

[2015-10-16 06:46] arizzi commented on #210
also in #207

[2015-10-16 06:47] #210 closed

[2015-10-16 06:47] #199 closed

[2015-10-16 06:48] #200 closed

[2015-10-16 08:04] arizzi commented on #198
#207

[2015-10-16 08:04] #198 closed

[2015-10-16 12:58] arizzi opened #212 "Hbb boosted tager"
@cvernier

[2015-10-16 13:22] degrutto commented on #201
see  #213

[2015-10-16 13:23] degrutto commented on #201
close this, see #213

[2015-10-16 13:23] #201 closed

[2015-10-16 13:24] degrutto commented on #204
So, JEC uncertainties are fixed, for the JER uncertainty we would need to modify the JetAnalyzer in heppy (if we do not want to duplicate the ntuples).... should I give it a try?

[2015-10-16 13:28] arizzi commented on #204
what do you mean? what do you need to change for JER?

[2015-10-16 14:10] degrutto commented on #204
I would need to add some leaves to be filled (_JERUP,_JERDOWN).
I believe the best place to do that is in the JetAnalyzer
add a boolean (say addSfiftJER)
for the case
smearJets = True,
   and  shiftJER = 0

so something like (pseudocode)

in https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L376

if (addShiftJER and !shiftJER)

[2015-10-17 12:40] degrutto opened #216 "check met filters"
https://hypernews.cern.ch/HyperNews/CMS/get/met/419.html

[2015-10-19 07:29] silviodonato commented on #216
It seems that the only flag that is missing is HBHENoiseIsoFilter.

The others flags should by covered:
* HBHENoiseFilter loose -> Flag_HBHENoiseFilter
* at least one good PV -> Flag_goodVertices
* eeBadScFilter -> Flag_eeBadScFilter
* CSCTightHalo2015Filter -> Flag_CSCTightHaloFilter

Let me report also the remaining flags in our ntuples

Flag_METFilters

Flag_EcalDeadCellTriggerPrimitiveFilter

[2015-10-19 08:38] degrutto commented on #204
ok, code here https://github.com/vhbb/cmssw/tree/addJERshifts_vhbbHeppy74X_MDG/VHbbAnalysis/Heppy

but I believe I rather have to do a PR against colin, but which branch? 745, 747 or 7412?

[2015-10-19 08:45] arizzi commented on #204
7 4 12, but I'll make all PR against colin repo (on his request).

Please separate the commits againast central heppy and mark them with
"Heppy: ...comment here"

On Mon, Oct 19, 2015 at 10:38 AM, michele de gruttola <
notifications@github.com> wrote:

[2015-10-19 12:34] arizzi commented on #216
can you guys add it and make a PR?

[2015-10-19 13:59] mariadalfonso commented on #216
@arizzi @degrutto
<https://github.com/degrutto>It is safer to re-run the HBHENoiseFilter loose
There has been various problems in the setting of these.

https://github.com/CERN-PH-CMG/cmg-cmssw/blob/CMGTools-from-CMSSW_7_4_12/CMGTools/TTHAnalysis/python/analyzers/hbheAnalyzer.py

On Mon, Oct 19, 2015 at 2:34 PM, arizzi <notifications@github.com> wrote:

[2015-10-19 14:04] arizzi commented on #216
someone should import the code and add a NtupleVariable in the output?
@degrutto?

On Mon, Oct 19, 2015 at 4:00 PM, mariadalfonso <notifications@github.com>
wrote:

[2015-10-21 11:56] bianchini opened #221 "No charm jet uncertainties"
I realised that we don't have csv uncert. for charm jets in the current trees.
Need to add them (I can do it)

[2015-10-21 12:51] bianchini commented on #221
So, we need to consider the cErrUp and cErrDown uncertainties. These are uncertainties valid only for charm jets (Jet_hadronFlavour==4). We need to modify
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsutils/BTagWeightCalculator.py
(which is in Heppy) because right now c are treated as light jets

[2015-10-21 16:11] bianchini opened #222 "Jet_hadronFlavour is not what it says"
Hi,

I have been investigating a bit and I see that
NTupleVariable("hadronFlavour", lambda x : x.mcFlavour, int,     mcOnly=True, help="match to heavy hadrons"),
Then I search in Heppy for mcFlavour, and I see that it is filled in
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py
with the outcome of a dummy deltaR between jets and particles:

[2015-10-21 17:15] degrutto commented on #216
ok see https://github.com/vhbb/cmssw/pull/223

I dediced to copy and keep the hbheAnalyzer in our vhbb directory, but if you want we can create a dependence from the ttH analysis repository

btw the hbheNewFilter flag is 100%eff on 1K events of MC  DY+ll, while the old HBHENoisFilter is only 70% efficient...

[2015-10-21 21:25] arizzi commented on #216
for sure no ttH deps, prehaps on the other hand we can promote it to
central heppy!

On Wed, Oct 21, 2015 at 7:15 PM, michele de gruttola <
notifications@github.com> wrote:

[2015-10-22 08:51] degrutto commented on #204
https://github.com/vhbb/cmssw/pull/219
merged, so we can close this

[2015-10-22 08:51] #204 closed

[2015-10-22 08:58] degrutto opened #224 "add new regression weights for V14"

[2015-10-22 13:26] silviodonato commented on #186
Hi Daniel,
I've included HLT_PFHT350_v with PR #225 . Do you need it also in the MC?
Regarding the bug, I don't know.... Is it possible that the problem arises when a trigger name is missing in data?

Cheers,
Silvio.

[2015-10-22 13:50] d-salerno commented on #186
Hi Silvio,
Thanks for that. Yes, we also need it in the MC.
For the bug, the trigger names were definitely in the data, so that was not the issue. However, looking at some data produced with V13, I see the counts behaving well in HLT_BIT_HLT_PFHT400_SixJet30_BTagCSV0p55_2PFBTagCSV0p72_v and HLT_BIT_HLT_PFHT450_SixJet40_PFBTagCSV0p72_v so I guess it's no longer an issue.
It might have been a proble

[2015-10-22 14:09] silviodonato commented on #186
Good for us.
I've just checked the trigger menu in MC (in Spring15 the menu is the default GRun in CMSSW_7_4_1, ie. /dev/CMSSW_7_4_0/GRun/V41) and I don't find HLT_PFHT350_v.

I'm afraid that it isn't inside the MC.
Silvio.

[2015-10-22 14:36] d-salerno commented on #186
Hi Slivio,
HLT_PFHT350_v1 is in that menu you mentioned, it should be grouped together with all the other HT paths. If your using the testserver to browse the menu, it seems you can only search in whatever is visible on the screen.
In any case I thought the frozen menu's were used for MC production, so whatever the frozen menu was at the time for the release (This is the command used in the McM fo

[2015-10-22 14:56] silviodonato commented on #186
You are right, the trigger was in the menu.
I've updated the PR https://github.com/vhbb/cmssw/pull/225/files

Silvio

[2015-10-22 15:18] d-salerno commented on #186
Great! Thanks a lot!

[2015-10-22 17:17] bianchini commented on #216
Hi, let me add here what I found for the other filters we have in the trees.

They are all >99.99% efficient on the signal, but these:
Flag_HBHENoiseFilter.png => 69%  (fixed by Michele)
Flag_METFilters.png => 69%
Flag_trackingFailureFilter.png => 0%
Flag_trkPOGFilters.png => 91%
Flag_trkPOG_manystripclus53X.png => 91%
Flag_trkPOG_toomanystripclus53X.png => 95%
Maybe some of them are of no use, bu

[2015-10-23 12:15] gkasieczka commented on #212
PR #227 takes care of this

[2015-10-23 13:41] degrutto opened #229 "check id and iso of ele and muons we use for leptons jet cleaning"

[2015-10-23 13:55] degrutto commented on #229
see here
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/LeptonAnalyzer.py#L557

for ele: rho dR0.3
for mu: dBeta dR0.4

and 0.40% as cut

[2015-10-23 13:57] degrutto commented on #229
change also
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/objects/LeptonAnalyzer.py#L575 in dBeta

[2015-10-23 14:46] bianchini commented on #229
fixed in this commit:
5e2291068902f9c9bdadf9f1b1d461415f8ff000

[2015-10-23 14:48] bianchini commented on #222
Fixed, now:
Jet_heppyFlavour maps to what used to be Jet_hadronFlavour (jet.mcFlavour in heppy)
Jet_mcFlavour maps to patjet.partonFlavour()
Jet_hadronFlavour maps to patjet.hadronFlavour()

[2015-10-23 14:48] #222 closed

[2015-10-23 14:49] bianchini commented on #221
Added cErr and fixed the logic.

[2015-10-23 14:49] #221 closed

[2015-10-23 15:56] degrutto commented on #216
merged #223

[2015-10-23 15:56] #216 closed

[2015-10-23 16:01] degrutto commented on #185
for the record,
this is not critical, but we need at a certain time to apply the AK08 correction,
the prescription according to exo vv analysis is to do just the L2L3 (data/MC) +residual correction (for data) and propagate to the mass (so no L1 corrections)

I remove this from V14, but leave the issue open

[2015-10-23 16:10] degrutto commented on #186
ok,
the PR from SIlvio is merged so we can close this, thanks

[2015-10-23 16:10] #186 closed

[2015-10-23 16:16] degrutto commented on #139
close this, as we have #229 open

[2015-10-23 16:16] #139 closed

[2015-10-23 16:20] degrutto commented on #38
Hi, I'd say this is not critical for v14, correct?

[2015-10-23 16:22] capalmer85 commented on #38
Yes, not critical.

On Fri, Oct 23, 2015 at 6:20 PM, michele de gruttola <
notifications@github.com> wrote:

[2015-10-23 16:23] #38 closed

[2015-10-23 17:39] bortigno commented on #140
#151  please review - it is ~10 times faster. thank you.

[2015-10-24 06:54] #212 closed

[2015-10-24 06:58] arizzi commented on #229
#220 fixes this right?

[2015-10-24 07:00] arizzi commented on #224
@cvernier can you commit the new weights and make a PR?

[2015-10-24 07:28] degrutto commented on #229
Right

[2015-10-24 07:32] arizzi opened #230 "Check JECs for data"

[2015-10-24 07:33] #229 closed

[2015-10-24 07:37] degrutto commented on #230
for data I uploaded this 74X_dataRun2_reMiniAOD_v0...
as they are suggested (still) here
https://twiki.cern.ch/twiki/bin/viewauth/CMS/JECDataMC#Recommended_for_Data

sorry probably I did not change vhbb_data.py :(

[2015-10-24 07:38] degrutto commented on #230
no, it seems it is already ok

https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/test/vhbb.py#L241

[2015-10-24 07:46] arizzi commented on #230
is this the same as what used in miniAODV2?

[2015-10-24 07:59] degrutto commented on #230
as far as I undestand

- yes for 05Oct2015
https://cmsweb.cern.ch/das/request?input=config%20dataset%3D/MET/Run2015D-05Oct2015-v1/MINIAOD&instance=prod/global&idx=0&limit=10

- while 2015DPromptRecov4 (most of the data) uses
74X_dataRun2_Prompt_v4
https://cmsweb.cern.ch/das/request?input=config%20dataset%3D/MET/Run2015D-PromptReco-v4/MINIAOD&instance=prod/global&idx=0&limit=10

which is not listed

[2015-10-24 08:32] #140 closed

[2015-10-24 08:32] arizzi commented on #140
indirectly merged

[2015-10-24 11:28] arizzi opened #235 "Figure why CountWeighted seem not to work"

[2015-10-24 13:36] arizzi commented on #235
fixed

[2015-10-24 13:36] #235 closed

[2015-10-24 13:37] arizzi commented on #230
we go with what we have assuming is ok

[2015-10-24 13:37] arizzi commented on #224
#237 closes this

[2015-10-24 13:37] #224 closed

[2015-10-24 13:37] #230 closed

[2015-10-24 16:47] degrutto commented on #230
yes, if we rerun the JEC we use the correct ones, if we do not the ones in the miniAODv2
are the latest one to use.. so either way we should be ok

[2015-10-27 20:57] bortigno opened #241 "bug fix: color flow"
add assignment in colorFlow constructor.

[2015-10-28 11:34] silviodonato opened #244 "Add Jet_rawPtSmaeared"
In the regression is useful to use the Jet_pt before the JEC.
So far we are using the Jet_rawPt both in data and in MC, but it is wrong: in MC the resolution of Jet_rawPt is better than Jet_pt because of it is not smeared.

To avoid this problem we should add the variable Jet_rawPtSmaeared in MC.

Maybe it would be even better to rename the variable:
in data:
- keep Jet_rawPt

in MC:
- rename Jet_

[2015-10-30 15:11] silviodonato opened #246 "Add trigger for HH -> 4b"
We have to add the following triggers that are useful for the X->HH->4b:

HLT_AK8DiPFJet250_200_TrimMass30_BTagCSV0p45_v2
HLT_AK8DiPFJet280_200_TrimMass30_BTagCSV0p45_v3
HLT_AK8PFHT600_TrimR0p1PT0p03Mass50_BTagCSV0p45_v2
HLT_AK8PFHT650_TrimR0p1PT0p03Mass50_v2
HLT_AK8PFHT700_TrimR0p1PT0p03Mass50_v3
HLT_AK8PFJet360_TrimMass30_v3

[2015-10-30 15:53] silviodonato commented on #246
https://github.com/vhbb/cmssw/pull/247

[2015-11-02 10:47] arizzi opened #248 "JEC shifts missing in data"
remove mcOnly=True from variable definition

[2015-11-02 16:21] bianchini opened #249 "Add triggering MVA for electrons"
Add triggering MVA following here:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/MultivariateElectronIdentificationRun2#Recipes_for_7_4_12_Spring15_MVA

[2015-11-11 09:38] bianchini opened #252 "New JEC for 25 ns data"
Just to keep track of https://hypernews.cern.ch/HyperNews/CMS/get/jes/564.html

[2015-11-12 17:02] jpata commented on #249
I'm working on this.

[2015-11-12 17:11] jpata commented on #249
@arizzi @cbernet I see that there is already some ele MVA id stuff done here: https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsobjects/Electron.py#L174

via direct TMVA xml files in https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/physicsutils/ElectronMVAID.py#L4

The current EGamma recipe [1] seems to rely on CMSSW modules, which can be add

[2015-11-12 19:43] jpata opened #253 "jets for MET correction"
@bianchini
We might want to check which jets we use for correcting the MET.

In the ttH sync we find (**FIXME** add proper reference once known)
[code]
whereas currently we are doing Type1 with all miniAOD jets and JER with `cleanJetsAll` with some tighter ID and lepton cleaning reqs.

[2015-11-13 09:49] bianchini opened #254 "New pfJet ID for 13 TeV analyses"
Need to update the jet-ID cuts according to:
https://twiki.cern.ch/twiki/bin/view/CMS/JetID#Recommendations_for_13_TeV_data

[2015-11-13 14:05] bianchini opened #255 "LHE_weights"
We should save event.LHE_weights in our trees:
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/PhysicsTools/Heppy/python/analyzers/gen/LHEAnalyzer.py
Needed for theory uncert:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/LHEReaderCMSSW

[2015-11-16 09:52] jpata opened #256 "PU weight update"
A new pileup recipe is available:
https://twiki.cern.ch/twiki/bin/view/CMS/PileupJSONFileforData#2015_Pileup_JSON_Files

[2015-11-16 09:52] jpata opened #257 "MET smearing"
Need to understand what is the recommended way to propagate JER to MET.

[2015-11-16 13:06] arizzi opened #259 "save trigger p4"
Save p4 of trigger objects to be able to implement missing trigger bits

[2015-11-16 14:22] bianchini commented on #255
Added with this PR #263

[2015-11-16 14:22] #255 closed

[2015-11-17 17:38] bianchini opened #264 "IsoMu18"
Add HLT_IsoMu18_v* to data triggers: it is the lowest pT unprescaled iso mu trigger!

[2015-11-17 17:41] bianchini commented on #264
...forget about it, it is already there!

[2015-11-17 17:41] #264 closed

[2015-11-17 19:00] jpata commented on #264
I also added some triggers in my sync pr.
17.11.2015 7:56 PM kirjutas kuupäeval "bianchini" <notifications@github.com

[2015-11-23 08:56] bianchini opened #268 "New btag reweight recipe: need to implement"
To keep track of this mail:

*******************************************************************************************************************
I have pushed the most recent version of the fit files to the master branch in MiniAODHelper:
https://github.com/cms-ttH/MiniAOD/blob/master/MiniAODHelper/data/csv_rwt_fit_hf_2015_11_20.root
https://github.com/cms-ttH/MiniAOD/blob/master/MiniAODHelper/dat

[2015-11-24 18:16] bianchini opened #269 "add muon SFs"
They are here:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/MuonReferenceEffsRun2
Need to add them

[2015-12-07 11:16] degrutto opened #272 "Add JER/JEC propagation to regression"
Hello,

we need to add here
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/python/JetRegression.py

the effect of JER/JEC to the regression,
and in general think if there are other systematics to propagate to the regressed pt

[2015-12-11 08:33] degrutto opened #274 "save events with Jep_pt==1 and pt>200 (for very boosted signal)"
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/python/VHbbAnalyzer.py#L451
something like

if event.Vtype < 0 and not ( sum(x.pt() > 30 for x in event.jetsForHiggs) >= 4 or sum(x.pt() for x in event.jetsForHiggs[:4]) > 160 )  or len(getattr(event, "ak08"))>0

[2015-12-11 12:45] arizzi commented on #274
not needed as the sum pt > 160 is already a looser requirement

[2015-12-11 12:46] degrutto commented on #274
ok, I see, thanks

[2015-12-16 13:40] degrutto commented on #274
maybe better solution to keep events with very high boosted jets is to modify line
https://github.com/vhbb/cmssw/blob/vhbbHeppy74X/VHbbAnalysis/Heppy/python/VHbbAnalyzer.py#L449
to allow the case we have one ak4 jets but with very high pt

	if not   len(event.jetsForHiggs) >= 2 : # and event.jetsForHiggs[1] > 20.) : # or(len(event.cleanJets) == 1 and event.cleanJets[0] > ssThreshold ) ) :

[2016-01-05 14:38] degrutto commented on #274
see https://github.com/vhbb/cmssw/pull/275

[2016-01-05 14:38] #274 closed

[2016-01-20 21:51] jstupak opened #283 "VtypeSim and genVboson info broken for DY"
In >5% of DY events in the HT-binned MadGraph ntuples, VtypeSim = -1, and nGenVbosons = nGenLep = 0. This makes it impossible (as far as I can imagine) to correct the pT spectrum of the DY MC for higher order effects in these events.  I looked through the GenParticle info in these events and see that the event record does not contain a Z boson, instead the event record simply contains a dliepton p

[2016-01-21 09:33] arizzi commented on #283
@perrozzi is this effect known? is it happening also in 76X ? Is it a bug in MINIAOD genParticlePruner or just MG not creating those ?

[2016-01-21 09:50] perrozzi commented on #283
what I know is that this is (unfortunately) possible in pythia8, so I don't think is a bug.
there is for sure a trick to correctly tag the event by looking at the lhe instead of genparticles,
but then the only way to reconstruct the kinematic is to look at genparticles (due to isr, fsr, etc).
I am not 100% sure that 5th and 6th is fully general though, would be good to have more info about the che

[2016-01-21 09:52] silviodonato opened #287 "Problem witht PF jet energy fractions"
Studying the QCD fake-MET problem, I've spotted the following issue.
In event 42954575 of  QCD_HT500to700 (lumi=14849),
the leading gen jet (pt=278 GeV) is reconstructed very badly as a DiscardedJet with pt=13.5 GeV:
- DiscardedJet_mcPt = 278.877
- DiscardedJet_pt = 13.5137
- DiscardedJet_chHEF = 3.77084,
- DiscardedJet_leadTrackPt = 23.2188
- DiscardedJet_rawPt = 54.457

How is it possible that c

[2016-01-21 09:55] degrutto commented on #287
Hi Silvio,

do you have also the rawPt for that jet.
The energy fraction if they are taken from miniAOD (i.e. not reevaluated, we need to check in heppy what happens) are the energy fractions wrt to the pt in the miniAOD, so if that changed a lot with the JECs later it could be ....

[2016-01-21 09:57] silviodonato opened #288 "Regression in ntuples"
If we really want to use the regression in the ntuples, I think we need the following change:
- remove at least the chHEF, neHEF, and chMult from the training because there is a bad data/MC agreement in those variables.
- add also the JES/JER systematics on the regressed variables.

[2016-01-21 10:02] silviodonato commented on #287
Hi Michele,

I noticed that chHEF+neHEF+chEmEF+neEmEF is not exactly 1 because:
1) the muon fraction is missing;
2) the fraction are evaluated before the JEC.

The point is that these effects cannot explain that chHEF = 3.7 (!).
Btw. this effect appears only in MC and only when pt is very different from mcPt.

[2016-01-21 10:12] silviodonato commented on #287
(I've added the rawPt and 3.77084 × 13.5137 ÷ 54.457 = 0.935 <1)

I think we just need to multiply the fractions by the JES and the smearing factors.

[2016-01-21 11:36] bianchini commented on #254
Done in central heppy

[2016-01-21 11:36] #254 closed

[2016-01-21 11:36] bianchini commented on #268
Done in the meantime

[2016-01-21 11:36] #268 closed

[2016-01-21 11:37] bianchini commented on #252
Outdated... we will need new JEC in 76X

[2016-01-21 11:37] #252 closed

[2016-01-21 11:37] bianchini commented on #249
Done my Christian & Joosep

[2016-01-21 11:37] #249 closed

[2016-01-21 14:05] bianchini opened #292 "New JER"
Make sure we have this PR merged by Colin:
https://github.com/CERN-PH-CMG/cmg-cmssw/pull/602/files

[2016-01-21 14:06] arizzi commented on #292
let's wait cmg update otherwise we conflict

[2016-01-21 14:56] jstupak commented on #283
5th and 6th is probably not fully general.  I was trying not to modify the behavior for other samples.

I checked and this problem is very small (.5%) in the similar HT-binned Z->nunu samples and non-existent in the HT-binned W+jets.  So I only tested this on the HT-binned Z->ll, verifying that the genVboson p4 was the sum of the gen lepton p4, VtypeSim was set, and genLeps had 2 entries.

What ot

[2016-01-25 09:32] arizzi opened #297 "Import latest CMG stuff recently merged in colin branch"

[2016-01-25 10:12] perrozzi commented on #283
I was wondering about different generators for the same process, but let's keep it like this for the moment. thanks

[2016-01-25 12:49] silviodonato opened #298 "MET significance and metNoPU_pt"
We should add the MET significance, and fill metNoPU_pt properly (metNoPU_pt is identical to met_pt)

[2016-01-25 12:50] silviodonato opened #299 "Bunch crossing number"
The bunch crossing number would be a useful variable to study/check the tracking inefficiency effects.

[2016-01-25 13:12] silviodonato opened #300 "Primary vertices"
At the moment we are saving the following variables:
- primaryVertices_Rho
- primaryVertices_isFake
- primaryVertices_ndof
- primaryVertices_x
- primaryVertices_y
- primaryVertices_z

I suggest to add a variable to measure the hardness of pile-up collisions, like the sum of squared pT or the score used to sort the primary vertices.

I think also that we could remove some variables almost useless (

[2016-01-26 09:23] bianchini commented on #269
No need to have them in the trees, I'd say (little chance we get the latest...). Use standalone function

[2016-01-26 09:23] #269 closed

[2016-01-26 09:38] degrutto commented on #185
fixed in #250 (actually JEC for AK08 and AK04 needs to be updated anyway again for 76X)

[2016-01-26 09:38] #185 closed

[2016-01-26 12:57] arizzi opened #301 "Add some more rho variables?"
available in miniaod:

double_fixedGridRhoFastjetCentralNeutral__RECO. 9.50938 8.07664
double_fixedGridRhoFastjetCentralCalo__RECO. 9.49858 7.95782
double_fixedGridRhoFastjetCentralChargedPileUp__RECO. 9.53098 7.9478
double_fixedGridRhoFastjetCentral__RECO. 9.48418 7.90174
double_fixedGridRhoFastjetAllCalo__RECO. 9.48418 7.88344
double_fixedGridRhoFastjetAll__RECO. 9.46978 7.87712
double_fixedGrid

[2016-01-26 15:09] arizzi commented on #259
#302

[2016-01-26 15:11] arizzi commented on #248
fixed in central heppy

[2016-01-26 15:11] #248 closed

[2016-01-26 15:12] arizzi commented on #283
can we close this or you want to keep track of the need of making that more general?

[2016-01-26 16:11] jstupak commented on #283
I think its fine to close it.

[2016-01-26 16:13] perrozzi commented on #283
agreed

[2016-01-27 10:03] arizzi commented on #300
@bortigno do you need x and y ? I remember you asked to have the positions in the past

[2016-01-27 10:09] arizzi commented on #298
what is metNOPU supposed to be?

[2016-01-27 10:11] degrutto commented on #298
it is not supported anymore... we should just remove it, I'll take care of it

[2016-01-27 10:11] arizzi commented on #288
@cvernier @degrutto any action here?

[2016-01-27 10:12] arizzi commented on #257
did you figure something about this?

[2016-01-27 10:14] arizzi commented on #298
hold on, I will remove or we conflict

On Wed, Jan 27, 2016 at 11:11 AM, michele de gruttola <
notifications@github.com> wrote:

[2016-01-27 10:15] degrutto commented on #298
ok

[2016-01-27 11:35] arizzi commented on #244
any PR ?

[2016-01-27 11:54] degrutto commented on #257
Hi,
To me it seems this is already done in heppy,
see

https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L437

and

https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/objects/METAnalyzer.py#L189

Now the question if that is the recommended presciption
I just asked again to @mariadalfonso and she is saying in

[2016-01-27 13:15] silviodonato opened #305 "Event gen level classification"
Does someone implemented the gen event classification in the new ntuples?

https://twiki.cern.ch/twiki/bin/viewauth/CMS/VHiggsBBCodeUtils#Gen_level_classification_NEW

[2016-01-27 13:25] arizzi commented on #301
#307

[2016-01-27 13:25] #301 closed

[2016-01-27 13:25] arizzi commented on #299
#307

[2016-01-27 13:25] #299 closed

[2016-01-27 13:25] arizzi commented on #298
#307

[2016-01-27 13:25] #298 closed

[2016-01-27 14:36] bortigno commented on #300
I think they could be useful for a higgs / double b-tagging study. thank you.

[2016-01-27 16:22] #241 closed

[2016-01-27 16:44] arizzi commented on #259
ad in MC and add HT

[2016-01-27 17:14] silviodonato commented on #246
https://github.com/vhbb/cmssw/pull/309

[2016-01-27 17:14] #246 closed

[2016-01-27 18:06] bianchini commented on #305
Check if ttCls does the job. I have the impression that it works: it loops over all gen Jets pT>20 |eta|<2.4, removes those from the top decay [fine], checks the matching to B/C hadrons and assigns every event to an exadecimal number..

[2016-01-28 13:33] bianchini commented on #305
Ok Silvio, I checked: you can already use:
TCut Vbb = "ttCls>=53 & ttCls<=55"
TCut Vb = "ttCls>=51 & ttCls<=52"
TCut Vcc = "ttCls>=41 & ttCls<=45"
TCut Vudsg = "ttCls<41"
Twiki updated.

[2016-01-28 13:39] silviodonato commented on #305
Good news! It speeds up the code :-)

[2016-01-28 14:50] arizzi commented on #305
can we close this then?

[2016-01-28 15:57] degrutto commented on #257
so, the recommendation is to not use the jet smeared for JER

#311

if you do not have objection we can merge that

[2016-01-28 17:26] jstupak opened #312 "gentau bug?"
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/test/vhbb.py#L127

Looks to me like the key should be "gentaus".  If so, I can fix this in a PR in progress.

[2016-01-28 17:27] degrutto commented on #312
yes please

[2016-01-28 17:43] cvernier commented on #288
I'll commit the new weights as soon as we decide which set of weights to use. David has just circulated slides with studies and a proposal.

[2016-01-29 12:14] #312 closed

[2016-01-29 12:55] arizzi commented on #287
is there any action pending here?
in jetId the fractions are evaluated this way:

[2016-01-29 15:21] silviodonato commented on #287
Hi Andrea, I've finally founded where is the problem.
Applying the JER: https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L439
we modify the whole jet p4 vector.

Evaluating the energy fraction:
https://cmssdt.cern.ch/SDT/doxygen/CMSSW_5_3_14/doc/html/d6/d00/classpat_1_1Jet.html#a66c9972a14451bbf680cf4929a2bee4d
we call the energy() function

[2016-01-29 15:27] silviodonato commented on #287
It can be fixed easily using in https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/vhbbobj.py#L96 a formula similar to https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/vhbbobj.py#L100

The problem is that we have to fix it also in the Jet regression and in the Jet ID, at least.

[2016-01-29 15:53] silviodonato commented on #287
The same problem occurs in data here:
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/physicsobjects/Jet.py#L118

we get  (Jet_chHEF+Jet_neHEF+Jet_chEmEF+Jet_neEmEF+Jet_muEF) = 1
only if the line is commented.

[2016-01-29 16:03] degrutto commented on #257
actually one thing it maybe worth considering is the recoil correction...
but we do not have the parameters centrally...

https://twiki.cern.ch/twiki/bin/view/CMS/MissingETRun2RecoilCorrection

[2016-01-29 16:24] arizzi commented on #287
isn't already correct in JetID ?

On Fri, Jan 29, 2016 at 4:27 PM, silviodonato <notifications@github.com>
wrote:

[2016-01-29 16:39] silviodonato commented on #287
Maybe yes (I'm checking it). Still it has to be fixed in the regression (https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/JetRegression.py#L72)
and in vhbbobj.py .

[2016-01-29 17:01] silviodonato commented on #287
About the JetID, yes I can confirm you that at the moment is ok.

[2016-02-01 08:55] bianchini opened #314 "Check trigger names for 76X MC"
Are we fine with trigger names in MC? Should new trigger items be added?

[2016-02-01 09:37] #305 closed

[2016-02-01 09:37] arizzi commented on #288
@cvernier ping

[2016-02-01 09:47] arizzi commented on #287
#316 closes it

[2016-02-01 09:47] #287 closed

[2016-02-01 10:01] arizzi commented on #314
@silviodonato as far as I understand we could even directly use data trigger table on MC, but anyhow silvio syncronized... right?

[2016-02-01 10:49] #300 closed

[2016-02-01 11:36] bianchini commented on #314
Ok, thanks! Fixed in https://github.com/vhbb/cmssw/pull/318

[2016-02-01 11:36] #314 closed

[2016-02-02 12:20] bianchini opened #327 "How to use the LHE_weights_scale"
@perrozzi @arizzi
Ciao, if you remember we had added LHE_weights_scale for the muR/muF variations.
Question 1: what about PDFs? I think we still don't want to dump all possible PDFs. Maybe we can leave i for later.
Question 2: the muR/muF variations are often renormalised in a way that they don't change the inclusive cross sections, for example if I don't want to change the inclusive xsection that

[2016-02-02 12:45] silviodonato opened #328 "puWeight_up/down is missing"
We should  puWeight_up/down in the ntuples to take into account the PU reweighing systematic.

[2016-02-02 13:49] silviodonato commented on #244
#316 closes it.
In any case, now we have Jet_corr both in data and in MC and we can use it in the regression.

[2016-02-02 13:49] #244 closed

[2016-02-02 14:00] silviodonato commented on #259
#329 close it

[2016-02-02 14:06] silviodonato opened #330 "MET significance"
Looking at [1] I've seen that we can produce the MET significance directly from MINIAOD simply running the code [2] (I tested it and it work!).
I think we should add this feature in the code both for the MET and MET PUPPI.

[1] https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideMETSignificance
[2] https://github.com/cms-met/cmssw/blob/72X-MetSig-150311/RecoMET/METProducers/test/recoMET_METSigni

[2016-02-02 14:19] mariadalfonso commented on #330
@silviodonato @arizzi @gpertuc

The metSignificance is being updated to take the right 2015JER and SF

Will be stored in the miniAOD for 80X
https://github.com/cms-sw/cmssw/pull/13115

A backport for 76X will be ready soon and twiki being updated.

On Tue, Feb 2, 2016 at 3:07 PM, silviodonato <notifications@github.com>
wrote:

[2016-02-02 15:31] arizzi commented on #327
in Run1 we were storing several such histos, so I've nothing against that

On Tue, Feb 2, 2016 at 1:20 PM, bianchini <notifications@github.com> wrote:

[2016-02-02 15:31] bianchini commented on #327
Good, I am implementing them...

[2016-02-02 16:13] bianchini commented on #327
Should be done with https://github.com/vhbb/cmssw/pull/331

[2016-02-02 16:13] #327 closed

[2016-02-02 16:18] bianchini opened #332 "Split by Higgs decay modes: VH_hzg ?"
If we have to split by Higgs decay modes, I think we don't have hzg at the moment:
event.genHiggsDecayMode = abs(  event.genHiggsBoson.daughter(0).pdgId() if event.genHiggsBoson.numberOfDaughters() >= 1 else 0)
Should use some logic there.

[2016-02-02 17:22] gkasieczka opened #333 "Calibrated HTT Branches Missing"
Branches of calibrated HTT subjets missing. Very likely an issue with my cherry-picking. Will look into it

[2016-02-03 08:17] arizzi commented on #297
done

[2016-02-03 08:17] #297 closed

[2016-02-03 08:18] arizzi opened #335 "Check MVA ele duplication"
I'm guessing we have the same MVA computed from (CMG/central) Heppy  and from preprocessor @jpata can you cross check?

[2016-02-03 08:19] arizzi commented on #330
@mariadalfonso  do you have any of this (even the old recipe) already implemented in CMG/Heppy ?

[2016-02-03 09:46] perrozzi commented on #327
Ciao, concerning question 1 I would say that nnpdf30 is sufficient (though it's 100 numbers).
Concerning question 2 there are very good theoretical arguments NOT to renormalize the sum of weights after scale variations, and include these variations as part of the systematics.
we can discuss more about it if you want

[2016-02-03 09:56] mariadalfonso commented on #330
@arizzi
do not have nothing on metSIg in Heppy from the CMG side

On Wed, Feb 3, 2016 at 9:19 AM, arizzi <notifications@github.com> wrote:

[2016-02-03 10:42] silviodonato commented on #330
btw. @mariadalfonso do you know if the type-0 corrections are already used in the MINIAOD? Are you planning to add them?

[2016-02-03 14:18] bianchini commented on #327
Ciao, for the moment I put the 6 up/down scale variations, with their TH1 counter, and 2 NNPDF variations, with the counter. I took the two that Marco et al. found the largest in tt+jets, so it's more a placeholder at the moment (no idea why and which they are). If we need the full NNPDF fr some samples, we may have a special run, I guess. Anyway, if we drop DscardedJets we are likely to save 100

[2016-02-04 10:20] #259 closed

[2016-02-04 10:21] arizzi commented on #257
so? are we done on this or is there something pending?
close? move to V21? still open for V20?

[2016-02-04 10:26] degrutto commented on #257
Yes,
the MET group suggests not to propagate the JER jet emearing to MET, but just considere the systematics band (and we do save that using the METUnc tool),
so we are fine

[2016-02-04 10:26] #257 closed

[2016-02-04 10:28] arizzi commented on #332
how about
event.genHiggsDecayMode+ = abs( event.genHiggsBoson.daughter(1).pdgId() if event.genHiggsBoson.numberOfDaughters() >= 2 else 0) * 10000

[2016-02-04 10:30] arizzi commented on #332
sorry I meant
event.genHiggsDecayMode+ = abs( event.genHiggsBoson.daughter(1).pdgId() if event.genHiggsBoson.numberOfDaughters() >= 2 and  abs( event.genHiggsBoson.daughter(1).pdgId() ) != abs( event.genHiggsBoson.daughter(0).pdgId())    else 0) * 10000

[2016-02-04 10:31] arizzi commented on #288
@silviodonato can you check if #340 is enough or if there is something missing of what you recommended?

[2016-02-04 10:31] arizzi commented on #333
do you have a fix already?

[2016-02-04 10:33] bianchini commented on #332
Yes, that should work. I will test against a H->others sample to see if that works.

[2016-02-04 10:39] silviodonato commented on #288
I see that the charged multiplicity is still used. In my plots it appears that it is badly simulated:
http://sdonato.web.cern.ch/sdonato/VHbb/ZvvHbb/V15Feb2016/Stacks_expertAllnominal_v0.0.0_CRs/CR_TTbarTight_Jet_chMult0_125.png
http://sdonato.web.cern.ch/sdonato/VHbb/ZvvHbb/V15Feb2016/Stacks_expertAllnominal_v0.0.0_CRs/CR_TTbarTight_Jet_chMult1_125.png

The other point was about the JES/JER. In o

[2016-02-04 10:45] gkasieczka commented on #333
PR #342 should fix it

[2016-02-04 10:45] arizzi commented on #288
concerning charge multiplicity I'd say this is the effect of tracking hit inefficiency + CCC... it should be cured in 8.0.X (but not 76X).
JES JER means we need to run the regression also with scaled up/down JES/JER right? so we need additional instances and store what... mH, ptH ?

[2016-02-04 10:47] #333 closed

[2016-02-04 10:53] silviodonato commented on #288
Yes, we need to run with Jet_pt JER/JES up/down as input into the regression.

All regressed variables should have the syst:
- Jet_pt_reg

- HCSV_reg_pt
- HCSV_reg_mass
- HCSV_reg_eta
- HCSV_reg_phi

- HCSV_reg_pt
- HCSV_reg_mass
- HCSV_reg_eta
- HCSV_reg_phi

[2016-02-04 14:56] arizzi commented on #332
#344

[2016-02-04 14:56] #332 closed

[2016-02-05 09:23] bianchini commented on #328
Ciao, ins't it better to apply the puWeight later, once we have the latest&greatest json file? We have already a macro for that..

[2016-02-05 09:26] arizzi commented on #328
the PU in this MC is almost exactly like data, anyhow I'm updating the files right now...

[2016-02-05 09:26] bianchini commented on #288
Ciao, do you think that any of you can do it by today?

[2016-02-05 09:28] bianchini commented on #272
Seems the same issue as https://github.com/vhbb/cmssw/issues/288.. can we close it, Michele?

[2016-02-05 09:33] bianchini commented on #253
Still unclear to me what is the recipe. Anyway, Michele and I switched off the JER smearing propagation to type1 MET until we have a recipe. It's not ideal but we can go on with that until we make V21 with the latest JEC. Let's update https://github.com/vhbb/cmssw/issues/292 with this extra check and close this issue..

[2016-02-05 09:34] bianchini commented on #292
We should have a clear recipe on which jets to use for the JER smearing to MET. Currently it's cleanJetsAll, we should use the same jets used for type1 MET correction:
************************************************************************
Cut values as in PhysicsTools/PatUtils/python/patPFMETCorrections_cff.py
// The jets as provided by miniAOD
pat::Jet jet = ...;
// Requirement 1 on uncorrected

[2016-02-05 09:35] bianchini commented on #256
Maybe we can close it as well, given that Andrea is working on it: https://github.com/vhbb/cmssw/issues/328 ?

[2016-02-05 09:39] arizzi commented on #256
PR in few minutes

[2016-02-05 09:41] degrutto commented on #272
Yes, let's follow on #288

[2016-02-05 09:41] #272 closed

[2016-02-05 09:52] bianchini commented on #335
@veelken: Ciao Christian, maybe you can help here... there seems to be some duplication of the electronMVA id between heppy and what is in vhbb. Can you quickly check that they are compatible? Thanks!

[2016-02-05 09:54] arizzi commented on #328
#347

[2016-02-05 09:54] #328 closed

[2016-02-05 09:54] arizzi commented on #256
#347

[2016-02-05 09:54] #256 closed

[2016-02-05 10:13] bianchini commented on #288
Ok, I think I know I to do it. If nobody is planning to do it, I will give it a try right now!

[2016-02-05 15:59] bianchini commented on #288
Should be done in https://github.com/vhbb/cmssw/pull/350. We can close

[2016-02-05 16:00] silviodonato commented on #288
Thanks! I've just tested it and it works properly.

[2016-02-05 16:00] #288 closed

[2016-02-05 16:23] azzurrip commented on #288
Need to have a regression trained with 76X inputs.
@cvernier hopefully can produce fall15 weights
Only  a small A20 ttbar tree is available for the moment ...

[2016-02-05 16:35] degrutto commented on #288
@azzurrip  this is true but the JEC are not final (they are still the same as 74X afaik), so I am not sure how to proceed

[2016-02-05 16:42] azzurrip commented on #288
Ok but JEC is only in one of the regression inputs.
Anyhow better to align the other inputs with 76X distributions
before a big production, otherwise we won’t know how to understand performances.

On 05 Feb 2016, at 17:35, michele de gruttola <notifications@github.com<mailto:notifications@github.com>> wrote:

@azzurrip<https://github.com/azzurrip> this is true but the JEC are not final (they are s

[2016-02-05 17:58] cvernier commented on #288
Retrained using ~100k jets from TT in v20 PR353
[regressed_Mass_ZH125_v20_ttbar_genJet_highPt.pdf](https://github.com/vhbb/cmssw/files/119609/regressed_Mass_ZH125_v20_ttbar_genJet_highPt.pdf)
[regressed_Mass_ZH125_v20_ttbar_genJet.pdf](https://github.com/vhbb/cmssw/files/119608/regressed_Mass_ZH125_v20_ttbar_genJet.pdf)

[2016-02-10 10:52] bianchini opened #361 "Check filters"
according to
https://twiki.cern.ch/twiki/bin/viewauth/CMS/MissingETOptionalFiltersRun2#MiniAOD_76X_v2_produced_with_the
we are missing three 76X filters in
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/core/TriggerBitAnalyzer.py#L118:

 Flag_CSCTightHalo2015Filter TO BE USED
Flag_chargedHadronTrackResolutionFilter do not use - those are under study 76X
Flag_mu

[2016-02-10 11:04] bianchini commented on #361
I have added the, PR will follow soon..

[2016-02-10 12:03] bianchini commented on #361
See https://github.com/vhbb/cmssw/pull/362

[2016-02-10 12:35] bianchini opened #363 "metNoHF"
What shall we do with this?
From https://hypernews.cern.ch/HyperNews/CMS/get/JetMET/1661/1.html I see that
"The recommendation is to use the golden JSON and the met w/full detector"
I'd rather recompute slimmedMETsNoHF.
Does anybody have an implementation? I tried to modifi combined_cmssw using PhysicsTools/PatAlgos/test/corMETFromMiniAOD.py
but miserably failed.

[2016-02-10 13:00] arizzi commented on #363
how about "let's stick to the recommendation" ?
:-)

On Wed, Feb 10, 2016 at 1:35 PM, bianchini <notifications@github.com> wrote:

[2016-02-10 13:12] bianchini commented on #363
uhm.. I would not lose 400pb just for this..

[2016-02-10 13:42] azzurrip opened #364 "add CompatibilityDz requirement for add soft activity"
add pvAssociationQuality()>= CompatibilityDz requirement on top of fromPV>=2
for a cleaner evaluation of additional soft activity

[2016-02-11 10:43] arizzi opened #365 "protect div by zero"
https://cmsweb.cern.ch/scheddmon/066/cms1756/160210_081323:arizzi_crab_VHBB_HEPPY_V20_001_SingleMuon__Run2015D-16Dec2015-v1/job_out.578.8.txt

[2016-02-11 11:01] bianchini commented on #365
https://github.com/bianchini/cmssw/commit/56b9e49ec2c9be97c7e2cfb5cb722fb07222b192 should do the job. But the problem is in Lepton.py (Heppy). Chained to my previous PR.

[2016-02-17 11:29] silviodonato opened #369 "MET shifted issue"
I've spotted in the file (V15)
/store/user/arizzi/VHBBHeppyV14/QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/VHBB_HEPPY_V14_QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8__RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/151025_083609/0000/tree_12.root

tree->Show(718)

 met_pt          = 156.356
 met_shifted_JetEnDown_pt = 130.645
 met_shifted_JetEnUp_pt = 131.038
 met_shifted_Mu

[2016-02-17 13:00] perrozzi commented on #369
(ciao, naively speaking the met is a vectorial sum over the full event, so is not obvious to me that the jec up/down have a "linear" effect)

[2016-02-17 13:11] silviodonato commented on #369
that is true,
but looking at the reported events it is curios that all shifted MET are around ~ 130 GeV,  but met_pt = 156.356

[2016-02-17 13:14] degrutto commented on #369
Hi Silvio, I believe this is due to the fact in V14 we had the jer smearing propagated to met (I switched it off in v20)... can you plot for those ebents the jet_pt, jet_raw, jet_jerUp/down?

[2016-02-17 13:19] silviodonato commented on #369
This was an event of fakeQCD with a jet of 57 GeV measured as 209 GeV. So the JER corrections have a large effect and they can explain the problem.

 Jet_pt          = 209.784,
                  45.7247, 43.9536

 Jet_rawPt       = 183.167,
                  42.1796, 41.4892

 Jet_mcPt        = 57.7131,
                  48.5465, 41.2616

 Jet_corr_JECUp  = 1.08156,
                  1.11155, 1.07

[2016-02-17 14:00] silviodonato commented on #369
@degrutto if you think this problem is already solved in V20, please close the issues.

[2016-02-17 14:02] silviodonato opened #370 "add caloMET"
It would be useful to save the caloMET to study/avoid problem of fakeMET due to fake tracks like in
~arizzi/workspace/public/HT100PickEvent.root

[2016-02-17 14:06] degrutto commented on #369
;-) thanks for the check, I believe the problem is indeed well understood and cured in v20 ;-)

[2016-02-17 14:06] #369 closed

[2016-02-22 08:35] #361 closed

[2016-02-22 08:55] bianchini opened #374 "ext4 of DYJetsToLL_FxFx"
@perrozzi @benjaminkreis
Ciao, I have seen from https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1729/1/1.html that there is this sample:
/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIIFall15MiniAODv2-PU25nsData2015v1_76X_mcRun2_asymptotic_v12_ext4-v1/MINIAODSIM
with 120M events. Can we add it to datasets_MCRUN2_25ns_RunIIFall15MiniAODv2-PU25nsData2015v1_76X.txt?

[2016-02-22 09:40] arizzi commented on #365
#362

[2016-02-22 09:40] #365 closed

[2016-02-22 09:40] arizzi opened #375 "add silver json"

[2016-02-22 09:44] arizzi commented on #364
"on top of "  makes no sense as the fromPV >=2 is tighter... do you want to "OR" them?

[2016-02-22 10:18] arizzi commented on #364
#376

[2016-02-22 10:18] #364 closed

[2016-02-22 10:18] arizzi commented on #370
#376

[2016-02-22 10:19] #370 closed

[2016-02-22 13:05] arizzi commented on #375
#377

[2016-02-22 13:05] #375 closed

[2016-02-22 21:23] benjaminkreis commented on #374
@bianchini, this is added in PR #379

[2016-02-23 08:51] bianchini commented on #374
Thanks Ben!

[2016-02-23 08:51] #374 closed

[2016-02-23 10:09] bianchini commented on #363
Ciao, given also https://hypernews.cern.ch/HyperNews/CMS/get/met/448.html I'd say to forget about metNoHF+silver for Moriond and use fullMET+golden. Do you agree? We can then close this issue.

About JER: we already removed JER propagation to MET: https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/test/vhbb.py#L240, so we are fine. But we need the good JER scale factors (still usin

[2016-02-23 10:19] silviodonato opened #381 "MET in 76X"
In the JetMET hyper-news, the POG reported the new recipes for the MET reconstruction [1].

The only things that we have to check is:
- to use the JEC "Fall15_25nsV2" in 76X (I think we are already using it)
- to use the new filters [2]. The changes are:
 - Flag_CSCTightHalo2015Filter instead of Flag_CSCTightHaloFilter (currently Flag_CSCTightHalo2015Filter **is missing in V20**)
 - Flag_EcalDeadC

[2016-02-23 10:25] bianchini commented on #381
Ciao,
see: https://github.com/bianchini/cmssw/commit/cb1addc8e035cf5b5d55e8480d11fbd81c834291 for the missing filters: is it enought?
Yes, we are using Fall15 V2

[2016-02-23 10:29] silviodonato commented on #381
Ciao,
it would be better also to take
- Flag_HBHENoiseFilter
- Flag_HBHENoiseIsoFilter
- Flag_EcalDeadCellTriggerPrimitiveFilter,
directly from the MINIAOD.
Maybe we are already doing it for Flag_EcalDeadCellTriggerPrimitiveFilter.

Thanks, Silvio.

[2016-02-23 10:36] arizzi commented on #381
can you please check? I'd like to send V21 today...

[2016-02-23 10:39] bianchini commented on #381
We alreadu have them from central heppy. Please check:
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/core/TriggerBitAnalyzer.py#L125
I see all of them.

[2016-02-23 10:41] degrutto commented on #381
@arizzi: to start the v21 we need some fixes to the regression application (for wahtever new weight files we use), I'll do a PR and than let's see which weight files to use

[2016-02-23 10:42] silviodonato commented on #381
Great! So bianchini@cb1addc closes the issue.

[2016-02-23 10:42] #381 closed

[2016-02-23 11:19] arizzi commented on #363
anyhow I added silver json flag

On Tue, Feb 23, 2016 at 11:10 AM, bianchini <notifications@github.com>
wrote:

[2016-02-23 11:50] degrutto opened #383 "Fix regression for 76X"
see #382 to start with

[2016-02-23 12:07] bianchini commented on #363
Sounds good. Close

[2016-02-23 12:07] #363 closed

[2016-02-23 12:50] arizzi commented on #383
is there something beyond #382 or what?

[2016-02-23 13:16] degrutto commented on #383
Hi Andrea,
yes we should remove one of the training variables with the new weights

[2016-02-23 15:13] bianchini opened #384 "Electron and muon scale/resolution"
Ciao,
just to keep track of it.
There are recipes for electron energy corrections:
https://twiki.cern.ch/twiki/bin/view/CMS/EGMSmearer
and muons:
https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1744.html
Since we use V_pt, V_mass, pT-balance, etc., we may consider adding them to V21 or later.
V_mass is already not so spectacular:
https://gaperrin.web.cern.ch/gaperrin/Xbb/share/V14/2190pb/Control

[2016-02-23 18:08] bianchini commented on #292
Done with https://github.com/vhbb/cmssw/pull/378

[2016-02-23 18:08] #292 closed

[2016-02-24 15:21] silviodonato opened #386 "Bug in PU weight Down"
I've just spotted a bug.
PU weight down is always identical to PU weight up, even in H21!!

It looks like PU weight up is right, but PU weights down is overridden by PU weight up.

[2016-02-24 15:39] arizzi commented on #386
well we can symmetrize, anyhow if you spot the bug in the code please fix

[2016-02-25 09:29] silviodonato commented on #386
https://github.com/vhbb/cmssw/pull/387 close it

[2016-02-26 08:16] #386 closed

[2016-02-27 11:54] azzurrip opened #389 "76X Jet pileup id ?"
Do we want to make sure to use 76X pu jet-id  ?
https://hypernews.cern.ch/HyperNews/CMS/get/jet-algorithms/383.html
https://twiki.cern.ch/twiki/bin/view/CMS/PileupJetID#Information_for_13_TeV_data_anal
https://indico.cern.ch/event/502737/contribution/3/attachments/1234291/1811331/PileupJetID_76X.pdf
it should be much better than using the previous version.
Guess this should go in central heppy rig

[2016-02-29 17:14] bianchini opened #390 "DY with Mll 10-50"
@benjaminkreis @perrozzi
Ciao, do we have samples with Mll<50 GeV? The ttbar CR reads:
"Mll not in [75,110]"
so we cannot ignore low mass DY for this region.

[2016-02-29 17:42] benjaminkreis commented on #390
@bianchini @perrozzi

DAS is down right now, but by searching around McM(*), I expect we should be able to find:
/DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIIFall15MiniAODv2-PU25nsData2015v1_76X_mcRun2_asymptotic_v12-v1/MINIAODSIM
/DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIIFall15MiniAODv2-PU25nsData2015v1_76X_mcRun2_asymptotic_v12_ext1-v1/MINIAODSIM
/DYJ

[2016-03-01 07:26] bianchini commented on #390
Thanks, Ben! It's unfortunate that we don't have MG5 samples to be used together with the M-50 ones.
Could you please add at least these ones into https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/test/crab/datasets_MCRUN2_25ns_RunIISpring15MiniAODv2.txt ? I am not sre about the ext, and if we need all of them or only some.
Thanks.

[2016-03-01 15:46] benjaminkreis commented on #390
Hi Lorenzo,

Looking again with DAS back up, I also found:
/DYJetsToLL_M-5to50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

and the same in HT bins:
/DYJetsToLL_M-5to50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
/DYJetsToLL_M-5to50_HT-200to400_TuneCUETP8M1_13TeV-madgraphML

[2016-03-01 16:00] bianchini commented on #390
Hi Ben, these are 74X samples.. do we have them also in 76X?
About the samples, naively I'd say all of them.
@perrozzi: is that ok?

[2016-03-01 16:17] benjaminkreis commented on #390
Oops I see.  The dataset list file you mentioned above is the 74x one.

For madgraph in 76X, I see:
/DYJetsToLL_M-5to50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIIFall15MiniAODv2-PU25nsData2015v1_76X_mcRun2_asymptotic_v12-v1/MINIAODSIM
/DYJetsToLL_M-5to50_HT-200to400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIIFall15MiniAODv2-PU25nsData2015v1_76X_mcRun2_asymptotic_v12-v1/MINIAODSIM
/D

[2016-03-01 17:01] bianchini opened #393 "Jet_corr in regression has to be fixed"
My current understanding is (mixing heppy and vhbb names):

Jet_rawPt = j.rawFactor() * Jet_pt
[https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/PhysicsTools/Heppy/python/analyzers/objects/JetAnalyzer.py#L440]

Jet_pt = Jet_rawPt * Jet_corr * Jet_corr_JER

hence:
Jet_corr = 1 /  j.rawFactor() / Jet_corr_JER

Can you confirm?

Then, from https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/H

[2016-03-01 17:57] degrutto commented on #393
Hi @bianchini
(btw, the confusion is that _corr should read _corrJEC! )
so I confirm

Jet_pt = Jet_rawPt * Jet_corr * Jet_corr_JER  see [*]

and also
rawFactor = Jet_rawPt / Jet_pt (corr JER + JEC) =1/ ( jet_corr * jet_corrJER)

so
jet_corr (only JEC) = (1/ rawFactor)  / jet_corrJER !

so L70 should be changed to be
 self.Jet_corr[0] = (1/ j.rawFactor()/ jet_corrJER) / pt_corr

but why not  even s

[2016-03-01 18:03] degrutto commented on #393
btw I am lookig at V20, ttbar sample

TFile *_file0 = TFile::Open("/afs/cern.ch/user/d/degrutto/eos/cms/store/group/phys_higgs/hbb/ntuples/V20/user/arizzi/VHBBHeppyV20/TT_TuneCUETP8M1_13TeV-amcatnlo-pythia8/VHBB_HEPPY_V20_TT_TuneCUETP8M1_13TeV-amcatnlo-Py8__fall15MAv2-pu25ns15v1_76r2as_v12-v1/160209_171214/0000/tree_185.root")

It seems for pt_reg_JER up and down is not working ....

tree>Scan("Je

[2016-03-01 18:08] degrutto commented on #393
and the problem is this
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/JetRegression.py#L65

ot should be

'corrJER' -> 'corr_JER' !!!

[2016-03-01 18:15] benjaminkreis commented on #390
PR #394

[2016-03-02 08:15] bianchini opened #395 "HCSV_reg"
Hello,
some time ago I implemented all the possible H_reg/HCSV_reg variations for JEC JER up/down.
However we don't really need them, since we already save Jet_pt_reg, Jet_pt_reg_corrJECUp, ...,
so we can always get the shifted Higgs mass by multiplying HCSV_mass by ratios of Jet_pt_reg_*[hJidx].

It's quite some lost CPU everytime we evaluate it:
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VH

[2016-03-02 08:16] bianchini commented on #389
Ciao, any news about that?
Can anybody look at it? We need the good pileup jet ID, because we do use it.

[2016-03-02 08:17] arizzi commented on #395
did you profile it? is it actually slow?

[2016-03-02 08:21] bianchini commented on #395
Ciao, no, I have not done it myself, but it's anyway 8 more accesses to the BDT, and each time we regress all jets in the event..

[2016-03-02 08:26] bianchini commented on #395
ok.. I am running on a few events and let you know what I see..

[2016-03-02 08:36] arizzi commented on #389
I can have a look, would you prefer to replace the selection based on the new one or just add one more flag for puId76 ?

the example given foresee also jet-correction before the new ID but I think we can avoid that (as it would make the changes more invasive and more error prone)... in the end a 5% wrong pT should not affect much the PU ID ... isn't it? I mean the resolution is larger than the sh

[2016-03-02 09:08] bianchini commented on #389
ciao Andrea, great, thanks! Ideally, we would like to update the Higgs jet selection to this new jetID, and add puId76 for all the jets..
I am fine with not changing the jet energy before.. I am also puzzled, I thought this ID was working at the level of pfcandidates..

[2016-03-02 09:14] bianchini commented on #395
Ok. So:
    ncalls  tottime  percall  cumtime  percall filename:lineno(function)
      13    0.100    0.008    0.830    0.064 VHbbAnalyzer.py:270(doVHRegression)

Without DoVHRegression:   1274811 function calls (1266264 primitive calls) in 82.710 seconds
With DoVHRegression:        1286529 function calls (1278147 primitive calls) in 82.780 seconds

I guess we can conclude it's not a problem.... t

[2016-03-02 09:16] azzurrip commented on #389
Yes great if we can replace it ! I think the previous one is really not working well (and limited to central jets). For low pT jets (say around 30 GeV or lower) the value of the pT is important to classify properly the jet  (based on the internal composition). For this I guess is important not to use the raw pT as it can be significantly smaller than the corrected pT.

[2016-03-02 09:25] arizzi commented on #389
is not raw anyhow, at most it is " Old JECs"
Il 02/mar/2016 10:16, "azzurrip" <notifications@github.com> ha scritto:

[2016-03-02 09:37] degrutto commented on #395
I would keep them, to make sure all analysts really do the systematics right

[2016-03-02 09:41] bianchini commented on #395
Fine for me. I was hoping we could gain some CPU, but I figured out the opposite.

[2016-03-02 11:11] arizzi commented on #393
@silviodonato

[2016-03-02 11:15] bianchini commented on #393
Ciao, so thinking a bit more:

For the regression I'd use:
 - Jet_pt, i.e. the fully calibrated jets
 - Jet_pt/Jet_rawPt (==Jet_corr*Jet_corr_JER), i.e. what we need to apply to raw jets to get fully calibrated ones.

Then, the systematic variations correspond to:
 - Jet_pt --> Jet_pt*(Jet_corr_JECUp(Down)/Jet_corr), Jet_pt*(Jet_corr_JERUp(Down)/Jet_corr_JER)
 - Jet_pt/Jet_rawPt --> Jet_corr_JECUp

[2016-03-02 11:15] azzurrip commented on #389
Ok fine then

[2016-03-02 11:28] silviodonato commented on #393
Ciao Lorenzo,
what about to use directly the variables that are filled in the ntuples:
Jet_pt = Jet_rawPt * Jet_corr * Jet_corr_JER ?
Just to avoid any problem...

[2016-03-02 11:49] degrutto commented on #393
Hi,

I am not sure I agree

The regression is doing again the calibration as a new JEC (flavour=5),
so you do not want to mix with the JER.

Jet_corr as it is to me is a reasonable variable to give as input as it is the amount of correction form the JEC (only)
Then we correctly treat the jet_pt to be with JER smear for MC
so I would leave as it is but replacing line 70 for systematics with

self.J

[2016-03-02 12:31] bianchini commented on #393
Ok guys, I am happy like this! Michele will make a PR to fix it. I will then close this issue

[2016-03-02 12:51] #395 closed

[2016-03-02 13:59] arizzi commented on #389
btw this will require migration to 763p2

[2016-03-02 14:07] bianchini commented on #389
Ok. I am also struggling with the EGamma energy corrections that are also based on 763p2...
Shall we give up?

[2016-03-04 08:15] perrozzi commented on #390
ciao, sorry to come late, I agree with the need to add and I see that they have already merged, thanks

[2016-03-04 10:14] arizzi commented on #389
#398 should implement the new PU ID

[2016-03-04 12:02] bianchini commented on #384
@arizzi Ciao, I have managed to have the EGamma smearing working on top of your arizzi:v21fixes branch..it seems to give reasonable results. I am not sure of the black magic tricks needed to have it in this branch.. shall we make an attempt to add it before launching V21?

[2016-03-07 10:37] #390 closed

[2016-03-07 15:58] arizzi opened #403 "lower pt cut for single jet pass condition"

[2016-03-07 16:02] bianchini commented on #403
Ciao Andrea.
How low?
I had a similar idea that we should keep Z+1j doing balancing studies for the regression. In that case, one jet plus one b-tagged jet may do the job. Was this the idea?

[2016-03-07 16:05] arizzi commented on #403
I received a request from VZ cross check analysis to lower to 1 pt 170
FatJet

On Mon, Mar 7, 2016 at 5:02 PM, bianchini <notifications@github.com> wrote:

[2016-03-07 16:10] bianchini commented on #403
Ok, so not what I had in mind...
@degrutto @cvernier: we were discussing back in December a good way to validate the regression is through the Z pt balance in Z+1j events, with the jet recoiling against the Z. But we don't have such events in the trees. We could think about 1 jet>20 plus some b-tagging, for example CSVM. What do you think?

[2016-03-09 07:24] bianchini opened #406 "yet another set of JER"
We should implement https://hypernews.cern.ch/HyperNews/CMS/get/JetMET/1670.html

[2016-03-09 08:41] bianchini commented on #406
See https://github.com/vhbb/cmssw/pull/407

[2016-03-09 10:29] degrutto commented on #393
see https://github.com/vhbb/cmssw/pull/408 this is also containes new weights

[2016-03-09 11:05] silviodonato commented on #393
@cvernier @dcurry

[2016-03-11 07:37] bianchini commented on #393
Done by https://github.com/vhbb/cmssw/pull/408

[2016-03-11 07:37] #393 closed

[2016-03-11 08:39] #406 closed

[2016-03-12 20:43] bianchini opened #414 "Using freshly computed eleMVA"
I realized that we were using the eleMVA ID stored in the miniAOD to decide the Vtype:
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/test/vhbb.py#L293
while we should use the one recomputed according to https://twiki.cern.ch/twiki/bin/viewauth/CMS/MultivariateElectronIdentificationRun2#Recipes_and_implementation
I checked on a few MC events that the two are similar but not ide

[2016-03-14 13:11] bianchini commented on #414
Uhm... I am a bit puzzled by this printout we get when running vhbb_combined.py:

MVABin 0 : MethodName = BDT , type == 2 , Load weights file : /cvmfs/cms.cern.ch/slc6_amd64_gcc493/cms/cmssw-patch/CMSSW_7_6_3_patch2/external/slc6_amd64_gcc493/data/RecoEgamma/ElectronIdentification/data/PHYS14/EIDmva_EB1_5_oldscenario2phys14_BDT.weights.xml
MVABin 1 : MethodName = BDT , type == 2 , Load weights fil

[2016-03-14 14:07] bianchini commented on #414
Ok, never mind. It was our fault (we are saving phys14 mva ID's for some reason):
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/vhbbobj.py#L28
I would comment them out from vhbbobj.py.
I don't see a reason why we should keep them, and it just creates confusion.
Do you have objections? Anybody still using Phys14 ID?

[2016-03-14 14:09] degrutto commented on #414
not that I know,
I'd say to comment that line

[2016-03-14 14:11] degrutto commented on #403
Hi,
sorry to comment only now, maybe do that only for two muons/leptons? I'm fraid if we extend to all vType we would accept too many events (for example for QCD)

[2016-03-14 14:13] degrutto commented on #383
Hi, this is taken care in #410

[2016-03-14 14:13] #383 closed

[2016-03-14 14:15] degrutto commented on #253
ok, closing
(the prescription is still not to use JER smearing for type-1 MET)

[2016-03-14 14:15] #253 closed

[2016-03-14 15:22] bianchini commented on #384
See https://github.com/vhbb/cmssw/pull/416. But it would be good to hear the opinion of experts before merging

[2016-03-15 02:00] cvernier commented on #403
We could restrict to Vtype=0 (muon) only or include Vtype=1 too.

[2016-03-15 08:54] arizzi commented on #403
not doing it as not needed for now.

[2016-03-15 08:54] #403 closed

[2016-03-15 11:57] bianchini commented on #384
Done by https://github.com/vhbb/cmssw/pull/419

[2016-03-15 11:57] #384 closed

[2016-03-15 11:59] bianchini commented on #414
Done by https://github.com/vhbb/cmssw/pull/413 and https://hypernews.cern.ch/HyperNews/CMS/get/egamma/1701/1/1/1.html

[2016-03-15 11:59] #414 closed

[2016-03-15 14:29] bianchini commented on #335
I would say we can close.
Our ID is fine. We essentially implement the full-framework recipe in our preprocessor. We can always switch to the mvaID stored in the miniAOD once it's stable.

[2016-03-15 14:30] bianchini commented on #389
@azzurrip: Paolo do you think we can close this issue? Is the new puId fine?

[2016-03-15 14:40] azzurrip commented on #389
Yes very fine.

On 15 Mar 2016, at 15:30, bianchini <notifications@github.com<mailto:notifications@github.com>> wrote:

@azzurrip<https://github.com/azzurrip>: Paolo do you think we can close this issue? Is the new puId fine?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/vhbb/cmssw/issues/389#issuecomment-196845734

[2016-03-16 09:03] #389 closed

[2016-04-14 11:53] silviodonato opened #429 "Change V mass for Vtype=2,3"
At the moment, the V candidate is defined as the sum of the four-momentum of vLeptons_xx[0] and met_xx[0].
I'm suggesting to use the transverse mass, instead of the standard invariant mass, in case of Vtype=2,3 (W decay).
In this way, we could see clearly the W mass peak.

[2016-06-01 07:19] bianchini opened #436 "Check triggers for 80X MC/data"
we should check that:
- all the needed trigger bits are saved
- we save trigger objects for all relevant triggers (e.g. we were missing those for DoubleBtag triggers)

P.S. does the fact that the MC contains a wrong trigger emulation represent a problem?
Boh..

[2016-06-01 07:21] bianchini opened #437 "Loosening electron ID for Zee"
With 76X we studied the possibility of loosening the electron ID for Zee because we observed a sizable migration GenVtype1->Vtype2.

David made some studies, he should make a proposal and have it implemented in vhbb.py

[2016-06-01 07:24] bianchini opened #438 "Regression for ZllH"
This time we want to save a dedicated regression with MET to be used for ZllH as a backup if we can't have the kinematic fit working in time.

[2016-06-07 06:35] bianchini commented on #436
@scooperstein @GLP90 @swang373 @MDallOsso @pablodecm
Please check that https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/TriggerTableData.py and https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/TriggerObjectsList.py contain all the triggers you need.

[2016-06-07 06:42] bianchini opened #441 "Check ele and mu objects"
@scooperstein @GLP90
Ciao, can you please check that the ele/muon ID we have now in this branch are in line with the POG recommendations?
Thanks

[2016-06-07 07:08] bianchini commented on #441
@dcurry09

[2016-06-07 07:10] bianchini opened #442 "Scale factors for ele trigger"
@dcurry09
Could ypu please add the latest ele trigger SF you computed for 76X?
Even if they will change in the future, I would prefer to have them integrated in the code.
Thanks

[2016-06-07 07:25] bianchini commented on #436
@chernyavskaya

[2016-06-07 07:46] bianchini opened #443 "Are ALL priority1 80X samples there?"
To follow up https://github.com/vhbb/cmssw/pull/435:
do we have all miniAODv2 samples there? In particular, let's make sure we have the VH signal samples and TT sample to submit the preprouction + regression

[2016-06-07 07:50] azzurrip opened #444 "remove eta restriction on the presence of 2 jets for vtype =0,1,2,3"
for extending the use to EW Z/W+jj (VBF Z/W) measurements
will lead to a very small increase in number events in the trees

[2016-06-07 07:52] bianchini commented on #438
@cvernier @dcurry09
Ciao, we need a PR that adapts the code to include a new training with MET:
- Jet_pt_reg
- Jet_pt_regVBF
- Jet_pt_regZH
  Could you start working on it? Thanks!

[2016-06-07 14:49] dcurry09 commented on #442
Hi Lorenzo,

I am working on this now.  I agree that this is a good idea to have, since
in the future all we have to do is change the JSON for an updated trigger
SF.

Can you tell me what is the correct version of CMSSW 80x to use?  8_0_3 for
example?

thanks,

On Tue, Jun 7, 2016 at 9:10 AM, bianchini notifications@github.com wrote:

##

## David Curry

Physics Department
CERN B8 R-031 || Univers

[2016-06-07 15:02] bianchini commented on #442
Great!
Please use 8_0_5

[2016-06-09 06:36] bianchini commented on #442
Done by https://github.com/vhbb/cmssw/pull/445.

According to Michele, Ele23 is prescaled now: we must switch to Ele27.
@dcurry09: do you have the 76X SF for Ele27 as well?

[2016-06-09 06:43] bianchini commented on #436
Ciao,
any news about this? Please check:

@scooperstein: SingleEle and SingleMu triggers. Beware that Ele23 has been prescaled
@GLP90, @dcurry09: DoubleEle and DoubleMu triggers.
@swang373, @silviodonato: MET triggers
@MDallOsso @pablodecm: HH triggers
@chernyavskaya: VBF triggers
@silviodonato, @d-salerno: ttH all-hadronic triggers
@degrutto, @bianchini: MSSM triggers

For all of them we have to

[2016-06-09 06:47] bianchini commented on #441
@scooperstein, @GLP90, @dcurry09: take a look in the POG twikis.
Ask on hn if you can't find anything there.
We need to know the ID we are using is still fine and if it will be commissioned by the POG

[2016-06-09 07:00] dcurry09 commented on #442
Hi,

No, the electron trigger SF was computed on Ele23 and will have to be
redone for Ele27.  As far as I know the MVAID SF can still be used on
Ele27.  Please correct if this is wrong.

On Thu, Jun 9, 2016 at 8:36 AM, bianchini notifications@github.com wrote:

##

## David Curry

Physics Department
CERN B8 R-031 || University of Florida, NPB 1218
curry@phys.ufl.edu
076 291 0492

[2016-06-09 07:48] bianchini commented on #442
ID SF are with respect to offline.

The trigger will be with respect to probes passing the ID, so, yes, the MVAID SF remain the same.
The ttH people have already computed SF for Ele27: try with your ttH friends, otherwise let me know and I will contact other people.

[2016-06-09 08:13] silviodonato commented on #436
Hi all,
you can find the running HLT paths in [274387](https://cmswbm.web.cern.ch/cmswbm/cmsdb/servlet/HLTSummary?fromLS=140&toLS=439&RUN=274387&KEY=2002042). As Lorenzo wrote, they have to be compared with [TriggerTableData.py](https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/TriggerTableData.py).

Regarding ZvvHbb I fixed with https://github.com/vhbb/cmssw/pull/446

[2016-06-09 08:29] azzurrip commented on #442
Hi, I see HLT_Ele25 is also unprescaled, can we use Ele25 ?
Paolo

On 09 Jun 2016, at 09:48, bianchini <notifications@github.com<mailto:notifications@github.com>> wrote:

ID SF are with respect to offline.

The trigger will be with respect to probes passing the ID, so, yes, the MVAID SF remain the same.
The ttH people have already computed SF for Ele27: try with your ttH friends, otherwise let me

[2016-06-09 08:30] degrutto commented on #436
Hi,

and just to restate,

HLT_Ele23_WPLoose_Gsf_v4 (2044547)
https://cmswbm.web.cern.ch/cmswbm/cmsdb/servlet/HLTPath?PATHID=2044547

is prescaled now

On 6/9/16 10:14 AM, silviodonato wrote:

[2016-06-09 08:32] degrutto commented on #442
Hi Paolo,

it will be prescaled today...

the one to use is

HLT_Ele27_eta2p1_WPLoose_Gsf_v3 (2044276)
https://cmswbm.web.cern.ch/cmswbm/cmsdb/servlet/HLTPath?PATHID=2044276

On 6/9/16 10:29 AM, azzurrip wrote:

[2016-06-09 08:46] d-salerno commented on #436
the all hadronic ttH signal trigger names have changed:
"HLT_PFHT450_SixJet40_PFBTagCSV0p72_v_" --> "HLT_PFHT450_SixJet40_BTagCSV_p056_v_"

"HLT_PFHT400_SixJet30_BTagCSV0p55_2PFBTagCSV0p72_v_" --> "HLT_PFHT400_SixJet30_DoubleBTagCSV_p056_v_"

Also, all L1HTT seeds have changed name. For example in the SixJet triggers the L1 seed object goes from:
hltL1sL1HTT175 --> hltL1sHTT280IorHTT300

[2016-06-09 08:51] bianchini commented on #436
Thanks! Can you provide a PR?

[2016-06-09 09:01] silviodonato commented on #436
Ciao Lorenzo,
I included it in https://github.com/vhbb/cmssw/pull/446/files (and also the VBF, HH4b triggers).

The trigger objects are changed with https://github.com/vhbb/cmssw/pull/447 , but I have to change the code to use the L1 stage-2 trigger objects

[2016-06-09 09:10] bianchini commented on #436
Ok, great thanks!

[2016-06-09 09:32] dcurry09 commented on #436
Hi,

The electron triggers that have to be changed are:

HLT_DoubleEle24_22_eta2p1_WPLoose_Gsf_v\* ->
HLT_DoubleEle24_22_eta2p1_WPLoose_Gsf_v3*

HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_DZ_v\* ->
HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_DZ_v*

HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_v\* ->
HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_v3*

This is in PR #448
https://github.com/vhbb/cmssw/pull/448

On Thu, Jun

[2016-06-09 09:37] degrutto commented on #436
Hi David

please do not use v3_, but keep v_!

On 06/09/2016 11:32 AM, dcurry09 wrote:

[2016-06-13 09:11] bianchini commented on #442
Done by https://github.com/vhbb/cmssw/pull/445.
Closing

[2016-06-13 09:11] #442 closed, assigned to nobody

[2016-06-13 09:12] bianchini commented on #436
Done by https://github.com/vhbb/cmssw/pull/447
Closing

[2016-06-13 09:12] #436 closed, assigned to nobody

[2016-06-13 09:17] bianchini opened #450 "Dump good JEC, change GTs"
We need to dump the correct JEC and link them in vhbb.py

[2016-06-13 10:03] degrutto commented on #436
Hi all,

contrary t what I said...
TSG decided to have HLT_Ele25_WPTight (no eta restriction) unprescaled!

[2016-06-13 13:28] bianchini commented on #450
Taken by @degrutto

[2016-06-13 13:29] bianchini opened #451 "Check PU weight"
Currently, puWeight ~ 0.2 with huge peak at zero: we should replace test/crab/puMC.root with the correct Spring16 distribution or we are screwing up.
Who knows how to get it?

[2016-06-13 13:50] bianchini opened #452 "GenHFHadronMatcher: check the recipe on 80X"
Is the GenHFHadronMatcher module we run in the preprocessor still fine in 80X?
@jpata: can you please take a look?

[2016-06-13 13:52] jpata commented on #452
I've checked that at least the output is filled in the madgraphMLM and powheg-herwig samples. I think by now it is part of CMSSW, so there is no recipe.
For a true physics validation I was going to prepare the tt+X yields per categories...

[2016-06-13 14:28] bianchini commented on #452
Ciao joosep, thanks.
Are you saying that we are no longer running standalone code for this? I remember that in the past you had to take local versions of the c++ code.
If it is fine to use the version under CMSSW_RELEASE_BASE, we close this issue.

[2016-06-13 14:38] bianchini commented on #451
Ok, it shoul be this one:
https://raw.githubusercontent.com/cms-sw/cmssw/CMSSW_8_0_X/SimGeneral/MixingModule/python/mix_2016_25ns_SpringMC_PUScenarioV1_PoissonOOTPU_cfi.py
I can take care

[2016-06-13 14:58] perrozzi commented on #451
To complement: all the info concerning pileup, json and lumicalc for 2016 data ara available at
https://twiki.cern.ch/twiki/bin/view/CMS/PdmV2016Analysis

[2016-06-13 17:24] perrozzi commented on #450
https://hypernews.cern.ch/HyperNews/CMS/get/smp-j/292.html

[2016-06-13 23:29] degrutto commented on #450
see #455
obtained from here https://twiki.cern.ch/twiki/bin/view/CMS/JECDataMC by dumbing  Spring16_25nsV3_MC(DATA)

Checked it makes the pt spectrum slightly softer wrt to (wrongly) applying the 76X correction on 80X as we were still doing

[2016-06-14 12:42] bianchini commented on #450
After swtiching to Spring16_25nsV3_DATA, vhbb_combined_data crashes on data:

Traceback (most recent call last):
  File "vhbb_combined_data.py", line 27, in <module>
    looper = Looper( 'Loop', config, nPrint = 1, nEvents = 100)
  File "/mnt/t3nfs01/data01/shome/bianchi/VHbb_80X/CMSSW/python/PhysicsTools/HeppyCore/framework/looper.py", line 85, in **init**
    self.analyzers = map( self._build, c

[2016-06-14 13:48] bianchini opened #458 "Crash in VBFlikelihood: make sure trigger names are fine"
@azzurrip, @chernyavskaya
Ciao,
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/VBFblikelihood.py#L67
makes the workflow crash because there is no more this trigger in TriggerTable: can you update the name?
Thanks

[2016-06-14 14:00] bianchini commented on #450
So, it is related to the fact that we use CMSSW_8_0_5.
We should move to 8_0_11 for the fix.

[2016-06-14 14:09] azzurrip commented on #458
Hi, the names have changed as follows

“HLT_QuadPFJet_DoubleBTagCSV_VBF_Mqq200” => “HLT_QuadPFJet_BTagCSV_p016_p11_VBF_Mqq200”
“HLT_QuadPFJet_DoubleBTagCSV_VBF_Mqq240” => “HLT_QuadPFJet_BTagCSV_p016_p11_VBF_Mqq240”
"HLT_QuadPFJet_SingleBTagCSV_VBF_Mqq460” => "HLT_QuadPFJet_BTagCSV_p016_VBF_Mqq460”
"HLT_QuadPFJet_SingleBTagCSV_VBF_Mqq500” => "HLT_QuadPFJet_BTagCSV_p016_VBF_Mqq500”

On 14 Jun 2016,

[2016-06-14 14:43] bianchini commented on #458
Fixed by https://github.com/vhbb/cmssw/pull/454/commits/9bb07a97e2e525f1e8f4d5def85feb10c5f5ff75

[2016-06-14 14:44] bianchini commented on #452
I'd say we can close

[2016-06-14 14:44] #452 closed, assigned to nobody

[2016-06-14 14:45] bianchini commented on #451
Done with https://github.com/vhbb/cmssw/pull/45

[2016-06-14 15:16] jpata commented on #450
according to JetMET 8_0_8_p1 is the minimum version https://hypernews.cern.ch/HyperNews/CMS/get/jes/605.html

[2016-06-15 13:09] bianchini commented on #451
A new pileup json is available:
https://hypernews.cern.ch/HyperNews/CMS/get/luminosity/583.html

[2016-06-16 07:07] bianchini commented on #458
By the way... given that the MC does not contain a proper trigger emulation, can we rely on this logic:
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/VBFblikelihood.py#L67
to run the VBFblikelihood?

[2016-06-16 07:24] azzurrip commented on #458
Indeed.  We still need to see in more detail how those HLT bits are filled in MC
(and if we can make any use of them). But for a first try we can leave the condition.

On 16 Jun 2016, at 09:07, bianchini <notifications@github.com<mailto:notifications@github.com>> wrote:

By the way... given that the MC does not contain a proper trigger emulation, can we rely on this logic:
https://github.com/vhbb/

[2016-06-16 10:15] bianchini commented on #451
added in https://github.com/vhbb/cmssw/pull/462

[2016-06-16 10:15] #451 closed, assigned to nobody

[2016-06-16 10:16] bianchini commented on #450
Fixed after switchig to 8-0-11
https://github.com/vhbb/cmssw/pull/462

[2016-06-16 10:16] #450 closed, assigned to nobody

[2016-06-16 10:17] bianchini commented on #443
@perrozzi
Ciao Luca, could you check if in the meantime some new sample arrived?

[2016-06-16 17:18] jpata opened #463 "compilation crash on DataFormats"
@gkasieczka, I still get a one-time crash on the 8_0_11 branch on the DataFormats compilation. Did your PR make it in?

[2016-06-16 17:31] gkasieczka commented on #463
git cms-merge-topic gkasieczka:htt-v2-80X-x2

Will fix it

On Thu, Jun 16, 2016, 19:18 Joosep Pata notifications@github.com wrote:

[2016-06-26 10:06] perrozzi commented on #443
cfr https://github.com/vhbb/cmssw/pull/471

[2016-06-29 13:21] bianchini commented on #458
Closing this issiue

[2016-06-29 13:21] #458 closed, assigned to nobody

[2016-07-05 22:16] perrozzi commented on #450
shall we reopen this?
https://hypernews.cern.ch/HyperNews/CMS/get/jes/609.html

[2016-07-06 08:13] jpata commented on #450
Hi, let's make a new PR simply?

[2016-07-11 08:44] bianchini opened #478 "New JEC/JER"
https://hypernews.cern.ch/HyperNews/CMS/get/jes/609.html

[2016-07-11 08:45] jpata commented on #478
it's already done...

[2016-07-11 08:45] jpata commented on #478
https://github.com/vhbb/cmssw/pull/477

[2016-07-11 08:48] bianchini commented on #478
Great! Thanks Joosep

[2016-07-11 08:48] #478 closed, assigned to nobody

[2016-07-11 13:07] bianchini opened #479 "Add PromptReco-v1 to V22"
Ciao, I see that https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/crab_data/datasets_DATA_25ns_Run2016.txt does not contain PromptReco-v1 samples.
Is there a reason? If not, could someone add them?

[2016-07-11 16:19] bianchini commented on #479
@cvernier

[2016-07-11 16:47] cvernier commented on #479
Hi, v1 should contain those runs that did not end up in the golden json, this is why we skip them.
@perrozzi

[2016-07-11 21:56] perrozzi commented on #479
Ciao, I don't have yet an official reference but I also think that v1 should not be used, by looking at DAS
v1
https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fphys03&input=dataset%3D%2FDoubleEG%2FRun2016B-PromptReco-v1%2FMINIAOD
v2
https://cmsweb.cern.ch/das/request?input=dataset%3D%2FDoubleEG%2FRun2016B-PromptReco-v2%2FMINIAOD&instance=prod%2Fphys03
and at this thread where

[2016-07-12 17:45] bianchini opened #480 "New BTag CSV"
See https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation80X

[2016-07-12 17:49] bianchini commented on #479
Ok thanks. Any chance that the next json will recover part of it? For the next iteration I would anyway run over it: if we get something, good, otherwise we don't lose much. Unless some of you is 100% sure that they are not to be included.

[2016-07-12 17:56] bianchini opened #481 "Muon ID recipe for ICHEP"
See https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1856.html

[2016-07-12 18:01] bianchini commented on #480
We should try to switch to the .csv based recipe. Not sure the root files will be still supported. The code is there, but needs to be validated.

[2016-07-12 19:45] cvernier commented on #479
ok. for v23 we will process them along with the new json.

[2016-07-13 08:09] silviodonato opened #483 "Top mass in VHbb ntuples"
@capalmer85 @scooperstein
I think it would be very useful to add the leptonic top mass and the hadronic top mass in VHbb ntuples.

[2016-07-13 08:11] jpata commented on #483
do you mean the generated top? That's already there (`GenTop_mass`, `GenTop_decayMode`)
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/vhbb.py#L133

[2016-07-13 08:15] silviodonato commented on #483
No, I don't. I was meaning the reconstructed top mass to reject TT in W(lv)H(bb) and Z(vv)H(bb).
The leptonic top mass is defined including the lepton, MET, and the closest b-jet.

[2016-07-13 08:17] jpata commented on #483
ok nevermind. I had added the GenTop_decayMode relatively recently, that's why I was wondering if you are looking for that.

[2016-07-14 10:51] jpata opened #486 "ttH reHLT TriggerResults missing"
I'm trying to run on a ttH reHLT sample

input

[code]

and I get

[code]

Any ideas?

[2016-07-14 10:53] jpata commented on #486
In the source file I have

[code]

I guess our code looks for HLT and not HLT2?

[2016-07-14 11:08] silviodonato commented on #486
right,
you have to change two lines in the vhbb.py

TrigAna = cfg.Analyzer(
     verbose = False,
     class_object = TriggerBitAnalyzer,
     triggerBits = triggerTable,  #default is MC, use the triggerTableData in -data.py files
_processName = 'HLT2',_

# outprefix = 'HLT'

[code]

and

### add trigger objects

from PhysicsTools.Heppy.analyzers.core.TriggerObjectsAnalyzer import TriggerObjectsAn

[2016-07-14 11:10] jpata commented on #486
yes, that's the problem that came to my mind now that we will be running it over grid... I don't have a smart fix right now. Maybe providing a dict which looks up the sample name at runtime?

[2016-07-14 11:30] silviodonato commented on #486
I think so.  We can simply put at the end of vhbb.py :

if "reHLT" in sample.files[0]:
    TriggerObjectsAna.triggerBitsInputTag = ('TriggerResults','','HLT2')*
    TrigAna.processName =  ('TriggerResults','','HLT2')

to solve the problem

[2016-07-14 12:00] silviodonato commented on #486
Uh, now I see the problem...
This change would not fix the problem on CRAB, because it overwrites the samples.
We should modify
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/crab/heppy_crab_script.py#L33

@arizzi  do you have any better idea?

[2016-07-14 14:32] arizzi commented on #486
can we use the fallback mechanism of the AutoHandle?

[2016-07-14 14:55] jpata commented on #486
I don't know about that mechanism, but a cursory look says that would also work.

[2016-07-15 13:36] scooperstein commented on #483
Hi Silvio,

Sorry for the late reply. We calculate the leptonic top mass using code borrowed from the top group.

https://github.com/capalmer85/AnalysisTools/blob/master/plugins/VHbbAnalysis.cc#L1586

I would be happy to help add the calculation of this variable to the Heppy code, although I am not really familiar with adding significant additions like this to the Heppy code so I think it would be

[2016-07-15 15:40] bianchini opened #493 "New JSON"
Need to add this one:
https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2684.html
And latest pileup file (if any)

[2016-07-16 10:05] bianchini commented on #493
- Golden JSON:  9.235 fb-1
- Muon Physics JSON: 9.42 fb-1

[2016-07-16 10:06] bianchini opened #495 "Electron SF available"
See https://hypernews.cern.ch/HyperNews/CMS/get/egamma/1753.html
SF available at https://twiki.cern.ch/twiki/bin/view/CMS/EgammaIDRecipesRun2

[2016-07-16 20:32] perrozzi commented on #480
https://github.com/vhbb/cmssw/pull/496

[2016-07-16 21:20] perrozzi commented on #493
https://github.com/vhbb/cmssw/pull/498

[2016-07-16 21:20] #493 closed, assigned to nobody

[2016-07-18 08:03] dcurry09 commented on #495
Created pull request # 503: https://github.com/vhbb/cmssw/pull/503

Scale factors for MVAID WP80 and 90 have been added.  ttH group has been contacted about 80X electron trigger SFs.

[2016-07-18 11:02] bianchini commented on #481
And https://hypernews.cern.ch/HyperNews/CMS/get/higgs/1868.html

[2016-07-18 11:03] bianchini opened #505 "New pileup json soon available"
See https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2685.html

[2016-07-19 10:00] GLP90 commented on #481
Concerning the data trigger efficiency: there are already some preliminary numbers provided by the POG on 2016 data:
https://twiki.cern.ch/twiki/bin/view/CMS/MuonWorkInProgressAndPagResults#Results_on_7_6_fb
The current issue seems to be a drop in efficiency in large pT (>120) - large eta (>0.9).

Another option would be to use the data efficiencies measured on 2015 data, which however stop at 120

[2016-07-19 10:02] degrutto commented on #481
Hi Gael , what about at low pt? I guess the tracker problem (HIP) in 2016 would start to impact  muon effciency already  20 GeVish

[2016-07-19 10:19] GLP90 commented on #481
To take the tracker inefficiency into account, we should also include the following SF:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/MuonReferenceEffsRun2#Tracking_efficiency_provided_by

[2016-07-19 13:39] GLP90 commented on #481
Stephane noticed the IsoMu22_OR_IsoTkMu22 triggers are not available in the Ntuples for data.
How should we proceed, use the IsoMu20_OR_IsoTkMu20 triggers together with the IsoMu22_OR_IsoTkMu22 SF, and start use a pT > 24 GeV cut for the muons ?

[2016-07-19 14:26] scooperstein commented on #481
About the muon ID and isolation, did we apply in V23 the 80X working points or the old 76X ones? If we used the new 80X working points then we can use the preliminary ID+ISO scale factors that Gael references above. If not, I guess we will have to discuss the best prescription to use for the moment.

[2016-07-19 14:52] bianchini commented on #481
Ciao, we are still using old muon/electron ID's, as no action was taken in time for this issue. At this point any SF is just a placeholder for me. Could someone commit the new muon ID and the new SF?

[2016-07-19 15:01] GLP90 commented on #481
Ciao Lorenzo. I can take care about this. Could you point me to the part of the code where the ID's should be implemented ?

[2016-07-20 21:58] perrozzi commented on #480
https://hypernews.cern.ch/HyperNews/CMS/get/btag/1324.html
"derived on the 7.7/fb or 9.2/fb data period, these SF are estimated to
be valid for the full ICHEP dataset (12.9/fb)."
https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation80X/CSVv2_ichep.csv
https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation80X/cMVAv2_ichep.csv

[2016-07-21 13:28] bianchini commented on #444
Can we consider it solved by https://github.com/vhbb/cmssw/pull/506?

[2016-07-21 13:28] GLP90 commented on #481
Looking at this twiki from the muon POG:
https://twiki.cern.ch/twiki/bin/view/CMS/SWGuideMuonIdRun2#Short_Term_Instructions_for_ICHE
It seems the loose and tight ID definitions (used by Zll, Wln resp.) were not modified to handle the HIP. Does it mean our current implementation of the ID in heppy is correct ?

[2016-07-21 13:40] scooperstein commented on #481
From what I see here in the Heppy code:

https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/vhbb.py#L322
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/vhbb.py#L326

I think that we take directly from the 80X miniAOD the definition of the ID. If that is indeed the case I think we already handle it correctly. Can someone please verify?

[2016-07-21 13:47] bianchini commented on #481
We are, but I doubt that the miniAOD scheduled long tome ago fulfill the https://twiki.cern.ch/twiki/bin/view/CMS/SWGuideMuonIdRun2#Short_Term_Medium_Muon_Definitio criteria...
I think one rather has to apply a few cuts by hand.

[2016-07-21 13:52] GLP90 commented on #481
Just for me to understand, why is it necessary ? Our selections are not using the Medium ID.

[2016-07-21 13:55] scooperstein commented on #481
I think that Lorenzo is saying that the definition of the loose/tight ID might have anyway changed a bit between when the 80X campaign was submitted and now.

[2016-07-21 14:03] GLP90 commented on #481
Ok thanks. I will have a look on the implementation to check if it is up-to-date with the current definitions.

[2016-07-21 14:52] azzurrip commented on #444
Yes, just tested it and it is fine.
Thanks

[2016-07-21 14:55] #444 closed, assigned to nobody

[2016-07-21 14:56] bianchini commented on #480
Done by https://github.com/vhbb/cmssw/pull/506

[2016-07-21 14:56] #480 closed, assigned to nobody

[2016-07-21 14:57] bianchini commented on #495
Any news about the trigger SF ?

[2016-07-21 15:48] dcurry09 commented on #495
From ttH the single electron SF for Data are not ready yet.  If we need for
next few days we could produce our own ele25 data trigger efficiencies and
change our single electron trigger at the same time.

On Thu, Jul 21, 2016 at 4:57 PM, bianchini notifications@github.com wrote:

##

## David Curry

Physics Department
CERN B8 R-031 || University of Florida, NPB 1218
curry@phys.ufl.edu
076 291 0492

[2016-07-22 16:40] bianchini commented on #495
https://hypernews.cern.ch/HyperNews/CMS/get/top/2284.html
and
https://hypernews.cern.ch/HyperNews/CMS/get/top/2285.html

[2016-07-23 20:42] GLP90 commented on #481
Update: I have implemented the latest loose, medium and tight POG id from [1](the implementation are available in [2]).
I produced a set of 800 event with Vtype == 0.
After comparing the *POG id (which are the one currently used for the tree preselection) and the new POG_ICHEP2016 ids, the conclusion are the following:

The current and ICHEP definitions for the loose and tight id are identical.
Th

[2016-07-26 13:08] jpata commented on #486
so @arizzi @bianchini @perrozzi & other vhbb maintainters, which approach do you prefer? the one I have in the PR (can we merge) or some other one?

[2016-07-26 13:10] jpata opened #508 "leptonic trigger efficiencies from reHLT"
discussed with @bianchini about measuring ad-hoc leptonic trigger efficiencies for the no-reHLT background samples from the signal sample.

@scooperstein @glp90 have you maybe already worked on it?

[2016-07-26 13:17] jpata commented on #508
What I would do is:

1) take the vhbb sample, tt+H(bb) reHLT events
2) for events with exactly one good signal lepton (passing ID), derive a pt-eta dependent turn-on for the SL triggers (2D map), independently for mu/e
3) for events passing the DL selection (exclusive to SL), derive 2x 2D maps (pt_high, eta_high) and (pt_low, eta_low) for the turn-on of the DL paths, independently for mumu, emu, e

[2016-07-26 13:52] jpata commented on #508
@silviodonato have you maybe thought about this already? trying to avoid duplication...

[2016-07-26 13:58] jpata commented on #505
what's the script you've used to update the PU?

[2016-07-26 14:15] perrozzi commented on #486
For V23 @cvernier and I split. I did the non-reHLT and she did the data and the reHLT.
Caterina did you use two branches or use a trick?

[2016-07-26 14:23] perrozzi commented on #505
@capalmer85 might provide more info as he is working on it.

what I learned is the following:
1) for a given campaign, heppy picks the data pu from here
https://github.com/perrozzi/cmssw/blob/V23/VHbbAnalysis/Heppy/test/puData.root
and the pu mc from here
https://github.com/perrozzi/cmssw/blob/V23/VHbbAnalysis/Heppy/test/puMC.root
2) each campaign is usually backed-up here
https://github.com/perro

[2016-07-26 14:52] jpata opened #509 "V24 checklist (tentative 29.07 submission)"
This is a meta-issue with a checklist of stuff we'd need for V24. I'd like to know in advance when we plan to submit it. I would propose end of this week (29.07).

crucial:
- [x] lepton trigger efficiencies for non-reHLT (trigger emulation): https://github.com/vhbb/cmssw/issues/508
- [x] reHLT vs no-reHLT code: https://github.com/vhbb/cmssw/issues/486
- [x] update PU: https://github.com/vhbb/cmssw

[2016-07-26 15:08] perrozzi commented on #509
deadline looks tight but would be perfect for VH, I think

[2016-07-26 15:37] capalmer85 commented on #505
Hi Everyone,

I think that Luca has summarized well. HIP and beam spot differences in MC & data have made life hard for vertex efficiency.  The HIP effect is a function of total instantaneous luminosity so at the beginning of a recent fill it looks like the total inefficiency could be higher than 10% wrt to current MC vertex reconstruction.

So we changed the recipe to match data and MC in rho and

[2016-07-26 16:48] GLP90 commented on #508
The way it is currently done (@scooperstein: correct me if I am wrong) is to use MC without any trigger applied and to multiply by the data trigger efficiency, provided centraly by the POGs. What would be the gain to calculate "our own" trigger weight ?

[2016-07-27 09:00] bianchini commented on #508
Gael: as we discussed before, we should:
- use the reHLT signals amples to derive the MC trigger efficiency in fine pT/eta binning, so we can simulate as good as we want the trun-on.
- apply this efficiency on the simulated samples as event weights
- apply data/MC SF as an event weight: the SF are typically more uniform vs pT/eta than the efficiency themselves.

[2016-07-27 09:05] bianchini commented on #509
Let me also add:
- new regression training
- muon ID https://github.com/vhbb/cmssw/issues/481
- electron energy regression: any update??

[2016-07-27 09:06] bianchini opened #510 "Energy regression for electrons?"
Is there a new scale/resolution correction for electrons?

[2016-07-27 09:07] degrutto commented on #509
Hi Lorenzo,

we should also fix some ZnnHbb trigger name....

[2016-07-27 15:59] gkasieczka opened #511 "Substructure Issues"
- Homogenize naming of branches so it's clear which branches are calibrated per default and which are not
- Shall we also put GenJets through the boosted procedure, at least for a subset of algorithms? Then we could do a proper matching of b-tagged subjets

[2016-07-27 17:00] jpata commented on #508
I've cleaned up the ttH(bb) trigger paths in https://github.com/vhbb/cmssw/pull/512

[2016-07-28 09:11] jpata commented on #505
@perrozzi could you document (or maybe just do yourself in case it's easier :) ) the PU update procedure? I'd like to submit new ntuples with updated PU weights tomorrow to make meaningful data/MC comparisons on Monday.

[2016-07-28 10:04] perrozzi commented on #505
doing reverse engineering of what I wrote above, you need to:

1) create a V24 folder here
https://github.com/vhbb/cmssw/tree/vhbbHeppy80X/VHbbAnalysis/Heppy/test/Lumi
copying the V23 files in it, to start with

2) substitute the JSON with the one you need (likely the ICHEP JSON /afs/cern.ch/cms/CAF/CMSCOMM/COMM_DQM/certification/Collisions16/13TeV/Cert_271036-276811_13TeV_PromptReco_Collisions16_

[2016-07-28 10:37] jpata commented on #508
@bianchini @perrozzi @GLP90 @silviodonato

I re-derived the Mu27 (as a placeholder for Mu22) MC trigger efficiency curves with the binning from the talk referenced by Gael [1]. I didn't change anything about the lepton ID or Iso, now I still use the inline definitions of selLeptons, this is also partial statistics only.

[trig_2d.pdf](https://github.com/vhbb/cmssw/files/388172/trig_2d.pdf)
[trig_m

[2016-07-28 10:38] jpata commented on #505
thank you, I will update the PU then.

[2016-07-28 10:51] jpata commented on #505
Maybe we need to increase the max PU bin, how about 75:

[code]

Also, is this normal?

[code]

[2016-07-28 11:01] perrozzi commented on #505
yes, in the sense that so far ther are no really events above 50 (but you could think of enlarging, most likely some hardcoded 50 might need to be changed in the code)
and for run 274969 read https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2686/1/1.html

[2016-07-28 11:11] perrozzi commented on #508
ciao
- in which sense Mu27 as a placeholder for Mu22? is the latter available?
- how did you compute the uncertainties? they seem to be very large (you might consider using the TEfficiency class in case https://iktp.tu-dresden.de/IKTP/Seminare/IS2010/Christian_Gumpert.pdf)
- there seem to be still a bit of stat fluctuation. which fraction of the dataset did you use?
- in case we don't have enough

[2016-07-28 11:21] jpata commented on #508
Thanks!

Quick answers
- it's s tiny fraction of ttH by design to get feedback
- Mu27 for code validation, we didn't save Mu22 in vhbb, I need to rerun the signal dataset in order to have it

Long answer in a bit

[2016-07-28 13:50] GLP90 commented on #508
I is currently not possible to produce the trigger efficiency SF using the tnp tool, the Ntuples don’t have the proper trigger emulation at the moment. One should compute them with the cut and count on the signal dataset, following the same binning as in [1].

[1] https://indico.cern.ch/event/556633/contributions/2242544/attachments/1308702/1957171/2016.07.13_MuonPOG_SingleMuTrigEff_80X_KPLee_v1.p

[2016-07-28 13:52] jpata commented on #508
sorry for my naivete, this question just occurred to me: don't we have a tautological definition of the data/mc scale factors in case we derive them from the emulation, not the real trigger?

[2016-07-28 14:21] jpata commented on #508
@GLP90 explained to me.

we do `MC * trigger_emu * (eff_data/eff_mc)`, where
- `trigger_emu` should be with a fine binning, capturing the turn-on, what I'm doing now
- `eff_mc` is with the broad POG binning, we also have to derive because the POG cannot do
- `eff_data` we get from the POG

we can use the same code for both.

[2016-07-28 14:21] perrozzi commented on #508
Ciao, TnP would ensure in (close-to) one go the same binning for data and mc,
so that when producing the data efficiencies one could produce also the MC efficiencies and automatically derive the SF.
When deriving the cut&count efficiencies in MC one would like to make fine bins to properly model the turn-on but then should make another set of efficiencies with coarser binning matching the data.
No

[2016-07-29 13:10] jpata commented on #508
I've rerun VHBB including #512 (i.e. the Mu22 triggers). I derived again these turn-ons, this time with the coarse binning as before, and as well a finer binning in pt=(15,30] with an 0.5 step. I've introduced the tight and loose ID criteria for the leptons. I also fitted an `erf` to the turn-ons "by hand" in bins of eta. I've processed roughly 80%  of ttH statistics, I have ~330k events with a ti

[2016-07-31 10:39] jpata commented on #509
I think I'm ready to submit. I will merge the ticked features myself to my branch [jpata/cmssw:meanalysis-80X-V24](https://github.com/jpata/cmssw/tree/meanalysis-80x-V24).

I will submit only the ttH-relevant samples, but the code is there for also others to use Andrea's submission scripts.

[2016-07-31 14:19] jpata commented on #509
Jobs running: [dashboard](http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=Joosep+Pata&refresh=60&table=Mains&p=1&records=-1&activemenu=1&pattern=*tth_Jul31_V24_v1*&task=&from=&till=&timerange=lastMonth)

[2016-08-01 09:19] jpata commented on #508
@bianchini @degrutto what would you recommend as a cross-check of this trigger emulation? Would it be sufficient to just re-exctract the turn ons from the weight?

[2016-08-01 09:24] degrutto commented on #508
yes,
and probably just check that for example they are flat vs  Njets/Nbjets or additional leptons

[2016-08-03 16:38] jpata commented on #509
seems like data are not well replicated. I've made another transfer of 50TB to T2_CH_CSCS, hopefully that will make data processing smoother.

[2016-08-05 07:51] jpata commented on #509
MC: [DAS](https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fphys03&input=dataset+dataset%3D%2F*%2Fjpata-tth_Jul31_V24_v1*%2FUSER+status%3D*) (basically done)

Data: [DAS](https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fphys03&input=dataset+dataset%3D%2F*%2Fjpata-tth_Aug3_V24_v2*%2FUSER+status%3D*) [dashboard](http://dashb-cms-job.cern.ch/dashboard/template

[2016-08-16 16:21] jpata opened #519 "update btag scale factors to ICHEP"
Need to update btag SF from `4invfb` to the `ICHEP` version.

https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation80X#Supported_Algorithms_and_Operati

Should use https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation80X/CSVv2_ichep.csv, https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation80X/cMVAv2_ichep.csv

[2016-08-16 16:21] jpata commented on #519
Need to follow procedure in https://github.com/vhbb/cmssw/pull/496

[2016-08-16 16:25] jpata commented on #519
@bianchini, I have a question about the btag calibration in #496: why are we using a binary blob `VHbbAnalysis/Heppy/data/csv/BTagCalibrationStandalone.so` ? Is this the way BTV POG is providing the calibration code?

[2016-08-16 16:30] jpata commented on #509
We made another data/MC run last week, see https://github.com/jpata/tthbb13/issues/84#issuecomment-239412419

[2016-08-16 16:35] jpata commented on #519
Never mind, @bianchini has already updated to the ICHEP SF long time ago...
https://github.com/vhbb/cmssw/commit/457a26c58b954923ea7961e7c91ff8f79c663146

[2016-08-16 16:35] #519 closed, assigned to nobody

[2016-08-17 13:59] gkasieczka opened #521 "Update b-tag SF (with HIP mitigation)"
Quoth Wuming Luo
"The b-tagging SFs have been updated for a while. I think I might have forgotten to send them around.
I’m very sorry about the delay. You can find them here on lxplus:
/afs/cern.ch/user/l/lwming/public/csvSFs2016/ICHEP_12p9_8_5_set/_8_5_"

Can somebody uodate these?

[2016-08-19 14:59] perrozzi commented on #481
@GLP90 can you make a PR?

[2016-08-19 15:00] perrozzi commented on #463
can this be closed? is there a PR to central vhbb?

[2016-08-19 15:04] #283 closed

[2016-08-19 15:05] perrozzi commented on #508
can this be closed?

[2016-08-22 20:27] perrozzi commented on #335
just to make sure, this can be closed right?

[2016-08-22 20:28] perrozzi commented on #429
what about this?

[2016-08-22 20:28] perrozzi commented on #437
what about this?

[2016-08-22 20:29] perrozzi commented on #438
is this still relevant?

[2016-08-22 20:39] #463 closed, assigned to nobody

[2016-08-23 06:08] veelken commented on #335
I agree this PR can be closed.

[2016-08-23 07:31] #335 closed

[2016-08-24 09:31] scooperstein commented on #521
Hi,
Thanks for sharing these. I think it would be very useful to try using these updated SF's on V23 via an external macro in the time before we have V24 ready. Are these intended to be used on top of the 8_0_X samples (like V23)? Or do we need to use these on samples which incorporate the HIP mitigation at the tracking level?

[2016-08-24 09:34] scooperstein commented on #521
@degrutto @bianchini @perrozzi @capalmer85

[2016-08-24 09:41] degrutto commented on #521
Hi

as far as I understand, these SFs are to be used for the full iCHEP dataset 13 fb-1 and or a dataset with >= the first 7.7fb-1 of 2016 data

[2016-08-24 10:18] jpata commented on #508
@perrozzi closing, as the PR has been merged.

[2016-08-24 10:18] #508 closed, assigned to nobody

[2016-08-24 10:23] perrozzi commented on #521
as far as I remember, this PR https://github.com/vhbb/cmssw/pull/496 should contain the SF computed on 7.7/fb and applicable to the ICHEP dataset (~13/fb)
@bianchini should confirm

[2016-08-24 10:34] scooperstein commented on #521
Okay thanks for the info. Do you know if they can be used on the 80X samples we have processed? My understanding is that the HIP mitigation also includes corrections at the tracking level that we won't have available until the ReReco.

[2016-08-24 15:30] cvernier opened #525 "MET filters for Znn"
Missing in the ntuples:
- badMuon (new.gif not available in miniAOD v2, see [1])
- badCharged hadron (new.gif not available in miniAOD v2, see [1])
- Flag_CSCTightHalo2015Filter had been replace by the Flag_globalTightHalo2016Filter for the ICHEP analysis
- Flag_globalTightHalo2016Filter is available only in 80X miniAODv2

[1] https://twiki.cern.ch/twiki/bin/view/CMS/MissingETOptionalFiltersRun2#M

[2016-08-25 09:56] degrutto commented on #525
Hi,

ok, see

#526

when we will have the V24 (and on) please use as MET filters

(Flag_HBHENoiseFilter && Flag_HBHENoiseIsoFilter && Flag_EcalDeadCellTriggerPrimitiveFilter && Flag_goodVertices && Flag_eeBadScFilter && Flag_GlobalTightHalo2016Filter)

while for V23 just (for now)

(Flag_HBHENoiseFilter && Flag_HBHENoiseIsoFilter && Flag_EcalDeadCellTriggerPrimitiveFilter && Flag_goodVertices && F

[2016-08-25 10:11] degrutto commented on #525
Hi,

just to comment further if I take the 9 fb-1 of MET dataset in V23 and I do

tree->Draw("Flag_HBHENoiseFilter && Flag_HBHENoiseIsoFilter && Flag_EcalDeadCellTriggerPrimitiveFilter && Flag_goodVertices && Flag_eeBadScFilter", "json && Vtype==4 && met_pt>150 && HCSV_pt>130 && Sum$(Jet_pt[hJCidx]>30)>=2")

I got 85% the efficiency of the MET filters, which sounds reasonable,
I don;t have now som

[2016-08-25 14:35] perrozzi commented on #521
I briefly discussed with @arizzi.
bottom line is:
- the snippet to produce a new csv with mitigation included exists (andrea wrote it) and can be run on miniaod in principle
- dinko should have included it in the jet tools code (need to xcheck)
- is probably better to proceed with an intermediate campaign now and postpone this new development, also in view of the forthcoming decision on the rereco

[2016-08-25 14:39] gkasieczka commented on #521
@perrozzi
Just to make sure there is no misunderstanding. You propose to wait with deploying our own version of the BTV track selection until the timescale of rereco is certain. That would be fine for me.

But we should still update the SFs to the ones covering the full ICHEP dataset, no?

[2016-08-25 14:44] perrozzi commented on #521
ciao @gkasieczka, as I wrote above (and as far as I remember) the PR #496 should contain the SF computed on 7.7/fb and applicable to the ICHEP dataset (~13/fb).
Am I wrong?
(@bianchini and/or @cvernier should confirm)

[2016-08-25 14:49] bianchini commented on #521
Ciao, I don'te remember but I think so: https://github.com/vhbb/cmssw/commit/457a26c58b954923ea7961e7c91ff8f79c663146
In generak:
if the code points to CSVv2_ichep.csv: OK
if the code points to CSVv2_4invfb.csv: BAD

[2016-08-25 14:59] perrozzi commented on #521
ok, so it looks like the PR ports the sf to the ichep dataset.

[2016-08-25 15:07] gkasieczka commented on #521
Ok, excellent. Thanks for checking - so we can close this issue.

[2016-08-25 16:02] jpata commented on #486
@perrozzi, we still need this code. Not sure why this was closed.
@cvernier I'm a bit lost here: https://github.com/vhbb/cmssw/pull/522

[2016-08-25 16:03] gkasieczka commented on #486
Yes, we should reopen this.

[2016-08-26 06:27] perrozzi commented on #486
unless I am missing something, shouldn't have https://github.com/vhbb/cmssw/pull/522 and https://github.com/vhbb/cmssw/pull/487 fixed it?

[2016-08-26 06:28] perrozzi commented on #486
@cvernier please (re-)confirm

[2016-08-26 07:05] arizzi commented on #486
I guys, not sure about the conclusion of this thread but as I pointed to some of you in july there is a feature of AutoLabel that would allow to specify a second label in case the first getbylabel fails. Can we try using that (i.e. exposing the fall back  label to our config) ?

[2016-08-26 07:30] perrozzi commented on #486
let's reopen, no problem from my side

[2016-08-26 08:45] gkasieczka commented on #486
Ok, I will look into a solution using AutoLabel

[2016-08-26 12:15] gkasieczka commented on #486
#528 should fix the issue. Tested on a "normal" and a reHLT file.

[2016-08-29 12:23] #486 closed, assigned to nobody

[2016-08-31 08:11] GLP90 commented on #481
Here:
https://github.com/vhbb/cmssw/pull/531

[2016-08-31 09:32] #481 closed, assigned to nobody

[2016-08-31 09:39] perrozzi commented on #495
do I understand that the electron trigger SF are still missing?
(MVAID sohuld be here https://github.com/vhbb/cmssw/pull/504)

[2016-08-31 09:49] perrozzi commented on #521
linked to https://github.com/vhbb/cmssw/pull/530
here the corresponding SF for the ICHEP dataset
/afs/cern.ch/user/l/lwming/public/csvSFs2016/ICHEP_12p9_8_5_set/
we will need to check how they compare to the current dataset (~25/fb) and eventually ask Wuming to compute them on the new dataset. any comment?

[2016-08-31 09:49] #505 closed, assigned to nobody

[2016-08-31 09:57] dcurry09 commented on #495
Yes, they were in the process of being calculated by Chris Palmer as of
last week.  I will commit as soon as they become available.

On Wed, Aug 31, 2016 at 11:39 AM, perrozzi notifications@github.com wrote:

##

## David Curry

Physics Department
CERN B8 R-031 || University of Florida, NPB 1218
curry@phys.ufl.edu
076 291 0492

[2016-08-31 13:42] #525 closed, assigned to nobody

[2016-08-31 13:51] #479 closed, assigned to nobody

[2016-08-31 13:51] arizzi opened #532 "Add 2016EFG"

[2016-08-31 13:51] #443 closed, assigned to nobody

[2016-08-31 13:52] #441 closed, assigned to nobody

[2016-08-31 13:53] cvernier opened #533 "aVH sample"
/ZHiggs0M_HToBB_M-125_13TeV-JHUgenV6/RunIISpring16MiniAODv2-PUSpring16RAWAODSIM_reHLT_80X_mcRun2_asymptotic_v14-v1/MINIAODSIM
/ZHiggs0PM_HToBB_M-125_13TeV-JHUgenV6/RunIISpring16MiniAODv2-PUSpring16RAWAODSIM_reHLT_80X_mcRun2_asymptotic_v14-v1/MINIAODSIM
/WHiggs0L1_HToBB_M-125_13TeV-JHUgenV6/RunIISpring16MiniAODv2-PUSpring16RAWAODSIM_reHLT_80X_mcRun2_asymptotic_v14-v1/MINIAODSIM
/WHiggs0L1fWH05ph0_H

[2016-08-31 13:54] arizzi commented on #429
VMt is in the ntuples, it is not V_mass

[2016-08-31 13:54] #429 closed

[2016-08-31 13:55] arizzi commented on #330
is this what @veelken sent in #527 and others ?

[2016-08-31 14:09] cvernier opened #534 "check PUid wp"
here the 80x
https://www.dropbox.com/s/x3wvesbyavtiqg3/PUIDpres1.pdf?dl=0
From:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD

[2016-08-31 15:17] silviodonato commented on #534
The current jet PU ID code was modified in June, the original PR is here [1](https://github.com/CERN-PH-CMG/cmg-cmssw/pull/649) and it was based to 76X.
Looking at [2](https://twiki.cern.ch/twiki/bin/view/CMS/PileupJetID#Information_for_13_TeV_data_anal), preliminary 80X WPs  are available and they can be obtained directly from 80X MiniAODv2.

Example from [2](https://twiki.cern.ch/twiki/bin/view/

[2016-09-01 06:29] arizzi opened #535 "Move to 8_0_17"
in order to use a more official BTV mitigation recipe

[2016-09-02 09:22] degrutto commented on #521
hi,

should we now switch to the SF with hip (BTV) mitigation from Robin? I will send him an email to be sure we pick the correct ones

[2016-09-02 10:14] degrutto commented on #521
Hi all,

so according to Robin the most recent files to use (for SF for HIP mitigations) are (derived on run2016B and C)

/afs/cern.ch/user/l/lwming/public/csvSFs2016/ttH_BTV_cMVAv2_13TeV_2016BC_7p6_2016_08_13.csv
/afs/cern.ch/user/l/lwming/public/csvSFs2016/ttH_BTV_CSVv2_13TeV_2016BC_7p6_2016_08_13.csv

[2016-09-02 14:17] #535 closed, assigned to nobody

[2016-09-02 14:35] arizzi commented on #509
we are trying to submit in the next few days, pleas review issues and provide PRs.

new base release is 8_0_19, someone should check if the updated btag SF  calibrator still makes sense (perhaps after we also switch to BTV mitigated SF in input)

[2016-09-04 20:50] degrutto commented on #521
please see #542

@bianchini @arizzi

[2016-09-05 11:57] degrutto commented on #521
as #542 has been merged, we can close this! thanks

[2016-09-05 11:57] #521 closed, assigned to nobody

[2016-09-06 13:08] azzurrip opened #545 "Restore the saving of V+jets without eta restrictions"
Would just need to change VHbbAnalyzer.py here
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/VHbbAnalyzer.py#L514
with :  len(event.jetsForHiggsAll) >= 2
instead of :  len(event.jetsForHiggs) >= 2

[2016-09-07 10:01] #545 closed, assigned to nobody

[2016-09-07 15:06] bianchini opened #548 "Improve leptonSF"
https://github.com/vhbb/cmssw/blob/vhbbHeppy76X/VHbbAnalysis/Heppy/python/leptonSF.py#L50-L66
could be imrpoved.

[2016-09-07 15:11] bianchini commented on #548
@GLP90: Gael, could you take a look: there are operations on strings that could be moved to the init function to speed up the code.

[2016-09-07 16:33] gkasieczka opened #549 "CMSSW Version"
I'm getting ugly merges (ie many checked out packages) when merging
`git cms-merge-topic vhbb:vhbbHeppy80X`
into a clean CMSSW 8_0_19 as well as a clean 8_0_19_patch1.

Is there another version to use, did we break sparse checkouts (or did I screw something up?)

Thank you!
Cheers,
Gregor

[2016-09-07 22:10] GLP90 commented on #548
@bianchini In order to assign the SF within the correct pT-eta bin, it is necessary to loop over the json entries for each new event. So I don't see how the e.g. etaL and etaH can be defined in the initialisation since they are different for each lepton. Am I missing something ?

[2016-09-08 08:39] perrozzi commented on #549
try with
git cms-merge-topic -u vhbb:vhbbHeppy80X

ciao
luca

[2016-09-08 08:56] gkasieczka commented on #549
Nice, did not know about this option.

Thanks!

[2016-09-08 08:56] #549 closed, assigned to nobody

[2016-09-08 16:13] BenjaminMesic opened #554 "Problem with reproducing HCSV_reg_mass from heppy variables"
I tried to reproduce H_*_mass from heppy jet variables ( pt, eta, phi, mass). I can reproduce the mass for HCSV_mass and H_mass, but I get different result for HCSV_reg_mass and H_reg_mass.

Dataset: SingleElectron, SingleMuon (V23)

Here is just the output for one event ("similiar effect" with other events as well... )

Event number:  536290689
- HCSV_mass: 81.8136367798
  M_hJCidx: 81.8136387957

[2016-09-12 10:20] jpata commented on #548
@GLP90 maybe you could do the parsing of the strings once in a setup function (like `__init__`) and prepare some sort of a lookup or map that will be used in the `get_2D` function that is faster?

[2016-09-13 07:04] arizzi commented on #554
I guess you should scale the whole p4 of the Jet with the regression factor, i.e. including the mass

M_reg_hJCidx =
ROOT.VHbb.M(
 _tree.Jet_pt_reg[_tree.hJCidx[0]],
 _tree.Jet_eta[_tree.hJCidx[0]],
 _tree.Jet_phi[_tree.hJCidx[0]],
 _tree.Jet_mass[_tree.hJCidx[0]]\* _tree.Jet_pt_reg[_tree.hJCidx[0]]/ _tree.Jet_pt[_tree.hJCidx[0]],
 _tree.Jet_pt_reg[_tree.hJCidx[1]],
 _tree.Jet_eta[_tree.hJCidx[1]]

[2016-09-13 07:06] arizzi commented on #548
you should just do the string to float conversion in init and prepare a dict (or any other structure.. perhaps even a ROOT.TH2F that has FindBin implemented in c++ !! ) to go faster event by event.

[2016-09-13 09:42] GLP90 commented on #548
Ok got it, thanks for the suggestion. I will make the modifications.

[2016-09-14 10:07] BenjaminMesic commented on #554
Thank you. It works.

Issue solved :)

[2016-09-14 10:08] #554 closed, assigned to nobody

[2016-09-23 12:55] jpata commented on #495
hello, news?

[2016-09-23 13:04] GLP90 commented on #495
The Json for the electrons trigger have been produced. However, after some first cross-checks, it seems the efficiency values are too low. So I think one would need to correct for this and reproduce the Json.

[2016-09-27 12:14] bianchini commented on #495
Ciao,
I see that we have these two set of "gsfToReco" SF:
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/data/leptonSF/ScaleFactor_GsfElectronToRECO_passingTrigWP80.json
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/data/leptonSF/ScaleFactor_GsfElectronToRECO_passingTrigWP90.json
Do people remember what they are for?

What we are instead missing are the pt-

[2016-09-28 12:43] bianchini commented on #495
A new set of SF for the GSF tracking is here: https://github.com/vhbb/cmssw/pull/556

[2016-09-28 12:43] bianchini commented on #548
Done here: https://github.com/vhbb/cmssw/pull/556

[2016-09-28 12:43] #548 closed, assigned to nobody

[2016-09-29 06:54] jpata commented on #509
closing this meta-issue

[2016-09-29 06:54] #509 closed, assigned to nobody

[2016-09-29 06:57] jpata opened #557 "V25 checklist"
TTH would like to do another submission very soon, in the next days.

Currently we have in the pipeline:

GSF ele SF: https://github.com/vhbb/cmssw/pull/556

@bianchini do you see any more upcoming things we should wait for?

[2016-09-29 07:37] bianchini commented on #557
Ciao Joosep, if we don't care care about looking beyond RunD, we can move on.

[2016-09-29 12:25] jpata commented on #557
I've submitted a run of VHBB+ttH with #556 under the tag `Sep29_v1`:

[dashboard](http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=Joosep+Pata&refresh=60&table=Mains&p=1&records=-1&activemenu=1&pattern=*Sep29_v1*&task=&from=&till=&timerange=lastMonth)

[2016-10-03 10:03] bianchini opened #558 "New JMAR recommendations"
Check here https://hypernews.cern.ch/HyperNews/CMS/get/jet-algorithms/399.html. In particular:
- PF jet ID: For 2.7 < abs(eta) <= 3.0, the cut on number of neutral
  particles is now > 2
  https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetID#Recommendations_for_13_TeV_data
- Pileup jet ID: A new training for 80X was integrated for the Fall16
  data-rereco and Tranch4 MC production. It can be re-ran

[2016-10-14 09:42] azzurrip opened #560 "Fill QGL also for leading forward jets"
Fill QGL inputs and output for the 4  pt-leading
jets in the event, including forward jets

[2016-10-16 14:04] veelken opened #561 "Proposal for modifying vhbb.py and vhbbobj.pj"
Dear all,

we would like to propose 3 modifications to vhbb.py and vhbbobj.py for the ttH, H->tautau analysis. We believe the modifications will not introduce any problem for anyone, except for an increase in filesize for some of the samples. Please let us know what you think.

Cheers,

Karl and Christian
for ttH, H->tautau
## vhbb.py

1) In the VHbbAnalyzer config we would like to set the flag pa

[2016-10-24 10:41] tseva opened #562 "GenJet_pdgId is always zero in DY sample??"
Dear all,
I'm suing this trees to do Zbb ( and maybe also Z->bb) analysis, I have a problem with following variables:
1. I assumed this variable: GenJet_pdgId represents type of gen jet (ucdsb)? But it seems it's value is always zero ?
1a. When using this variable: GenJet_numBHadrons ,  we seem to get ~200 gen b jets
2.  is there some other way to get gen jet flavour out from the trees ?
3. Is the

[2016-10-25 09:31] bianchini commented on #562
Hi Tomislav,
you should use Jet_mcFlavour for the parton flavour of the gen-jet associated with some reco-jet (21, 0, 1,2,...). We use Jet_hadronFlavour==5,4,0 to define b-jets, c-jets, and all the rest. Use GenJet_numB(C)Hadrons[Jet_mcIdx[x]] to count the number of such hadrons for reco-jet of index 'x'
This definition comes form ghost matching of hadrons, while mcFlavour from geometrical matchin

[2016-11-07 18:26] veelken commented on #561
The modifications are implemented in vhbb#564

[2016-11-10 18:43] gkasieczka opened #565 "Match Ak08 subjets to fatjets"

[2016-11-17 12:22] #557 closed, assigned to nobody

[2016-11-17 12:29] jpata opened #566 "Factorized JEC uncertainties"
We need to factorize the various jet energy correction uncertainties.

The best resource I could find for this is here: https://twiki.cern.ch/twiki/bin/viewauth/CMS/JECUncertaintySources#Main_uncertainties_2015_76X

The GT that we currently use is Spring16_25nsV6_MC from https://twiki.cern.ch/twiki/bin/view/CMS/JECDataMC

I have a piece of code for `JetReCalibrator` that can do it by loading the f

[2016-11-17 13:20] jpata commented on #566
Looks like the DATA and MC total Uncertainties are exactly the same:

[code]

There is a Spring16 file `Spring16_25nsV6_DATA_UncertaintySources_AK4PFchs.txt` that contains the uncertainty sources, but it's named `DATA`. Does anyone have an idea if it's simply broken naming by JetMET? Can I just copy the `DATA` to `MC`?

[code]

[2016-11-17 17:04] jpata commented on #566
I've calculated the JEC uncertainties on some test jobs using the Fall15 GT and the results a bit strange:

[code]

Meanwhile we wait for clarification about the tags from the JECR experts on a private thread started by Wuming.

[2016-11-18 15:01] capalmer85 commented on #566
@jpata what features do you find strange about the results you posted?  Are the differences smaller than you would expect?  I guess that the nominal correction is ~1.088 for your example jet.

How does the total compare to the unfactorized version for this jet?  I would assume that they should match and that would be a closure test.  Right?

[2016-11-18 15:19] jpata commented on #566
I was surprised that some variation uncertainties are 0 (`AbsoluteFlavMap`, ..., `TimeEta`). A closure check would be useful, yes.

[2016-11-23 16:08] jpata commented on #566
The closure studies were reported in the Hbb meeting: https://indico.cern.ch/event/566856/contributions/2381747/attachments/1376525/2090577/Nov23_jec.pdf

Here is a ~full stats tt+jets sample in case someone wants to check:
https://cmsweb.cern.ch/das/request?input=%2FTT_TuneCUETP8M1_13TeV-powheg-pythia8%2Fjpata-Nov22_v2-1601f15dc83d6e16ec147c1ca5295ccb%2FUSER&instance=prod%2Fphys03

[2016-11-24 15:12] cvernier opened #569 "add lepton cleaning for AK8 jet"
@degrutto

[2016-11-28 13:08] jpata commented on #566
By me, this is a candidate for the final version.

[2016-11-29 16:46] gkasieczka commented on #558
@degrutto @arizzi

I assume v25 will produced using the ReReco data and Moriond17 MC? This means the PU jet ID should already be up to date.

I will take care of updating the PF Jet ID once we moved to the new Heppy base.

[2016-12-07 09:30] jpata opened #573 "new GT"
Spring16_25nsV10, https://hypernews.cern.ch/HyperNews/CMS/get/jes/639.html

[2016-12-07 09:33] jpata commented on #566
Can this be merged?

[2016-12-07 09:36] bianchini commented on #566
Did you have any feedback by JME about the list of uncertainties?

[2016-12-07 09:38] jpata commented on #566
from Henning Kirschenmann [1]: "Looks good, but you should include RelativeStatFSR, RelativeStatEC2 as well as far as I can tell."

[1] https://hypernews.cern.ch/HyperNews/CMS/get/jes/636/2/1/1.html

[2016-12-07 09:39] jpata commented on #566
RelativeStatFSR was included, for RelativeStatEC2 we need a new tag (maybe there in V10 now): https://github.com/vhbb/cmssw/pull/570/files#diff-7a66d22f66bf91528b2f205c870e168dR343

[2016-12-07 09:54] jpata opened #574 "continous integration (CI) on gitlab"
CERN gitlab supports native CI on CERN OpenStack: https://gitlab.cern.ch/ttH/CommonClassifier/commit/7ef6fb4beea5bc5cf1c78a9cac97e30d306df6ce/builds

CI means that a machine will automatically test a PR once it's made, before it's merged. I would propose to move the vhbb repo to gitlab, once we figure out the new model.

[2016-12-07 10:05] arizzi commented on #574
do you know how central cms-sw does it on github.com ?  anyhow I'm ok with trying the gitlab option if someone is going to maintain the autotesting scripts

[2016-12-07 10:08] jpata commented on #574
I believe cms-sw has it's own tests system at CERN via the integration builds, I don't really know the details there. The way to set up this testing on openstack seems relatively straightforward, I'm doing it for my own analysis codes now and I'll report how it went.

[2016-12-07 10:10] arizzi commented on #574
great

[2016-12-07 10:20] ferencek commented on #574
Naively, I would expect that using this CI feature will only be possible if the official repo is also migrated to Gitlab.

[2016-12-07 10:21] jpata commented on #574
why? in git there is no concept of "official repo".

[2016-12-07 10:22] ferencek commented on #574
In theory. In practice you are still making PRs to just one, main repo.

[2016-12-07 10:24] jpata commented on #574
well, if you want your PR-s to be tested automatically, then indeed you need to PR against the repo where CI is set up. I guess by official repo you mean `github.com/vhbb/cmssw` that the vhbb-folks use for their activities?

[2016-12-07 10:47] ferencek commented on #574
Yes, here the "official" repo would actually be https://github.com/vhbb/cmssw since PRs are made against it. So in principle it could be migrated to Gitlab and then later somebody would have to take care of keeping the code in sync with the upstream developments in https://github.com/cms-sw/cmssw (something that has to be done already).

I know nothing about CI but would it perform the compilation

[2016-12-07 11:05] arizzi commented on #574
I think the idea was to move the VHbb part out of CMSSW so the test infrastructure should just prepare a release working area but not actually compile a full cmssw

[2016-12-07 11:14] ferencek commented on #574
@arizzi, taking any analysis packages out of CMSSW and keeping them in a separate repo is in my experience more practical simply because you are not dragging along all sorts of unrelated developments in CMSSW itself. Also, switching to a more recent release in the same release cycle is a breeze without having to perform any rebasing and all other complications that come with it.

However, for CI I

[2016-12-07 11:16] arizzi commented on #574
the question is if on the server side the "tests to run" are arbitrary code that can access scram repositories (being at CERN I guess so?)

[2016-12-07 11:18] ferencek commented on #574
That I don't know. @jpata maybe knows more about what can be done as part of the tests infrastructure on the server side.

[2016-12-07 11:18] cvernier opened #575 "CMVA SF = 0 for pt > 300 GeV"
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/python/btagSF.py#L103
This has to be updated from 320 to 300 otherwise SF are always 0 if pt > 300 GeV.

[2016-12-07 11:38] bianchini commented on #575
Ciao, I fixed it in https://github.com/vhbb/cmssw/pull/568/commits/afe74cd32896ec259f351a5a910ae058948c30bc
We will get it once we merge my PR on the kin fit.

[2016-12-07 11:39] cvernier commented on #575
thanks!

[2016-12-07 11:39] #575 closed, assigned to nobody

[2016-12-07 12:41] arizzi commented on #574
clicking on his top thread link and then on the "compile" test
https://gitlab.cern.ch/ttH/CommonClassifier/builds/130564
it seems scram is there

[2016-12-07 12:43] jpata commented on #574
yes, the single advantage and killer feature of CERN gitlab is that the CI runs directly on the CERN machines that have `cvmfs` and other standard things. Setting CMSSW up is really trivial, just look at this file: https://gitlab.cern.ch/ttH/CommonClassifier/blob/master/.gitlab-ci.yml

This doesn't compare with manual CI management via external services as on github.

[2016-12-07 12:53] ferencek commented on #574
Looks nice :)

[2016-12-07 12:59] jpata commented on #574
I have a build ongoing for my ttH code that also checks out vhbb: https://gitlab.cern.ch/jpata/tthbb13/pipelines/54522
Of course it takes a bit of time to compile our packages on a single core but one can do other things meanwhile.
It doesn't compile CMSSW from scratch, released packages are taken from cvmfs.

[2016-12-08 15:15] degrutto commented on #573
Hi,

how do we make sure when we run on data we use the correct GT? Is there some code already from some repository we can steal or for example we work at crab submission level?

[2016-12-08 15:16] jpata commented on #573
Ciao, sorry I'm not precisely sure what your question is, but the GT is configured in the usual way in `vhbb.py`. Also someone needs to dump the JEC files into the `data` dir.

[2016-12-08 15:22] degrutto commented on #573
Hi @jpata
I am referring to the fact that I read
IOV BCD: [1,276811] corresponds to Spring16_25nsV10BCD_DATA.tar.gz
IOV E: [276831,277420] corresponds to Spring16_25nsV10E_DATA.tar.gz
IOV F: [277772,278801] corresponds to Spring16_25nsV10F_DATA.tar.gz
IOV G: [278802,Infinity] corresponds to Spring16_25nsV10p2_DATA.tar.gz

I'm not sure, actually I don't think that in heppy we have an IOV (i.e. a wa

[2016-12-08 15:25] jpata commented on #573
ah, I see. Good question indeed... For crab submission we can pass the GT as an extra argument, I think.

[2016-12-15 14:57] arizzi opened #577 "LHE eigenparameterization"

[2016-12-15 14:57] arizzi opened #578 "deep flavour"

[2016-12-16 13:50] veelken opened #581 "Add new b-tag discriminators"
add DeepCSV b-tagging discriminator announced in https://hypernews.cern.ch/HyperNews/CMS/get/top/2363.html

[2016-12-16 13:52] veelken opened #582 "Add new electron ID MVAs"
add new electron ID MVAs announced in https://hypernews.cern.ch/HyperNews/CMS/get/egamma/1824.html

[2016-12-16 13:55] veelken opened #583 "Update 2016 triggers"
Michele has already updated the single electron and single muon trigger paths for 2016 ( https://github.com/vhbb/cmssw/pull/576 ). The double electron, double muon, electron+muon and tau trigger paths still need to be checked and/or updated.

[2016-12-16 15:27] degrutto commented on #569
see https://github.com/vhbb/cmssw/pull/584

[2016-12-16 19:44] cvernier commented on #581
see #578

[2016-12-16 19:45] cvernier opened #585 "double-b retraining"
new training for double-b needed for Summer-16

[2016-12-19 14:44] jpata commented on #573
to confirm, likely we'll need run-dependent GT/JEC configuration for data.

[2016-12-20 13:07] jpata opened #588 "genjet pt cut affecting jet mcIdx"
It would be possible to retrieve the `GenJet` associated to a `Jet` using `Jet_mcIdx`, but genjets are saved with a pT cut [1], which makes the index saved in the final tree incorrect (some genjets are missing).

This affects the study we discussed, @bianchini.

[1] https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/vhbb.py#L148

[2016-12-22 04:58] cvernier opened #589 "update training for regression"
A Summer16 ttbar sample is needed to produce the new training.

[2017-01-03 10:04] perrozzi opened #590 "current repository version doesn't merge topic in CMSSW_8_0_21"
happy new year.
there seems to be a problem in the repository.
when trying to download the vhbb repository with
`git cms-merge-topic -u vhbb:vhbbHeppy80X `
I get
[code]
and git status says
[...]
[code]

[2017-01-05 15:23] veelken commented on #583
Done. The triggers are included in PR #561.

[2017-01-05 15:23] #583 closed, assigned to nobody

[2017-01-05 15:23] #561 closed, assigned to nobody

[2017-01-09 08:54] arizzi commented on #589
how many events?

[2017-01-09 08:56] arizzi commented on #588
aren't the genjet pt sorted? if so the index should be valid until the pt cut (i.e. if the index is greater than nGenJet the association is not available because we do not store GenJets below threshold)

So are you sure there is something "incorrect" or just some info being missing? In case there are incorrect assignment it means we should first pt-sort the genjet

[2017-01-09 08:57] arizzi commented on #585
which samples? how many events?

[2017-01-09 10:12] arizzi commented on #590
fixed in #591

[2017-01-09 10:12] #590 closed, assigned to nobody

[2017-01-09 10:14] arizzi commented on #573
I'll take care of this in the crab script, can someone meanwhile dump all payloads in the relevant vhbb heppy directories and make a PR?

[2017-01-09 11:01] jpata commented on #573
OK, doing it!

[2017-01-09 11:33] jpata commented on #573
https://github.com/vhbb/cmssw/pull/593

[2017-01-09 12:56] jpata commented on #573
looks like the newest GT for Data is `Spring16_23Sep2016V2`, the one for MC is identical to 25nsV10: https://twiki.cern.ch/twiki/bin/view/CMS/JECDataMC

Waiting for #592 to be merged in order to test coherently in CMSSW 8_0_21.

[2017-01-09 13:18] cvernier commented on #589
500k events of ttbar

[2017-01-09 13:20] cvernier commented on #585
just need the recipe to include the latest training. https://twiki.cern.ch/twiki/bin/view/CMS/Hbbtagging#V4_training

[2017-01-09 14:36] arizzi commented on #585
how about this:

  [image: Warning, important] Currently the V4 training is only provided
for AK8 jets.

On Mon, Jan 9, 2017 at 2:20 PM, Caterina Vernieri <notifications@github.com>
wrote:

[2017-01-09 14:36] arizzi commented on #560
can you guys make a PR? or should I do it?

[2017-01-09 14:37] arizzi opened #594 "update PU weight"

[2017-01-09 14:48] cvernier commented on #585
it's ok, as far as I know no analysis is using the CA15 jets.
the old one is still valid for CA15.

[2017-01-09 15:11] arizzi commented on #585
we do run CA15... are we really not using it @gkasieczka @ferencek ?

[2017-01-09 15:18] arizzi commented on #589
submitting right now (I assume it doesn't depend on other still to merge stuff, right??)

[2017-01-09 15:21] cvernier commented on #589
just the updated JEC

[2017-01-09 15:50] arizzi commented on #573
but we were using Spring16_25nsV6_MC... so we still need to update, right?

[2017-01-09 15:50] jpata commented on #573
yes, we skipped one.

[2017-01-09 16:01] arizzi opened #595 "Update triggers for last run periods"
@cvernier @degrutto @bianchini @perrozzi

any volunteer to update the triggers ?

[2017-01-09 16:04] degrutto commented on #595
Hi Andrea,
I think that between a previous PR of me and Christian we should be set
I'll double check

[2017-01-10 09:27] arizzi commented on #589
have a look
/store/user/arizzi/VHBBHeppyA25/TTJets_DiLept_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/VHBB_HEPPY_A25_TTJets_DiLept_TuneCUETP8M1_13TeV-madgraphMLM-Py8__RunIISummer16MAv2-PUMoriond17_80r2as_2016_TrancheIV_v6-v1/170109_164717/0000/

more files coming after resubmit di maxram

[2017-01-10 13:35] arizzi commented on #483
anyone working on this?

[2017-01-10 13:38] arizzi commented on #511
what should we do with this?

[2017-01-10 13:38] #532 closed, assigned to nobody

[2017-01-10 13:39] arizzi commented on #534
We should check JetID and PUJetID for rereco/newMC

[2017-01-10 13:40] arizzi opened #597 "MET tails in rereco"
understand if any action is needed for us

[2017-01-10 13:40] #581 closed, assigned to nobody

[2017-01-10 13:41] ferencek commented on #585
Ideally, it would be nice if we had v4 training for CA15 jets as well. But since we don't, we'll have to stay with v3 for CA15 and switch to v4 for AK8. Note that the training files are explicitly defined in https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/combined_cmssw.py#L332-L344 so that needs to be updated in addition to following the recipe at https://twiki.cern.ch/twi

[2017-01-10 13:41] arizzi commented on #569
@ferencek @cvernier  can you please review the PR and green light it if ok?

[2017-01-10 13:43] arizzi commented on #566
the PR was merged, can we close this issue?

[2017-01-10 13:43] jpata commented on #566
yes

[2017-01-10 13:44] arizzi commented on #565
more details please... which matching are we talking about? just storing the parent fatjet information of miniaod?

[2017-01-10 13:44] #566 closed, assigned to nobody

[2017-01-10 13:45] gkasieczka commented on #511
I am fine to do some renaming or leave matters at it is. The usual tradeoff between a slightly messy naming scheme and losing compatibility with previous iterations.

It seems there was no more strong demand for the b-tagged subjets, so this is not needed at the moment.

[2017-01-10 13:48] gkasieczka commented on #565
Yes. This was also done in #592 so can be closed.

[2017-01-10 13:53] gkasieczka commented on #534
Using the ReReco will give us up-to-date version of PU Jet ID:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/PileupJetID#Information_for_13_TeV_data_anal

There was a recent change to Jet ID criteria for 2.7 < abs(eta) < 3 jets:
https://twiki.cern.ch/twiki/bin/view/CMS/JetID13TeVRun2016

[2017-01-10 13:59] #565 closed, assigned to nobody

[2017-01-10 14:21] ferencek commented on #585
In addition, I guess https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/combined_cmssw.py#L671-L687 can be removed or commented out.

[2017-01-10 14:26] arizzi commented on #585
it should be in fact converted into running deepCSV

[2017-01-10 15:01] capalmer85 commented on #483
Stephane asked for help in his last email.  I don't think anyone offered
him any.  :(

I think Stephane basically needs to know where to put the code (we already
have it written in our framework) and perhaps a pushing recipe if it is
complicated.

Can you or someone else offer those two pointers?

On Tue, Jan 10, 2017 at 8:35 AM, arizzi <notifications@github.com> wrote:

[2017-01-10 15:16] arizzi commented on #573
crab mechanism implemented too #599  (to be tested after some issue with running on data are solved).
We can close this issue

[2017-01-10 15:16] #573 closed, assigned to nobody

[2017-01-10 15:22] arizzi commented on #483
the code I see is in c++, can you make it in python ?
consider that all variables you use are already in form of p4 in heppy and they are named e.g. event.selectedLeptons or stuff like that...

the final location doesn;t matter we can cut and paste it anywhere, but you can implement a computeTopMass function in VHbbAnalyzer.py and then call it in the main function "process"

[2017-01-10 18:26] cvernier commented on #585
#602

[2017-01-10 19:34] scooperstein commented on #483
okay thanks for the info. I will start with implementing a computeTopMass(lep 4-vector, MET 4-vector, b-jet 4-vector) function in python and I'll put it somewhere in VHbbAnalyzer.py. If it is not clear to me where to go from there I may consult someone more experienced with Heppy development to help with the final incorporation into the ntupler. I'm working on something else for tomorrow but I am

[2017-01-11 15:37] arizzi opened #603 "MET stuff"
https://github.com/cms-sw/cmssw/pull/16174

[2017-01-11 16:31] #585 closed, assigned to nobody

[2017-01-11 16:33] arizzi commented on #595
please close this as soon as you double check

[2017-01-11 18:45] arizzi opened #607 "Solve the memory problem"
we often run out of memory on grid, I think the issue is due to the following bad ordering of tasks

a) we load the json files of SF and stuff like that at config time
b) just loading the config means reaching 1GB
c) then we run the preprocessor, cmsRun, that needs 1-2GB
d) then we really run the heppy part where we need SF and stuff like that

We must implement a deferred loading of the payloads

[2017-01-12 09:56] arizzi commented on #588
@jpata can you confirm what I wrote? is the fix really needed?

[2017-01-12 15:17] arizzi commented on #607
#608 should reduce by 500MB and should be enough for now

[2017-01-12 15:17] #607 closed, assigned to nobody

[2017-01-12 15:19] arizzi commented on #560
#601

[2017-01-12 15:19] #560 closed, assigned to nobody

[2017-01-12 15:21] arizzi commented on #562
can we close this?

[2017-01-12 15:36] #595 closed, assigned to nobody

[2017-01-12 15:42] #569 closed, assigned to nobody

[2017-01-12 16:59] azzurrip opened #611 "Update QGL training"
for  8_0_20 Moriond17 samples

[2017-01-12 17:53] tseva commented on #562
Sorry forgot to do it. So please close it.

Tomislav

[2017-01-12 17:54] #562 closed, assigned to nobody

[2017-01-12 18:11] scooperstein commented on #483
I adapted the C++ code from the top group that we had incorporated into the WH(bb) framework into a self-contained python script.

https://github.com/scooperstein/PrincetonAnalysisTools/blob/master/scripts/getTopMass.py

Like we discussed at the meeting today, it is now a matter of incorporating this into Heppy. Maybe we can iterate further via email to discuss how is best to do that.

[2017-01-12 18:21] arizzi commented on #483
@scooperstein I thought it was just few lines of python to write, not 200 lines of math operations!
What was supposed to be pythonized was the computeTopMass function that you pointed us to (I thought that was it and nothing else was needed, I did not notice it was calling other functions in the same file).
It could be quite slow to make all that math in python indeed (beside you spent a day conve

[2017-01-12 22:03] scooperstein commented on #483
Sorry for the misunderstanding. Well we now have the necessary pieces written in both python and C++. :)  Please let me know how you think we should proceed. I can quickly provide the same pieces in C++ if needed.

[2017-01-12 22:18] nadya-chernyavskaya commented on #611
Pull request is done :
https://github.com/vhbb/cmssw/pull/612

[2017-01-13 09:47] arizzi opened #613 "remove BTV Hip Mitigation stuff"

[2017-01-13 10:50] arizzi commented on #611
#615

[2017-01-13 10:50] #611 closed, assigned to nobody

[2017-01-13 13:29] arizzi opened #616 "GT for boosted analysis"

[2017-01-13 18:38] capalmer85 commented on #582
I'm working on this now.  It looks pretty straightforward to implement.  That should be ready in 20-30 minutes, but I need to run it on some signal to see that it actually works as we'd like it to.

[2017-01-13 20:05] arizzi commented on #613
#621

[2017-01-13 20:05] #613 closed, assigned to nobody

[2017-01-13 20:05] arizzi commented on #594
#621 #622

[2017-01-13 20:05] #594 closed, assigned to nobody

[2017-01-13 20:05] arizzi commented on #578
#621

[2017-01-13 20:05] #578 closed, assigned to nobody

[2017-01-13 20:18] arizzi commented on #558
PU JetID wp are read from this
PhysicsTools/Heppy/python/physicsutils/PuJetIDWP.py
that is hardcoded Heppy stuff... how can you be so sure that being ReReco we are ok??

[2017-01-13 20:21] arizzi commented on #558
plus right now we actually take it from here
vhbb_combined.py:JetAna.externalPuId="pileupJetIdUpdated:fullId"
but removing this line rather than getting the puID from the file we get the hardcoded heppy stuff

[2017-01-13 20:23] arizzi commented on #534
see #558 , the fact that miniAOD contains the new PU ID doesn't mean we are using it

[2017-01-13 20:23] #534 closed, assigned to nobody

[2017-01-13 20:25] arizzi commented on #483
we can probably do some speed test of the python solution, if ok we go with it, otherwise we can put the C++ class in src, make a dictionary and use it the same way as SoftActivity and ColorFlow classes

[2017-01-13 20:30] arizzi opened #626 "Switch GT to DATA in cmsRun config!!"
@gkasieczka @jpata was it always like this?!?

https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/combined_cmssw.py#L324

[2017-01-14 13:38] arizzi opened #628 "Protect LHE weights producer"
example failing sample:

== CMSSW: 14-Jan-2017 06:00:52 EST  Successfully opened file root://cms-xrd-global.cern.ch//store/mc/RunIISummer16MiniAODv2/WZToLNu2QorQQ2L_aTGC_13TeV-madgraph-pythia8/MINIAODSIM/PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/120000/24920A9C-47C8-E611-A8E5-A0000420FE80.root

@perrozzi

[2017-01-14 14:38] perrozzi commented on #628
this particular sample is not needed (aTGC) but the problem indeed could should up for pythia only samples etc
is there a way to avoid the "Found zero products matching all criteria" error?
As far as I know, in the cfg one can add something like "don't exit' when you find an exception but I am not sure what to do at c++ code level.
any example?

[2017-01-16 01:40] capalmer85 commented on #582
@veelken @arizzi I have made a PR ( #624 ), but this line of code is wrong and I'm not sure how to fix it.

https://github.com/vhbb/cmssw/pull/624/files#diff-494d8fe1d85bddc5a8257b3b76287216R16

I'm not sure where  ROOT.heppy.EGammaMvaEleEstimatorFWLite() is.  I believe I need to edit that to making a working line like:
if type == "GenSpring16":  self.etype = self.estimator.kGenSpring16;

[2017-01-16 08:16] arizzi opened #629 "Fix division by zero in boosted jet correction"
@gkasieczka

[2017-01-16 08:45] veelken commented on #582
Hi Chris,

I think you need to change theline
   if type == "GenSpring16":  self.etype = "GenSprint16";
to
   if type == "GenSpring16":  self.etype = self.estimator.kSpring16;

You then need to edit
   https://github.com/capalmer85/cmssw/blob/8281a3241ba76926bdeb94cd3a55f3ab0898939d/PhysicsTools/Heppy/interface/EGammaMvaEleEstimatorFWLite.h
and add kGenSpring16 as an enum after line 24 in EGammaMv

[2017-01-16 11:24] arizzi commented on #589
#623